/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-accordion {
    box-shadow: inset 0 0 0 1px var(--border-default-grey);
  }

  .fr-accordion::before {
    box-shadow: none;
  }

  .fr-accordion__btn {
    box-shadow: inset 0 0 0 1px var(--border-default-grey);
    page-break-after: avoid;
  }

  .fr-accordion__btn::after {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    transform: rotate(-180deg);
  }

  .fr-accordion .fr-collapse {
    --collapse-max-height: none !important;
    --collapse: inherit !important;
    visibility: visible;
    padding: 1rem;
  }
}
