/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

.fr-input {
  /**
  * Style du placeholder
  */

  /**
  * Style pour l'état désactivé
  */

  /**
  * Modificateur pour les champs validés
  */

  /**
  * Modificateur pour les champs présentant des erreurs
  */

  /**
  * On applique un style lorsque la valeur est automatiquement remplie par le navigateur
  * sur les navigateurs webkit.
  */
}

.fr-input:disabled {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
}

.fr-input[type=date]:disabled {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
}
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-input-wrap--addon .fr-btn {
    flex-shrink: 0;
  }

  .fr-input {
    color: #161616;
    background-color: #eee;
    box-shadow: inset 0 -2px 0 0 #3a3a3a;
  }

  .fr-input::placeholder {
    color: #666;
  }

  .fr-input--valid {
    box-shadow: inset 0 -2px 0 0 #18753c;
  }

  .fr-input--error {
    box-shadow: inset 0 -2px 0 0 #ce0500;
  }

  .fr-input:autofill,
  .fr-input:autofill:hover,
  .fr-input:autofill:focus,
  .fr-input:-webkit-autofill,
  .fr-input:-webkit-autofill:hover,
  .fr-input:-webkit-autofill:focus {
    box-shadow: inset 0 -2px 0 0 #3a3a3a, inset 0 0 0 1000px #e8edff;
    -webkit-text-fill-color: #161616;
  }

  .fr-input[type=date] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24'%3E%3Cpath fill='%23161616' d='M17 3h4c.55 0 1 .45 1 1v16c0 .55-.45 1-1 1H3c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h4V1h2v2h6V1h2v2zm-2 2H9v2H7V5H4v4h16V5h-3v2h-2V5zm5 6H4v8h16v-8z'/%3E%3C/svg%3E");
  }

  .fr-input[type=date]:disabled {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24'%3E%3Cpath fill='%23929292' d='M17 3h4c.55 0 1 .45 1 1v16c0 .55-.45 1-1 1H3c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h4V1h2v2h6V1h2v2zm-2 2H9v2H7V5H4v4h16V5h-3v2h-2V5zm5 6H4v8h16v-8z'/%3E%3C/svg%3E");
  }

  .fr-input-wrap > *:not(:last-child).fr-input:not(.fr-input--valid):not(.fr-input--error) {
    box-shadow: inset 0 -2px 0 0 #000091;
  }
}
