/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-modal__body {
    z-index: 2000;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 18, 0.16);
  }

  .fr-modal__title {
    color: #161616;
  }

  .fr-modal__footer {
    background-color: #fff;
  }

  .fr-modal__body.fr-scroll-divider .fr-modal__footer {
    background-image: linear-gradient(0deg, #ddd, #ddd);
  }
}
