/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
.fr-tabs {
  /**
  * Tab button
  */
}
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-tabs ul {
    list-style-type: none;
  }

  .fr-tabs ol {
    list-style-type: none;
  }

  .fr-tabs ul,
  .fr-tabs ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fr-tabs::before {
    position: absolute;
    top: 3rem;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 1px 0 0 #ddd, inset 1px 0 0 0 #ddd, inset -1px 0 0 0 #ddd;
  }

  .fr-tabs .fr-tabs__list {
    padding: 0.25rem 0.75rem;
  }

  .fr-tabs__tab::before,
  .fr-tabs__tab::after {
    width: 1rem;
    height: 1rem;
  }

  .fr-tabs__panel {
    padding: 0 0.1px;
    left: 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .fr-tabs__panel [href] {
    text-decoration: underline;
  }

  .fr-tabs__panel > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .fr-tabs__panel > *:first-child {
    margin-top: 0.75rem;
  }

  .fr-tabs__panel > *:last-child {
    margin-bottom: 1rem;
  }

  .fr-tabs {
    box-shadow: inset 0 -1px 0 0 #ddd;
  }

  .fr-tabs__tab {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
    box-shadow: 0 2px 0 0 #fff;
  }

  .fr-tabs__tab:not([aria-selected=true]) {
    background-color: #e3e3fd;
    color: #161616;
  }

  .fr-tabs__tab[aria-selected=true]:not(:disabled) {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
    background-color: #fff;
    color: #000091;
  }

  .fr-tabs__tab:disabled {
    color: #929292;
    background-color: #e5e5e5;
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) and (min-width: 48em) {
  .fr-tabs__panel > * {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .fr-tabs__panel > *:first-child {
    margin-top: 1.75rem;
  }

  .fr-tabs__panel > *:last-child {
    margin-bottom: 2rem;
  }
}
