/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-tabs {
    box-shadow: inset 0 -1px 0 0 #ddd;

    /**
    * Tab button
    */
  }

  .fr-tabs::before {
    box-shadow: inset 0 1px 0 0 #ddd, inset 1px 0 0 0 #ddd, inset -1px 0 0 0 #ddd;
  }

  .fr-tabs__tab {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
    box-shadow: 0 2px 0 0 #fff;
  }

  .fr-tabs__tab:not([aria-selected=true]) {
    background-color: #e3e3fd;
    color: #161616;
  }

  .fr-tabs__tab[aria-selected=true]:not(:disabled) {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
    background-color: #fff;
    color: #000091;
  }

  .fr-tabs__tab:disabled {
    color: #929292;
    background-color: #e5e5e5;
  }
}
