/*!
 * DSFR v1.14.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-tabs {
    page-break-inside: avoid;
  }

  .fr-tabs__tab {
    background-color: transparent;
    border: 1px solid var(--border-default-grey);
    background-image: none !important;
  }

  .fr-tabs__tab[aria-selected=true] {
    border-top: 2px solid var(--border-active-blue-france);
    border-bottom: none;
  }
}
