/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-search-bar .fr-btn::before,
  .fr-search-bar .fr-btn::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/search-line.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-search-bar .fr-input {
    box-shadow: inset 0 -2px 0 0 #000091;
  }

  .fr-search-bar .fr-input--valid {
    box-shadow: inset 0 -2px 0 0 #18753c;
  }

  .fr-search-bar .fr-input--error {
    box-shadow: inset 0 -2px 0 0 #ce0500;
  }

  .fr-search-bar .fr-input::-webkit-search-cancel-button {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='%23161616' d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-11.414L9.172 7.757 7.757 9.172 10.586 12l-2.829 2.828 1.415 1.415L12 13.414l2.828 2.829 1.415-1.415L13.414 12l2.829-2.828-1.415-1.415L12 10.586z'/%3E%3C/svg%3E");
  }
}
