/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-search-bar input {
    background-color: transparent;
    border-top: 1px solid var(--border-default-grey);
    border-left: 1px solid var(--border-default-grey);
  }
}
