/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-callout {
    page-break-inside: avoid;
    background: transparent;
    background-image: none;
    border: 1px solid var(--border-default-grey);
    border-left: 0.25rem solid var(--border-default-grey);
  }
}
