/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-table__wrapper::after {
    background-image: linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292);
  }

  .fr-table__content table caption {
    color: #161616;
  }

  .fr-table__content table thead th {
    background-color: #f6f6f6;
    background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a), linear-gradient(0deg, #929292, #929292);
  }

  .fr-table__content table thead th[role=columnheader] {
    background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a), linear-gradient(0deg, #3a3a3a, #3a3a3a);
  }

  .fr-table__content table tbody tr::after {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091);
  }

  .fr-table__content table tbody td {
    background-image: linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292);
    background-color: #fff;
  }

  .fr-table__content table tbody th {
    background-color: #f6f6f6;
    background-image: linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #3a3a3a, #3a3a3a);
  }

  .fr-table__detail {
    color: #666;
  }

  .fr-table td,
  .fr-table th {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
