/*!
 * DSFR v1.11.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
.fr-table {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-tilleul-verveine {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-bourgeon {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-emeraude {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-menthe {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-archipel {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--blue-ecume {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--blue-cumulus {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--purple-glycine {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--pink-macaron {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--pink-tuile {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--yellow-tournesol {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--yellow-moutarde {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--orange-terre-battue {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--brown-cafe-creme {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--brown-caramel {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--brown-opera {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--beige-gris-galet {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--bordered tbody tr {
  /* Style bordered, enleve le style even/odd  */
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * Correctif placement caption
  */
  .fr-table[data-fr-js-table=true] caption {
    position: relative;
  }

  .fr-table caption {
    color: #161616;
  }

  .fr-table thead {
    background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a);
    background-color: #eee;
    color: #161616;
  }

  .fr-table tbody {
    background-color: #f6f6f6;
  }

  .fr-table tbody tr:nth-child(even) {
    background-color: #eee;
  }

  .fr-table--green-tilleul-verveine thead {
    background-image: linear-gradient(0deg, #66673d, #66673d);
    background-color: #fceeac;
  }

  .fr-table--green-tilleul-verveine tbody {
    background-color: #fef7da;
  }

  .fr-table--green-tilleul-verveine tbody tr:nth-child(even) {
    background-color: #fceeac;
  }

  .fr-table--green-tilleul-verveine.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #b7a73f, #b7a73f);
  }

  .fr-table--green-bourgeon thead {
    background-image: linear-gradient(0deg, #447049, #447049);
    background-color: #c9fcac;
  }

  .fr-table--green-bourgeon tbody {
    background-color: #e6feda;
  }

  .fr-table--green-bourgeon tbody tr:nth-child(even) {
    background-color: #c9fcac;
  }

  .fr-table--green-bourgeon.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #68a532, #68a532);
  }

  .fr-table--green-emeraude thead {
    background-image: linear-gradient(0deg, #297254, #297254);
    background-color: #c3fad5;
  }

  .fr-table--green-emeraude tbody {
    background-color: #e3fdeb;
  }

  .fr-table--green-emeraude tbody tr:nth-child(even) {
    background-color: #c3fad5;
  }

  .fr-table--green-emeraude.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #00a95f, #00a95f);
  }

  .fr-table--green-menthe thead {
    background-image: linear-gradient(0deg, #37635f, #37635f);
    background-color: #bafaee;
  }

  .fr-table--green-menthe tbody {
    background-color: #dffdf7;
  }

  .fr-table--green-menthe tbody tr:nth-child(even) {
    background-color: #bafaee;
  }

  .fr-table--green-menthe.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #009081, #009081);
  }

  .fr-table--green-archipel thead {
    background-image: linear-gradient(0deg, #006a6f, #006a6f);
    background-color: #c7f6fc;
  }

  .fr-table--green-archipel tbody {
    background-color: #e5fbfd;
  }

  .fr-table--green-archipel tbody tr:nth-child(even) {
    background-color: #c7f6fc;
  }

  .fr-table--green-archipel.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #009099, #009099);
  }

  .fr-table--blue-ecume thead {
    background-image: linear-gradient(0deg, #2f4077, #2f4077);
    background-color: #e9edfe;
  }

  .fr-table--blue-ecume tbody {
    background-color: #f4f6fe;
  }

  .fr-table--blue-ecume tbody tr:nth-child(even) {
    background-color: #e9edfe;
  }

  .fr-table--blue-ecume.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #465f9d, #465f9d);
  }

  .fr-table--blue-cumulus thead {
    background-image: linear-gradient(0deg, #3558a2, #3558a2);
    background-color: #e6eefe;
  }

  .fr-table--blue-cumulus tbody {
    background-color: #f3f6fe;
  }

  .fr-table--blue-cumulus tbody tr:nth-child(even) {
    background-color: #e6eefe;
  }

  .fr-table--blue-cumulus.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #417dc4, #417dc4);
  }

  .fr-table--purple-glycine thead {
    background-image: linear-gradient(0deg, #6e445a, #6e445a);
    background-color: #fee7fc;
  }

  .fr-table--purple-glycine tbody {
    background-color: #fef3fd;
  }

  .fr-table--purple-glycine tbody tr:nth-child(even) {
    background-color: #fee7fc;
  }

  .fr-table--purple-glycine.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #a558a0, #a558a0);
  }

  .fr-table--pink-macaron thead {
    background-image: linear-gradient(0deg, #8d533e, #8d533e);
    background-color: #fee9e6;
  }

  .fr-table--pink-macaron tbody {
    background-color: #fef4f2;
  }

  .fr-table--pink-macaron tbody tr:nth-child(even) {
    background-color: #fee9e6;
  }

  .fr-table--pink-macaron.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #e18b76, #e18b76);
  }

  .fr-table--pink-tuile thead {
    background-image: linear-gradient(0deg, #a94645, #a94645);
    background-color: #fee9e7;
  }

  .fr-table--pink-tuile tbody {
    background-color: #fef4f3;
  }

  .fr-table--pink-tuile tbody tr:nth-child(even) {
    background-color: #fee9e7;
  }

  .fr-table--pink-tuile.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #ce614a, #ce614a);
  }

  .fr-table--yellow-tournesol thead {
    background-image: linear-gradient(0deg, #716043, #716043);
    background-color: #feecc2;
  }

  .fr-table--yellow-tournesol tbody {
    background-color: #fef6e3;
  }

  .fr-table--yellow-tournesol tbody tr:nth-child(even) {
    background-color: #feecc2;
  }

  .fr-table--yellow-tournesol.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #c8aa39, #c8aa39);
  }

  .fr-table--yellow-moutarde thead {
    background-image: linear-gradient(0deg, #695240, #695240);
    background-color: #feebd0;
  }

  .fr-table--yellow-moutarde tbody {
    background-color: #fef5e8;
  }

  .fr-table--yellow-moutarde tbody tr:nth-child(even) {
    background-color: #feebd0;
  }

  .fr-table--yellow-moutarde.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #c3992a, #c3992a);
  }

  .fr-table--orange-terre-battue thead {
    background-image: linear-gradient(0deg, #755348, #755348);
    background-color: #fee9e5;
  }

  .fr-table--orange-terre-battue tbody {
    background-color: #fef4f2;
  }

  .fr-table--orange-terre-battue tbody tr:nth-child(even) {
    background-color: #fee9e5;
  }

  .fr-table--orange-terre-battue.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #e4794a, #e4794a);
  }

  .fr-table--brown-cafe-creme thead {
    background-image: linear-gradient(0deg, #685c48, #685c48);
    background-color: #f7ecdb;
  }

  .fr-table--brown-cafe-creme tbody {
    background-color: #fbf6ed;
  }

  .fr-table--brown-cafe-creme tbody tr:nth-child(even) {
    background-color: #f7ecdb;
  }

  .fr-table--brown-cafe-creme.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #d1b781, #d1b781);
  }

  .fr-table--brown-caramel thead {
    background-image: linear-gradient(0deg, #845d48, #845d48);
    background-color: #f7ebe5;
  }

  .fr-table--brown-caramel tbody {
    background-color: #fbf5f2;
  }

  .fr-table--brown-caramel tbody tr:nth-child(even) {
    background-color: #f7ebe5;
  }

  .fr-table--brown-caramel.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #c08c65, #c08c65);
  }

  .fr-table--brown-opera thead {
    background-image: linear-gradient(0deg, #745b47, #745b47);
    background-color: #f7ece4;
  }

  .fr-table--brown-opera tbody {
    background-color: #fbf5f2;
  }

  .fr-table--brown-opera tbody tr:nth-child(even) {
    background-color: #f7ece4;
  }

  .fr-table--brown-opera.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #bd987a, #bd987a);
  }

  .fr-table--beige-gris-galet thead {
    background-image: linear-gradient(0deg, #6a6156, #6a6156);
    background-color: #f3ede5;
  }

  .fr-table--beige-gris-galet tbody {
    background-color: #f9f6f2;
  }

  .fr-table--beige-gris-galet tbody tr:nth-child(even) {
    background-color: #f3ede5;
  }

  .fr-table--beige-gris-galet.fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #aea397, #aea397);
  }

  .fr-table--bordered tbody tr {
    background-image: linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-table--bordered tbody tr:nth-child(even) {
    background-color: transparent;
  }

  .fr-table--bordered tbody tr:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-table--bordered tbody tr:nth-child(even):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
