/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-icon-cloudy-2-fill::before,
  .fr-icon-cloudy-2-fill::after {
    background-image: url("../../../icons/weather/cloudy-2-fill.svg");
  }

  .fr-icon-cloudy-2-line::before,
  .fr-icon-cloudy-2-line::after {
    background-image: url("../../../icons/weather/cloudy-2-line.svg");
  }

  .fr-icon-fire-fill::before,
  .fr-icon-fire-fill::after {
    background-image: url("../../../icons/weather/fire-fill.svg");
  }

  .fr-icon-fire-line::before,
  .fr-icon-fire-line::after {
    background-image: url("../../../icons/weather/fire-line.svg");
  }

  .fr-icon-flashlight-fill::before,
  .fr-icon-flashlight-fill::after {
    background-image: url("../../../icons/weather/flashlight-fill.svg");
  }

  .fr-icon-flashlight-line::before,
  .fr-icon-flashlight-line::after {
    background-image: url("../../../icons/weather/flashlight-line.svg");
  }

  .fr-icon-flood-fill::before,
  .fr-icon-flood-fill::after {
    background-image: url("../../../icons/weather/flood-fill.svg");
  }

  .fr-icon-flood-line::before,
  .fr-icon-flood-line::after {
    background-image: url("../../../icons/weather/flood-line.svg");
  }

  .fr-icon-avalanches-fill::before,
  .fr-icon-avalanches-fill::after {
    background-image: url("../../../icons/weather/fr--avalanches-fill.svg");
  }

  .fr-icon-submersion-fill::before,
  .fr-icon-submersion-fill::after {
    background-image: url("../../../icons/weather/fr--submersion-fill.svg");
  }

  .fr-icon-heavy-showers-fill::before,
  .fr-icon-heavy-showers-fill::after {
    background-image: url("../../../icons/weather/heavy-showers-fill.svg");
  }

  .fr-icon-heavy-showers-line::before,
  .fr-icon-heavy-showers-line::after {
    background-image: url("../../../icons/weather/heavy-showers-line.svg");
  }

  .fr-icon-moon-fill::before,
  .fr-icon-moon-fill::after {
    background-image: url("../../../icons/weather/moon-fill.svg");
  }

  .fr-icon-moon-line::before,
  .fr-icon-moon-line::after {
    background-image: url("../../../icons/weather/moon-line.svg");
  }

  .fr-icon-snowy-fill::before,
  .fr-icon-snowy-fill::after {
    background-image: url("../../../icons/weather/snowy-fill.svg");
  }

  .fr-icon-snowy-line::before,
  .fr-icon-snowy-line::after {
    background-image: url("../../../icons/weather/snowy-line.svg");
  }

  .fr-icon-sparkling-2-fill::before,
  .fr-icon-sparkling-2-fill::after {
    background-image: url("../../../icons/weather/sparkling-2-fill.svg");
  }

  .fr-icon-sparkling-2-line::before,
  .fr-icon-sparkling-2-line::after {
    background-image: url("../../../icons/weather/sparkling-2-line.svg");
  }

  .fr-icon-sun-fill::before,
  .fr-icon-sun-fill::after {
    background-image: url("../../../icons/weather/sun-fill.svg");
  }

  .fr-icon-sun-line::before,
  .fr-icon-sun-line::after {
    background-image: url("../../../icons/weather/sun-line.svg");
  }

  .fr-icon-temp-cold-fill::before,
  .fr-icon-temp-cold-fill::after {
    background-image: url("../../../icons/weather/temp-cold-fill.svg");
  }

  .fr-icon-temp-cold-line::before,
  .fr-icon-temp-cold-line::after {
    background-image: url("../../../icons/weather/temp-cold-line.svg");
  }

  .fr-icon-thunderstorms-fill::before,
  .fr-icon-thunderstorms-fill::after {
    background-image: url("../../../icons/weather/thunderstorms-fill.svg");
  }

  .fr-icon-thunderstorms-line::before,
  .fr-icon-thunderstorms-line::after {
    background-image: url("../../../icons/weather/thunderstorms-line.svg");
  }

  .fr-icon-tornado-fill::before,
  .fr-icon-tornado-fill::after {
    background-image: url("../../../icons/weather/tornado-fill.svg");
  }

  .fr-icon-tornado-line::before,
  .fr-icon-tornado-line::after {
    background-image: url("../../../icons/weather/tornado-line.svg");
  }

  .fr-icon-typhoon-fill::before,
  .fr-icon-typhoon-fill::after {
    background-image: url("../../../icons/weather/typhoon-fill.svg");
  }

  .fr-icon-typhoon-line::before,
  .fr-icon-typhoon-line::after {
    background-image: url("../../../icons/weather/typhoon-line.svg");
  }

  .fr-icon-windy-fill::before,
  .fr-icon-windy-fill::after {
    background-image: url("../../../icons/weather/windy-fill.svg");
  }

  .fr-icon-windy-line::before,
  .fr-icon-windy-line::after {
    background-image: url("../../../icons/weather/windy-line.svg");
  }

  .fr-fi-flashlight-fill::before {
    background-image: url("../../../icons/weather/flashlight-fill.svg");
  }

  .fr-fi-flashlight-line::before {
    background-image: url("../../../icons/weather/flashlight-line.svg");
  }
}
