/*!
 * DSFR v1.10.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-icon-cloudy-2-fill::before,
  .fr-icon-cloudy-2-fill::after {
    background-image: url("../../../icons/weather/cloudy-2-fill.svg");
  }

  .fr-icon-cloudy-2-line::before,
  .fr-icon-cloudy-2-line::after {
    background-image: url("../../../icons/weather/cloudy-2-line.svg");
  }

  .fr-icon-flashlight-fill::before,
  .fr-icon-flashlight-fill::after {
    background-image: url("../../../icons/weather/flashlight-fill.svg");
  }

  .fr-icon-flashlight-line::before,
  .fr-icon-flashlight-line::after {
    background-image: url("../../../icons/weather/flashlight-line.svg");
  }

  .fr-icon-moon-fill::before,
  .fr-icon-moon-fill::after {
    background-image: url("../../../icons/weather/moon-fill.svg");
  }

  .fr-icon-moon-line::before,
  .fr-icon-moon-line::after {
    background-image: url("../../../icons/weather/moon-line.svg");
  }

  .fr-icon-sun-fill::before,
  .fr-icon-sun-fill::after {
    background-image: url("../../../icons/weather/sun-fill.svg");
  }

  .fr-icon-sun-line::before,
  .fr-icon-sun-line::after {
    background-image: url("../../../icons/weather/sun-line.svg");
  }

  .fr-fi-flashlight-fill::before {
    background-image: url("../../../icons/weather/flashlight-fill.svg");
  }

  .fr-fi-flashlight-line::before {
    background-image: url("../../../icons/weather/flashlight-line.svg");
  }
}
