/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-breadcrumb {
    color: #666;
    display: none;
  }

  .fr-breadcrumb__link[aria-current]:not([aria-current=false]) {
    color: #3a3a3a;
  }
}
