/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-breadcrumb ul {
    list-style-type: none;
  }

  .fr-breadcrumb ol {
    list-style-type: none;
  }

  .fr-breadcrumb ul,
  .fr-breadcrumb ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fr-breadcrumb__link:not([aria-current])::after,
  .fr-breadcrumb__link[aria-current=false]::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/arrow-right-s-line.svg");
    width: 1rem;
    height: 1rem;
    content: "";
    display: inline-block;
    pointer-events: none;
    margin-left: 0.5rem;
    margin-right: -0.25rem;
    vertical-align: -4px;
  }

  .fr-breadcrumb {
    color: #666;
  }

  .fr-breadcrumb__link[aria-current]:not([aria-current=false]) {
    color: #3a3a3a;
  }
}
