/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-skiplinks {
    background-color: #eee;
  }

  .fr-skiplink {
    display: none;
  }
}
