/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  SKIPLINK
\* ˍˍˍˍˍˍˍˍˍ */
.fr-skiplinks {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  position: absolute;
  top: 0;
  padding: 1rem 0;
  transform: translateY(-100%);
  opacity: 0;
  background-color: var(--background-contrast-grey);

  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
}

.fr-skiplinks:focus-within {
  position: relative;
  transform: translateY(0);
  opacity: 1;
}

.fr-skiplinks__list {
  display: flex;
  flex-direction: column;
}

.fr-skiplinks__list > li {
  margin-bottom: 1rem;
}

.fr-skiplinks__list > li::before {
  content: none;
}

.fr-skiplinks__list > li .fr-link {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 0;
}

.fr-skiplinks__list > li .fr-link::before,
.fr-skiplinks__list > li .fr-link::after {
  --icon-size: 1rem;
}

.fr-skiplinks__list > li:last-child {
  margin-bottom: 0;
}

.fr-skiplinks__list:focus-within {
  position: relative;
  transform: translateY(0);
}

@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
  .fr-skiplinks {
    padding: 0.75rem 0;
  }

  .fr-skiplinks__list > li {
    margin: 0 0.5rem;
  }

  .fr-skiplinks__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */

  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}

@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-skiplinks ul {
    list-style-type: none;
  }

  .fr-skiplinks ol {
    list-style-type: none;
  }

  .fr-skiplinks ul,
  .fr-skiplinks ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fr-skiplinks.focus-within {
    position: relative;
    transform: translateY(0);
    opacity: 1;
  }

  .fr-skiplinks {
    background-color: #eee;
  }
}

@media print {
  .fr-skiplinks {
    background-color: #eee;
  }

  .fr-skiplink {
    display: none;
  }
}
