/*!
 * DSFR v1.10.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-icon-ancient-gate-fill::before,
  .fr-icon-ancient-gate-fill::after {
    background-image: url("../../../icons/buildings/ancient-gate-fill.svg");
  }

  .fr-icon-ancient-gate-line::before,
  .fr-icon-ancient-gate-line::after {
    background-image: url("../../../icons/buildings/ancient-gate-line.svg");
  }

  .fr-icon-ancient-pavilion-fill::before,
  .fr-icon-ancient-pavilion-fill::after {
    background-image: url("../../../icons/buildings/ancient-pavilion-fill.svg");
  }

  .fr-icon-ancient-pavilion-line::before,
  .fr-icon-ancient-pavilion-line::after {
    background-image: url("../../../icons/buildings/ancient-pavilion-line.svg");
  }

  .fr-icon-bank-fill::before,
  .fr-icon-bank-fill::after {
    background-image: url("../../../icons/buildings/bank-fill.svg");
  }

  .fr-icon-bank-line::before,
  .fr-icon-bank-line::after {
    background-image: url("../../../icons/buildings/bank-line.svg");
  }

  .fr-icon-building-fill::before,
  .fr-icon-building-fill::after {
    background-image: url("../../../icons/buildings/building-fill.svg");
  }

  .fr-icon-building-line::before,
  .fr-icon-building-line::after {
    background-image: url("../../../icons/buildings/building-line.svg");
  }

  .fr-icon-community-fill::before,
  .fr-icon-community-fill::after {
    background-image: url("../../../icons/buildings/community-fill.svg");
  }

  .fr-icon-community-line::before,
  .fr-icon-community-line::after {
    background-image: url("../../../icons/buildings/community-line.svg");
  }

  .fr-icon-government-fill::before,
  .fr-icon-government-fill::after {
    background-image: url("../../../icons/buildings/government-fill.svg");
  }

  .fr-icon-government-line::before,
  .fr-icon-government-line::after {
    background-image: url("../../../icons/buildings/government-line.svg");
  }

  .fr-icon-home-4-fill::before,
  .fr-icon-home-4-fill::after {
    background-image: url("../../../icons/buildings/home-4-fill.svg");
  }

  .fr-icon-home-4-line::before,
  .fr-icon-home-4-line::after {
    background-image: url("../../../icons/buildings/home-4-line.svg");
  }

  .fr-icon-hospital-fill::before,
  .fr-icon-hospital-fill::after {
    background-image: url("../../../icons/buildings/hospital-fill.svg");
  }

  .fr-icon-hospital-line::before,
  .fr-icon-hospital-line::after {
    background-image: url("../../../icons/buildings/hospital-line.svg");
  }

  .fr-icon-hotel-fill::before,
  .fr-icon-hotel-fill::after {
    background-image: url("../../../icons/buildings/hotel-fill.svg");
  }

  .fr-icon-hotel-line::before,
  .fr-icon-hotel-line::after {
    background-image: url("../../../icons/buildings/hotel-line.svg");
  }

  .fr-icon-store-fill::before,
  .fr-icon-store-fill::after {
    background-image: url("../../../icons/buildings/store-fill.svg");
  }

  .fr-icon-store-line::before,
  .fr-icon-store-line::after {
    background-image: url("../../../icons/buildings/store-line.svg");
  }

  .fr-fi-home-4-fill::before {
    background-image: url("../../../icons/buildings/home-4-fill.svg");
  }

  .fr-fi-home-4-line::before {
    background-image: url("../../../icons/buildings/home-4-line.svg");
  }
}
