/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  body {
    background-color: #fff;
    color: #3a3a3a;
  }

  a:not([href]),
  button:disabled,
  input:disabled,
  input[type=checkbox]:disabled,
  input[type=checkbox]:disabled + label,
  input[type=radio]:disabled,
  input[type=radio]:disabled + label,
  select:disabled,
  textarea:disabled,
  video:not([href]),
  audio:not([href]) {
    color: #929292;
  }

  .fr-artwork-decorative {
    fill: #ececfe;
  }

  .fr-artwork-minor {
    fill: #e1000f;
  }

  .fr-artwork-major {
    fill: #000091;
  }

  .fr-artwork-background {
    fill: #f6f6f6;
  }

  .fr-artwork-motif {
    fill: #e5e5e5;
  }

  .fr-artwork--green-tilleul-verveine .fr-artwork-minor {
    fill: #b7a73f;
  }

  .fr-artwork--green-bourgeon .fr-artwork-minor {
    fill: #68a532;
  }

  .fr-artwork--green-emeraude .fr-artwork-minor {
    fill: #00a95f;
  }

  .fr-artwork--green-menthe .fr-artwork-minor {
    fill: #009081;
  }

  .fr-artwork--green-archipel .fr-artwork-minor {
    fill: #009099;
  }

  .fr-artwork--blue-ecume .fr-artwork-minor {
    fill: #465f9d;
  }

  .fr-artwork--blue-cumulus .fr-artwork-minor {
    fill: #417dc4;
  }

  .fr-artwork--purple-glycine .fr-artwork-minor {
    fill: #a558a0;
  }

  .fr-artwork--pink-macaron .fr-artwork-minor {
    fill: #e18b76;
  }

  .fr-artwork--pink-tuile .fr-artwork-minor {
    fill: #ce614a;
  }

  .fr-artwork--yellow-tournesol .fr-artwork-minor {
    fill: #c8aa39;
  }

  .fr-artwork--yellow-moutarde .fr-artwork-minor {
    fill: #c3992a;
  }

  .fr-artwork--orange-terre-battue .fr-artwork-minor {
    fill: #e4794a;
  }

  .fr-artwork--brown-cafe-creme .fr-artwork-minor {
    fill: #d1b781;
  }

  .fr-artwork--brown-caramel .fr-artwork-minor {
    fill: #c08c65;
  }

  .fr-artwork--brown-opera .fr-artwork-minor {
    fill: #bd987a;
  }

  .fr-artwork--beige-gris-galet .fr-artwork-minor {
    fill: #aea397;
  }

  [disabled] .fr-artwork * {
    fill: #929292;
  }

  .fr-h6,
  .fr-h5,
  .fr-h4,
  .fr-h3,
  .fr-h2,
  .fr-h1,
  .fr-display-xs,
  .fr-display-sm,
  .fr-display-md,
  .fr-display-lg,
  .fr-display-xl {
    color: #161616;
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    color: #161616;
  }

  hr {
    background-image: linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-hr-or::before,
  .fr-hr-or::after {
    background-color: #ddd;
  }

  .fr-hr {
    background-image: linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-no-print {
    display: none;
  }

  h1,
  h2,
  h3,
  h4 {
    page-break-after: avoid;
    break-after: avoid;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .fr-text--sm,
  .fr-text--xs {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    margin: var(--text-spacing);
  }
}
