/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-no-print {
    display: none;
  }

  h1,
  h2,
  h3,
  h4 {
    page-break-after: avoid;
    break-after: avoid;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .fr-text--sm,
  .fr-text--xs {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    margin: var(--text-spacing);
  }

  [class^=fr-icon-],
  [class*=" fr-icon-"],
  [class^=fr-fi-],
  [class*=" fr-fi-"] {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
