/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-share .fr-btn {
    color: #000091;
    box-shadow: inset 0 0 0 1px #ddd;
  }

  .fr-share .fr-btn:disabled,
  .fr-share a.fr-btn:not([href]) {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-share__text {
    color: #666;
  }

  .fr-share {
    display: none;
  }
}
