/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  SHARE
\* ˍˍˍˍˍˍˍˍˍ */
.fr-share {
  display: flex;
  flex-direction: column;

  --text-spacing: 0 0 1rem;
  --title-spacing: 0 0 1rem;
}

.fr-share__title {
  font-size: 1rem;
  line-height: 1.5rem;
  order: 1;
}

.fr-share__text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  order: 3;
  color: var(--text-mention-grey);
}

.fr-share .fr-btns-group {
  width: auto;
  order: 2;
}

.fr-share .fr-btns-group .fr-btn {
  width: auto;
  max-width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  justify-content: flex-start;
}

.fr-share .fr-btns-group > li {
  display: inline-flex;
  max-width: 100%;
  width: auto;
}

.fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"]) {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before {
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --icon-size: 1.5rem;
  content: "";
}

.fr-btn--facebook::before {
  -webkit-mask-image: url("../../icons/logo/facebook-circle-line.svg");
  mask-image: url("../../icons/logo/facebook-circle-line.svg");
}

.fr-btn--linkedin::before {
  -webkit-mask-image: url("../../icons/logo/linkedin-box-line.svg");
  mask-image: url("../../icons/logo/linkedin-box-line.svg");
}

.fr-btn--mastodon::before {
  -webkit-mask-image: url("../../icons/logo/mastodon-line.svg");
  mask-image: url("../../icons/logo/mastodon-line.svg");
}

.fr-btn--threads::before {
  -webkit-mask-image: url("../../icons/logo/threads-line.svg");
  mask-image: url("../../icons/logo/threads-line.svg");
}

.fr-btn--twitter::before {
  -webkit-mask-image: url("../../icons/logo/twitter-line.svg");
  mask-image: url("../../icons/logo/twitter-line.svg");
}

.fr-btn--twitter-x::before {
  -webkit-mask-image: url("../../icons/logo/twitter-x-line.svg");
  mask-image: url("../../icons/logo/twitter-x-line.svg");
}

.fr-btn--mail::before {
  -webkit-mask-image: url("../../icons/business/mail-line.svg");
  mask-image: url("../../icons/business/mail-line.svg");
}

.fr-btn--copy::before {
  -webkit-mask-image: url("../../icons/business/links-fill.svg");
  mask-image: url("../../icons/business/links-fill.svg");
}

.fr-share__group {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  width: auto;
  order: 2;
  display: flex;
}

.fr-share__group .fr-btn {
  width: auto;
  max-width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.fr-share__group > li {
  display: inline-flex;
  max-width: 100%;
  width: auto;
}

.fr-share__link {
  --underline-img: none;
  --hover-tint: var(--hover);
  display: inline-flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-share__link--facebook {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-share__link--facebook::before {
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/facebook-circle-line.svg");
  mask-image: url("../../icons/logo/facebook-circle-line.svg");
  content: "";
}

.fr-share__link--twitter {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-share__link--twitter::before {
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/twitter-line.svg");
  mask-image: url("../../icons/logo/twitter-line.svg");
  content: "";
}

.fr-share__link--linkedin {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-share__link--linkedin::before {
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/linkedin-box-line.svg");
  mask-image: url("../../icons/logo/linkedin-box-line.svg");
  content: "";
}

.fr-share__link--mail {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-share__link--mail::before {
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/business/mail-line.svg");
  mask-image: url("../../icons/business/mail-line.svg");
  content: "";
}

.fr-share__link--copy {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-share__link--copy::before {
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/business/links-fill.svg");
  mask-image: url("../../icons/business/links-fill.svg");
  content: "";
}

.fr-share .fr-btn {
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-share .fr-btn:disabled,
.fr-share a.fr-btn:not([href]) {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}

.fr-share__link:disabled,
a.fr-share__link:not([href]) {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
  .fr-share__text {
    max-width: 18rem;
  }
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media (-ms-high-contrast: active), (forced-colors: active) {
  .fr-share .fr-btns-group .fr-btn {
    border: none;
  }

  .fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before {
    forced-color-adjust: none;
    background-color: buttontext;
  }

  .fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:disabled:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before,
  .fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) a.fr-btn:not([href]):not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before {
    background-color: graytext;
  }

  .fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) a[href].fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before {
    background-color: linktext;
  }

  .fr-share__link--facebook::before {
    forced-color-adjust: none;
    background-color: buttontext;
  }

  a[href].fr-share__link--facebook::before {
    forced-color-adjust: none;
    background-color: linktext;
  }

  a:not([href]).fr-share__link--facebook::before {
    forced-color-adjust: none;
    background-color: graytext;
  }

  .fr-share__link--twitter::before {
    forced-color-adjust: none;
    background-color: buttontext;
  }

  a[href].fr-share__link--twitter::before {
    forced-color-adjust: none;
    background-color: linktext;
  }

  a:not([href]).fr-share__link--twitter::before {
    forced-color-adjust: none;
    background-color: graytext;
  }

  .fr-share__link--linkedin::before {
    forced-color-adjust: none;
    background-color: buttontext;
  }

  a[href].fr-share__link--linkedin::before {
    forced-color-adjust: none;
    background-color: linktext;
  }

  a:not([href]).fr-share__link--linkedin::before {
    forced-color-adjust: none;
    background-color: graytext;
  }

  .fr-share__link--mail::before {
    forced-color-adjust: none;
    background-color: buttontext;
  }

  a[href].fr-share__link--mail::before {
    forced-color-adjust: none;
    background-color: linktext;
  }

  a:not([href]).fr-share__link--mail::before {
    forced-color-adjust: none;
    background-color: graytext;
  }

  .fr-share__link--copy::before {
    forced-color-adjust: none;
    background-color: buttontext;
  }

  a[href].fr-share__link--copy::before {
    forced-color-adjust: none;
    background-color: linktext;
  }

  a:not([href]).fr-share__link--copy::before {
    forced-color-adjust: none;
    background-color: graytext;
  }
}
