/*!
 * DSFR v1.11.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-share .fr-btn {
    color: #000091;
    box-shadow: inset 0 0 0 1px #ddd;
  }

  .fr-share .fr-btn:disabled,
  .fr-share a.fr-btn:not([href]) {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-share__text {
    color: #666;
  }

  .fr-share {
    display: none;
  }
}
@media print and (-ms-high-contrast: none), print and (-ms-high-contrast: active) {
  .fr-share .fr-btn {
    background-color: transparent;
  }

  .fr-share .fr-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-share .fr-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-share .fr-btn:disabled,
  .fr-share a.fr-btn:not([href]) {
    background-color: transparent;
  }

  .fr-share .fr-btn:disabled:hover,
  .fr-share a.fr-btn:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-share .fr-btn:disabled:active,
  .fr-share a.fr-btn:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
