/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-radio-group input[type=radio] + label {
    background-image: radial-gradient(transparent 10px, #000091 11px, transparent 12px);
  }

  .fr-radio-group input[type=radio]:disabled + label {
    background-image: radial-gradient(transparent 10px, #e5e5e5 11px, transparent 12px);
  }

  .fr-radio-group input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 10px, #000091 11px, transparent 12px), radial-gradient(#000091 5px, transparent 6px);
  }

  .fr-radio-group input[type=radio]:checked:disabled + label {
    background-image: radial-gradient(transparent 10px, #e5e5e5 11px, transparent 12px), radial-gradient(#e5e5e5 5px, transparent 6px);
  }

  .fr-fieldset--error .fr-radio-group input[type=radio] + label {
    background-image: radial-gradient(transparent 10px, #ce0500 11px, transparent 12px);
  }

  .fr-fieldset--error .fr-radio-group input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 10px, #ce0500 11px, transparent 12px), radial-gradient(#000091 5px, transparent 6px);
  }

  .fr-fieldset--valid .fr-radio-group input[type=radio] + label {
    background-image: radial-gradient(transparent 10px, #18753c 11px, transparent 12px);
  }

  .fr-fieldset--valid .fr-radio-group input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 10px, #18753c 11px, transparent 12px), radial-gradient(#000091 5px, transparent 6px);
  }

  .fr-fieldset--info .fr-radio-group input[type=radio] + label {
    background-image: radial-gradient(transparent 10px, #0063cb 11px, transparent 12px);
  }

  .fr-fieldset--info .fr-radio-group input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 10px, #0063cb 11px, transparent 12px), radial-gradient(#000091 5px, transparent 6px);
  }

  .fr-fieldset .fr-radio-group input[type=radio]:disabled + label {
    background-image: radial-gradient(transparent 10px, #e5e5e5 11px, transparent 12px);
  }

  .fr-fieldset .fr-radio-group input[type=radio]:disabled:checked + label {
    background-image: radial-gradient(transparent 10px, #e5e5e5 11px, transparent 12px), radial-gradient(#e5e5e5 5px, transparent 6px);
  }

  .fr-radio-group--sm input[type=radio] + label {
    background-image: radial-gradient(transparent 6px, #000091 7px, transparent 8px);
  }

  .fr-radio-group--sm input[type=radio]:disabled + label {
    background-image: radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px);
  }

  .fr-radio-group--sm input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 6px, #000091 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-radio-group--sm input[type=radio]:checked:disabled + label {
    background-image: radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px), radial-gradient(#e5e5e5 3px, transparent 4px);
  }

  .fr-fieldset--error .fr-radio-group--sm input[type=radio] + label {
    background-image: radial-gradient(transparent 6px, #ce0500 7px, transparent 8px);
  }

  .fr-fieldset--error .fr-radio-group--sm input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 6px, #ce0500 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-fieldset--valid .fr-radio-group--sm input[type=radio] + label {
    background-image: radial-gradient(transparent 6px, #18753c 7px, transparent 8px);
  }

  .fr-fieldset--valid .fr-radio-group--sm input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 6px, #18753c 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-fieldset--info .fr-radio-group--sm input[type=radio] + label {
    background-image: radial-gradient(transparent 6px, #0063cb 7px, transparent 8px);
  }

  .fr-fieldset--info .fr-radio-group--sm input[type=radio]:checked + label {
    background-image: radial-gradient(transparent 6px, #0063cb 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-fieldset .fr-radio-group--sm input[type=radio]:disabled + label {
    background-image: radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px);
  }

  .fr-fieldset .fr-radio-group--sm input[type=radio]:disabled:checked + label {
    background-image: radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px), radial-gradient(#e5e5e5 3px, transparent 4px);
  }

  .fr-radio-rich__pictogram {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
    background-color: #fff;
  }

  .fr-radio-rich input[type=radio] + label {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), radial-gradient(transparent 6px, #000091 7px, transparent 8px);
    background-color: #fff;
  }

  .fr-radio-rich input[type=radio]:disabled + label {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px);
  }

  .fr-radio-rich input[type=radio]:disabled ~ .fr-radio-rich__pictogram svg * {
    fill: #929292;
  }

  .fr-radio-rich input[type=radio]:checked + label {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), radial-gradient(transparent 6px, #000091 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-radio-rich input[type=radio]:checked ~ .fr-radio-rich__pictogram {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-radio-rich input[type=radio]:checked:disabled + label {
    background-image: linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292), radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px), radial-gradient(#e5e5e5 3px, transparent 4px);
  }

  .fr-radio-rich input[type=radio]:checked:disabled ~ .fr-radio-rich__pictogram {
    background-image: linear-gradient(0deg, #e5e5e5, #e5e5e5), linear-gradient(0deg, #e5e5e5, #e5e5e5), linear-gradient(0deg, #e5e5e5, #e5e5e5), linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-fieldset--error .fr-radio-rich input[type=radio] + label {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), radial-gradient(transparent 6px, #ce0500 7px, transparent 8px);
  }

  .fr-fieldset--error .fr-radio-rich input[type=radio]:checked + label {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), radial-gradient(transparent 6px, #ce0500 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-fieldset--valid .fr-radio-rich input[type=radio] + label {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), radial-gradient(transparent 6px, #18753c 7px, transparent 8px);
  }

  .fr-fieldset--valid .fr-radio-rich input[type=radio]:checked + label {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), radial-gradient(transparent 6px, #18753c 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-fieldset--info .fr-radio-rich input[type=radio] + label {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), radial-gradient(transparent 6px, #0063cb 7px, transparent 8px);
  }

  .fr-fieldset--info .fr-radio-rich input[type=radio]:checked + label {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), radial-gradient(transparent 6px, #0063cb 7px, transparent 8px), radial-gradient(#000091 3px, transparent 4px);
  }

  .fr-fieldset .fr-radio-rich input[type=radio]:disabled + label {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px);
  }

  .fr-fieldset .fr-radio-rich input[type=radio]:disabled:checked + label {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), radial-gradient(transparent 6px, #e5e5e5 7px, transparent 8px), radial-gradient(#e5e5e5 3px, transparent 4px);
  }

  .fr-radio-rich__img {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
    background-color: #fff;
  }

  .fr-radio-rich input[type=radio]:disabled ~ .fr-radio-rich__img svg * {
    fill: #929292;
  }

  .fr-radio-rich input[type=radio]:checked ~ .fr-radio-rich__img {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-radio-rich input[type=radio]:checked:disabled ~ .fr-radio-rich__img {
    background-image: linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #929292, #929292), linear-gradient(0deg, #ddd, #ddd);
  }
}
