/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-summary {
    background-color: #eee;
    display: none;
  }

  .fr-summary__title {
    color: #161616;
  }

  .fr-summary li > a {
    color: #161616;
  }
}
