/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-connect {
    background-color: #000091;
    color: #f5f5fe;
  }

  .fr-connect:disabled,
  a.fr-connect:not([href]) {
    background-color: #e5e5e5;
    color: #929292;
  }

  .fr-connect-group .fr-connect + p a {
    color: #000091;
  }

  .fr-connect-group p {
    color: #666;
  }
}
