/*!
 * DSFR v1.14.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-connect-group {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .fr-connect-group p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-connect-group .fr-connect + p a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
