/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-connect {
    background-color: #000091;
    color: #f5f5fe;
  }

  .fr-connect:disabled,
  a.fr-connect:not([href]) {
    background-color: #e5e5e5;
    color: #929292;
  }

  .fr-connect-group .fr-connect + p a {
    color: #000091;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-connect-group p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
