/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-link {
    color: #000091;
  }

  .fr-link__detail {
    color: #666;
  }

  .fr-links-group li::marker {
    color: #000091;
  }

  .fr-links-group--bordered {
    box-shadow: inset 0 0 0 1px #ddd;
  }
}
