/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  LINK
\* ˍˍˍˍˍˍˍˍˍ */
.fr-link {
  --text-spacing: 0;
  --title-spacing: 0;
  display: inline;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 0;
  color: var(--text-action-high-blue-france);
}

.fr-link[target=_blank] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link[target=_blank]::after {
  content: "";

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
}

.fr-link--icon-left[class^=fr-icon-],
.fr-link--icon-left[class*=" fr-icon-"],
.fr-link--icon-left[class^=fr-fi-],
.fr-link--icon-left[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--icon-left[class^=fr-icon-]::before,
.fr-link--icon-left[class*=" fr-icon-"]::before,
.fr-link--icon-left[class^=fr-fi-]::before,
.fr-link--icon-left[class*=" fr-fi-"]::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
}

.fr-link--icon-right[class^=fr-icon-],
.fr-link--icon-right[class*=" fr-icon-"],
.fr-link--icon-right[class^=fr-fi-],
.fr-link--icon-right[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--icon-right[class^=fr-icon-]::after,
.fr-link--icon-right[class*=" fr-icon-"]::after,
.fr-link--icon-right[class^=fr-fi-]::after,
.fr-link--icon-right[class*=" fr-fi-"]::after {
  content: "";

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
}

.fr-link--icon-right[class^=fr-icon-]::before,
.fr-link--icon-right[class*=" fr-icon-"]::before,
.fr-link--icon-right[class^=fr-fi-]::before,
.fr-link--icon-right[class*=" fr-fi-"]::before {
  content: none;
}

.fr-link[class^=fr-icon-]:not([class*=fr-link--icon-])::before,
.fr-link[class*=" fr-icon-"]:not([class*=fr-link--icon-])::before,
.fr-link[class^=fr-fi-]:not([class*=fr-link--icon-])::before,
.fr-link[class*=" fr-fi-"]:not([class*=fr-link--icon-])::before {
  content: none;
}

.fr-link--xs {
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding: 0 0;
}

.fr-link--xs[target=_blank] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--xs[target=_blank]::after {
  content: "";

  --icon-size: 0.75rem;
  margin-right: -0.09375rem;
  margin-left: 0.5rem;
}

.fr-link--xs.fr-link--icon-left[class^=fr-icon-],
.fr-link--xs.fr-link--icon-left[class*=" fr-icon-"],
.fr-link--xs.fr-link--icon-left[class^=fr-fi-],
.fr-link--xs.fr-link--icon-left[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--xs.fr-link--icon-left[class^=fr-icon-]::before,
.fr-link--xs.fr-link--icon-left[class*=" fr-icon-"]::before,
.fr-link--xs.fr-link--icon-left[class^=fr-fi-]::before,
.fr-link--xs.fr-link--icon-left[class*=" fr-fi-"]::before {
  --icon-size: 0.75rem;
  margin-left: -0.09375rem;
  margin-right: 0.5rem;
}

.fr-link--xs.fr-link--icon-right[class^=fr-icon-],
.fr-link--xs.fr-link--icon-right[class*=" fr-icon-"],
.fr-link--xs.fr-link--icon-right[class^=fr-fi-],
.fr-link--xs.fr-link--icon-right[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--xs.fr-link--icon-right[class^=fr-icon-]::after,
.fr-link--xs.fr-link--icon-right[class*=" fr-icon-"]::after,
.fr-link--xs.fr-link--icon-right[class^=fr-fi-]::after,
.fr-link--xs.fr-link--icon-right[class*=" fr-fi-"]::after {
  content: "";

  --icon-size: 0.75rem;
  margin-right: -0.09375rem;
  margin-left: 0.5rem;
}

.fr-link--xs.fr-link--icon-right[class^=fr-icon-]::before,
.fr-link--xs.fr-link--icon-right[class*=" fr-icon-"]::before,
.fr-link--xs.fr-link--icon-right[class^=fr-fi-]::before,
.fr-link--xs.fr-link--icon-right[class*=" fr-fi-"]::before {
  content: none;
}

.fr-link--xs[class^=fr-icon-]:not([class*=fr-link--icon-])::before,
.fr-link--xs[class*=" fr-icon-"]:not([class*=fr-link--icon-])::before,
.fr-link--xs[class^=fr-fi-]:not([class*=fr-link--icon-])::before,
.fr-link--xs[class*=" fr-fi-"]:not([class*=fr-link--icon-])::before {
  content: none;
}

.fr-link--sm {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0 0;
}

.fr-link--sm[target=_blank] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--sm[target=_blank]::after {
  content: "";

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
}

.fr-link--sm.fr-link--icon-left[class^=fr-icon-],
.fr-link--sm.fr-link--icon-left[class*=" fr-icon-"],
.fr-link--sm.fr-link--icon-left[class^=fr-fi-],
.fr-link--sm.fr-link--icon-left[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--sm.fr-link--icon-left[class^=fr-icon-]::before,
.fr-link--sm.fr-link--icon-left[class*=" fr-icon-"]::before,
.fr-link--sm.fr-link--icon-left[class^=fr-fi-]::before,
.fr-link--sm.fr-link--icon-left[class*=" fr-fi-"]::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
}

.fr-link--sm.fr-link--icon-right[class^=fr-icon-],
.fr-link--sm.fr-link--icon-right[class*=" fr-icon-"],
.fr-link--sm.fr-link--icon-right[class^=fr-fi-],
.fr-link--sm.fr-link--icon-right[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--sm.fr-link--icon-right[class^=fr-icon-]::after,
.fr-link--sm.fr-link--icon-right[class*=" fr-icon-"]::after,
.fr-link--sm.fr-link--icon-right[class^=fr-fi-]::after,
.fr-link--sm.fr-link--icon-right[class*=" fr-fi-"]::after {
  content: "";

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
}

.fr-link--sm.fr-link--icon-right[class^=fr-icon-]::before,
.fr-link--sm.fr-link--icon-right[class*=" fr-icon-"]::before,
.fr-link--sm.fr-link--icon-right[class^=fr-fi-]::before,
.fr-link--sm.fr-link--icon-right[class*=" fr-fi-"]::before {
  content: none;
}

.fr-link--sm[class^=fr-icon-]:not([class*=fr-link--icon-])::before,
.fr-link--sm[class*=" fr-icon-"]:not([class*=fr-link--icon-])::before,
.fr-link--sm[class^=fr-fi-]:not([class*=fr-link--icon-])::before,
.fr-link--sm[class*=" fr-fi-"]:not([class*=fr-link--icon-])::before {
  content: none;
}

.fr-link--lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0 0;
}

.fr-link--lg[target=_blank] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--lg[target=_blank]::after {
  content: "";

  --icon-size: 1.5rem;
  margin-right: -0.1875rem;
  margin-left: 0.5rem;
}

.fr-link--lg.fr-link--icon-left[class^=fr-icon-],
.fr-link--lg.fr-link--icon-left[class*=" fr-icon-"],
.fr-link--lg.fr-link--icon-left[class^=fr-fi-],
.fr-link--lg.fr-link--icon-left[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--lg.fr-link--icon-left[class^=fr-icon-]::before,
.fr-link--lg.fr-link--icon-left[class*=" fr-icon-"]::before,
.fr-link--lg.fr-link--icon-left[class^=fr-fi-]::before,
.fr-link--lg.fr-link--icon-left[class*=" fr-fi-"]::before {
  --icon-size: 1.5rem;
  margin-left: -0.1875rem;
  margin-right: 0.5rem;
}

.fr-link--lg.fr-link--icon-right[class^=fr-icon-],
.fr-link--lg.fr-link--icon-right[class*=" fr-icon-"],
.fr-link--lg.fr-link--icon-right[class^=fr-fi-],
.fr-link--lg.fr-link--icon-right[class*=" fr-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link--lg.fr-link--icon-right[class^=fr-icon-]::after,
.fr-link--lg.fr-link--icon-right[class*=" fr-icon-"]::after,
.fr-link--lg.fr-link--icon-right[class^=fr-fi-]::after,
.fr-link--lg.fr-link--icon-right[class*=" fr-fi-"]::after {
  content: "";

  --icon-size: 1.5rem;
  margin-right: -0.1875rem;
  margin-left: 0.5rem;
}

.fr-link--lg.fr-link--icon-right[class^=fr-icon-]::before,
.fr-link--lg.fr-link--icon-right[class*=" fr-icon-"]::before,
.fr-link--lg.fr-link--icon-right[class^=fr-fi-]::before,
.fr-link--lg.fr-link--icon-right[class*=" fr-fi-"]::before {
  content: none;
}

.fr-link--lg[class^=fr-icon-]:not([class*=fr-link--icon-])::before,
.fr-link--lg[class*=" fr-icon-"]:not([class*=fr-link--icon-])::before,
.fr-link--lg[class^=fr-fi-]:not([class*=fr-link--icon-])::before,
.fr-link--lg[class*=" fr-fi-"]:not([class*=fr-link--icon-])::before {
  content: none;
}

button.fr-link {
  text-align: left;
}

.fr-links-group--download .fr-link,
.fr-link--download {
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 0;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-links-group--download .fr-link::after,
.fr-link--download::after {

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/download-line.svg");
  mask-image: url("../../icons/system/download-line.svg");
  content: "";
  margin-bottom: 1.75rem;
  vertical-align: calc((0.75rem - var(--icon-size)) * 0.5 - 1.75rem);
}

.fr-links-group--download .fr-link::before,
.fr-link--download::before {
  content: none;
}

.fr-links-group--download .fr-link .fr-link__detail,
.fr-link--download .fr-link__detail {
  position: absolute;
  left: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-top: 1.75rem;
  white-space: nowrap;
  pointer-events: none;
  cursor: text;
}

.fr-links-group--download .fr-link .fr-link__detail abbr,
.fr-link--download .fr-link__detail abbr {
  text-decoration: none;
}

.fr-links-group--download {
  --ul-type: disc;
  --ol-type: decimal;
  --ul-start: 1rem;
  --ol-start: 1.5rem;
  --xl-block: 0.5rem;
  --li-bottom: 0.25rem;
  --xl-base: 1em;
  --ol-content: counters(li-counter, ".") ".  ";
}

.fr-links-group--download > li {
  display: block;
}

.fr-links-group--download .fr-link,
.fr-links-group .fr-link--download {
  margin-bottom: 2.5rem;
}

.fr-links-group {
  --li-bottom: 0.5rem;
}

.fr-links-group--inline {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  display: inline;
  margin: 0 -0.5rem;
}

.fr-links-group--inline > li {
  display: inline;
  line-height: 2.75rem;
}

.fr-links-group--inline .fr-link {
  margin: 0 0.5rem 1rem;
}

.fr-links-group--sm .fr-link {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0 0;
}

.fr-links-group--sm .fr-link::before,
.fr-links-group--sm .fr-link::after {
  --icon-size: 1rem;
}

.fr-links-group--sm .fr-link:not(.fr-link--download) {
  vertical-align: top;
}

.fr-links-group--lg .fr-link {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0 0;
}

.fr-links-group--lg .fr-link::before,
.fr-links-group--lg .fr-link::after {
  --icon-size: 1.5rem;
}

.fr-links-group__title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  margin: var(--title-spacing);
}

.fr-links-group--bordered {
  padding: 1.5rem 1.5rem 0.5rem;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-link--close {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: -1rem;
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
}

.fr-link--close::after {

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/close-line.svg");
  mask-image: url("../../icons/system/close-line.svg");
  content: "";
}

.fr-link--close::before {
  content: none;
}

.fr-link.fr-link--icon-left.fr-fi-theme-fill {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-link.fr-link--icon-left.fr-fi-theme-fill::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
}

.fr-link__detail {
  color: var(--text-mention-grey);
}

.fr-links-group li::marker {
  color: var(--text-action-high-blue-france);
}

.fr-link--close:disabled,
a.fr-link--close:not([href]) {
  color: var(--text-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}
@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
  .fr-links-group--download .fr-link,
  .fr-links-group .fr-link--download {
    margin-bottom: 3rem;
  }

  .fr-links-group__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .fr-links-group--bordered {
    padding: 2rem 2rem 0.5rem;
  }

  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */

  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}
@media (-ms-high-contrast: active), (forced-colors: active) {
  a.fr-link {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  a.fr-link:not([href])::before,
  a.fr-link:not([href])::after {
    background-color: graytext;
  }

  .fr-links-group--download .fr-link::after,
  .fr-link--download::after {
    forced-color-adjust: none;
    background-color: linktext;
  }

  .fr-links-group--download .fr-link .fr-link__detail,
  .fr-link--download .fr-link__detail {
    color: canvastext;
  }

  .fr-links-group--download .fr-link:not([href]) .fr-link__detail,
  .fr-link--download:not([href]) .fr-link__detail {
    color: graytext;
  }

  .fr-link--close::after {
    forced-color-adjust: none;
    background-color: buttontext;
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-link {
    background-image: none;
    text-decoration: underline;
    color: #000091;
  }

  .fr-link::before {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
  }

  .fr-link--sm::before {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
  }

  .fr-link--lg::before {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  ul.fr-links-group--inline {
    list-style-type: none;
  }

  ol.fr-links-group--inline {
    list-style-type: none;
  }

  ul.fr-links-group--inline,
  ol.fr-links-group--inline {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fr-link__detail {
    color: #666;
  }

  .fr-links-group li::marker {
    color: #000091;
  }

  .fr-links-group--bordered {
    box-shadow: inset 0 0 0 1px #ddd;
  }

  .fr-link--close {
    background-color: transparent;
    color: #000091;
  }

  .fr-link--close:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-link--close:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-link--close:disabled,
  a.fr-link--close:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-link--close:disabled:hover,
  a.fr-link--close:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-link--close:disabled:active,
  a.fr-link--close:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media print {
  .fr-link {
    color: #000091;
  }

  .fr-link__detail {
    color: #666;
  }

  .fr-links-group li::marker {
    color: #000091;
  }

  .fr-links-group--bordered {
    box-shadow: inset 0 0 0 1px #ddd;
  }
}
