/*!
 * DSFR v1.10.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-icon-chrome-fill::before,
  .fr-icon-chrome-fill::after {
    background-image: url("../../../icons/logo/chrome-fill.svg");
  }

  .fr-icon-chrome-line::before,
  .fr-icon-chrome-line::after {
    background-image: url("../../../icons/logo/chrome-line.svg");
  }

  .fr-icon-edge-fill::before,
  .fr-icon-edge-fill::after {
    background-image: url("../../../icons/logo/edge-fill.svg");
  }

  .fr-icon-edge-line::before,
  .fr-icon-edge-line::after {
    background-image: url("../../../icons/logo/edge-line.svg");
  }

  .fr-icon-facebook-circle-fill::before,
  .fr-icon-facebook-circle-fill::after {
    background-image: url("../../../icons/logo/facebook-circle-fill.svg");
  }

  .fr-icon-facebook-circle-line::before,
  .fr-icon-facebook-circle-line::after {
    background-image: url("../../../icons/logo/facebook-circle-line.svg");
  }

  .fr-icon-firefox-fill::before,
  .fr-icon-firefox-fill::after {
    background-image: url("../../../icons/logo/firefox-fill.svg");
  }

  .fr-icon-firefox-line::before,
  .fr-icon-firefox-line::after {
    background-image: url("../../../icons/logo/firefox-line.svg");
  }

  .fr-icon-dailymotion-fill::before,
  .fr-icon-dailymotion-fill::after {
    background-image: url("../../../icons/logo/fr--dailymotion-fill.svg");
  }

  .fr-icon-dailymotion-line::before,
  .fr-icon-dailymotion-line::after {
    background-image: url("../../../icons/logo/fr--dailymotion-line.svg");
  }

  .fr-icon-tiktok-fill::before,
  .fr-icon-tiktok-fill::after {
    background-image: url("../../../icons/logo/fr--tiktok-fill.svg");
  }

  .fr-icon-tiktok-line::before,
  .fr-icon-tiktok-line::after {
    background-image: url("../../../icons/logo/fr--tiktok-line.svg");
  }

  .fr-icon-github-fill::before,
  .fr-icon-github-fill::after {
    background-image: url("../../../icons/logo/github-fill.svg");
  }

  .fr-icon-github-line::before,
  .fr-icon-github-line::after {
    background-image: url("../../../icons/logo/github-line.svg");
  }

  .fr-icon-google-fill::before,
  .fr-icon-google-fill::after {
    background-image: url("../../../icons/logo/google-fill.svg");
  }

  .fr-icon-google-line::before,
  .fr-icon-google-line::after {
    background-image: url("../../../icons/logo/google-line.svg");
  }

  .fr-icon-ie-fill::before,
  .fr-icon-ie-fill::after {
    background-image: url("../../../icons/logo/ie-fill.svg");
  }

  .fr-icon-ie-line::before,
  .fr-icon-ie-line::after {
    background-image: url("../../../icons/logo/ie-line.svg");
  }

  .fr-icon-instagram-fill::before,
  .fr-icon-instagram-fill::after {
    background-image: url("../../../icons/logo/instagram-fill.svg");
  }

  .fr-icon-instagram-line::before,
  .fr-icon-instagram-line::after {
    background-image: url("../../../icons/logo/instagram-line.svg");
  }

  .fr-icon-linkedin-box-fill::before,
  .fr-icon-linkedin-box-fill::after {
    background-image: url("../../../icons/logo/linkedin-box-fill.svg");
  }

  .fr-icon-linkedin-box-line::before,
  .fr-icon-linkedin-box-line::after {
    background-image: url("../../../icons/logo/linkedin-box-line.svg");
  }

  .fr-icon-mastodon-fill::before,
  .fr-icon-mastodon-fill::after {
    background-image: url("../../../icons/logo/mastodon-fill.svg");
  }

  .fr-icon-mastodon-line::before,
  .fr-icon-mastodon-line::after {
    background-image: url("../../../icons/logo/mastodon-line.svg");
  }

  .fr-icon-npmjs-fill::before,
  .fr-icon-npmjs-fill::after {
    background-image: url("../../../icons/logo/npmjs-fill.svg");
  }

  .fr-icon-npmjs-line::before,
  .fr-icon-npmjs-line::after {
    background-image: url("../../../icons/logo/npmjs-line.svg");
  }

  .fr-icon-remixicon-fill::before,
  .fr-icon-remixicon-fill::after {
    background-image: url("../../../icons/logo/remixicon-fill.svg");
  }

  .fr-icon-remixicon-line::before,
  .fr-icon-remixicon-line::after {
    background-image: url("../../../icons/logo/remixicon-line.svg");
  }

  .fr-icon-safari-fill::before,
  .fr-icon-safari-fill::after {
    background-image: url("../../../icons/logo/safari-fill.svg");
  }

  .fr-icon-safari-line::before,
  .fr-icon-safari-line::after {
    background-image: url("../../../icons/logo/safari-line.svg");
  }

  .fr-icon-slack-fill::before,
  .fr-icon-slack-fill::after {
    background-image: url("../../../icons/logo/slack-fill.svg");
  }

  .fr-icon-slack-line::before,
  .fr-icon-slack-line::after {
    background-image: url("../../../icons/logo/slack-line.svg");
  }

  .fr-icon-snapchat-fill::before,
  .fr-icon-snapchat-fill::after {
    background-image: url("../../../icons/logo/snapchat-fill.svg");
  }

  .fr-icon-snapchat-line::before,
  .fr-icon-snapchat-line::after {
    background-image: url("../../../icons/logo/snapchat-line.svg");
  }

  .fr-icon-telegram-fill::before,
  .fr-icon-telegram-fill::after {
    background-image: url("../../../icons/logo/telegram-fill.svg");
  }

  .fr-icon-telegram-line::before,
  .fr-icon-telegram-line::after {
    background-image: url("../../../icons/logo/telegram-line.svg");
  }

  .fr-icon-twitch-fill::before,
  .fr-icon-twitch-fill::after {
    background-image: url("../../../icons/logo/twitch-fill.svg");
  }

  .fr-icon-twitch-line::before,
  .fr-icon-twitch-line::after {
    background-image: url("../../../icons/logo/twitch-line.svg");
  }

  .fr-icon-twitter-fill::before,
  .fr-icon-twitter-fill::after {
    background-image: url("../../../icons/logo/twitter-fill.svg");
  }

  .fr-icon-twitter-line::before,
  .fr-icon-twitter-line::after {
    background-image: url("../../../icons/logo/twitter-line.svg");
  }

  .fr-icon-vimeo-fill::before,
  .fr-icon-vimeo-fill::after {
    background-image: url("../../../icons/logo/vimeo-fill.svg");
  }

  .fr-icon-vimeo-line::before,
  .fr-icon-vimeo-line::after {
    background-image: url("../../../icons/logo/vimeo-line.svg");
  }

  .fr-icon-vuejs-fill::before,
  .fr-icon-vuejs-fill::after {
    background-image: url("../../../icons/logo/vuejs-fill.svg");
  }

  .fr-icon-vuejs-line::before,
  .fr-icon-vuejs-line::after {
    background-image: url("../../../icons/logo/vuejs-line.svg");
  }

  .fr-icon-youtube-fill::before,
  .fr-icon-youtube-fill::after {
    background-image: url("../../../icons/logo/youtube-fill.svg");
  }

  .fr-icon-youtube-line::before,
  .fr-icon-youtube-line::after {
    background-image: url("../../../icons/logo/youtube-line.svg");
  }

  .fr-fi-facebook-circle-fill::before {
    background-image: url("../../../icons/logo/facebook-circle-fill.svg");
  }

  .fr-fi-facebook-circle-line::before {
    background-image: url("../../../icons/logo/facebook-circle-line.svg");
  }

  .fr-fi-dailymotion-fill::before {
    background-image: url("../../../icons/logo/fr--dailymotion-fill.svg");
  }

  .fr-fi-dailymotion-line::before {
    background-image: url("../../../icons/logo/fr--dailymotion-line.svg");
  }

  .fr-fi-github-fill::before {
    background-image: url("../../../icons/logo/github-fill.svg");
  }

  .fr-fi-github-line::before {
    background-image: url("../../../icons/logo/github-line.svg");
  }

  .fr-fi-instagram-fill::before {
    background-image: url("../../../icons/logo/instagram-fill.svg");
  }

  .fr-fi-instagram-line::before {
    background-image: url("../../../icons/logo/instagram-line.svg");
  }

  .fr-fi-linkedin-box-fill::before {
    background-image: url("../../../icons/logo/linkedin-box-fill.svg");
  }

  .fr-fi-linkedin-box-line::before {
    background-image: url("../../../icons/logo/linkedin-box-line.svg");
  }

  .fr-fi-npmjs-fill::before {
    background-image: url("../../../icons/logo/npmjs-fill.svg");
  }

  .fr-fi-npmjs-line::before {
    background-image: url("../../../icons/logo/npmjs-line.svg");
  }

  .fr-fi-remixicon-fill::before {
    background-image: url("../../../icons/logo/remixicon-fill.svg");
  }

  .fr-fi-remixicon-line::before {
    background-image: url("../../../icons/logo/remixicon-line.svg");
  }

  .fr-fi-slack-fill::before {
    background-image: url("../../../icons/logo/slack-fill.svg");
  }

  .fr-fi-slack-line::before {
    background-image: url("../../../icons/logo/slack-line.svg");
  }

  .fr-fi-snapchat-fill::before {
    background-image: url("../../../icons/logo/snapchat-fill.svg");
  }

  .fr-fi-snapchat-line::before {
    background-image: url("../../../icons/logo/snapchat-line.svg");
  }

  .fr-fi-telegram-fill::before {
    background-image: url("../../../icons/logo/telegram-fill.svg");
  }

  .fr-fi-telegram-line::before {
    background-image: url("../../../icons/logo/telegram-line.svg");
  }

  .fr-fi-twitch-fill::before {
    background-image: url("../../../icons/logo/twitch-fill.svg");
  }

  .fr-fi-twitch-line::before {
    background-image: url("../../../icons/logo/twitch-line.svg");
  }

  .fr-fi-twitter-fill::before {
    background-image: url("../../../icons/logo/twitter-fill.svg");
  }

  .fr-fi-twitter-line::before {
    background-image: url("../../../icons/logo/twitter-line.svg");
  }

  .fr-fi-vimeo-fill::before {
    background-image: url("../../../icons/logo/vimeo-fill.svg");
  }

  .fr-fi-vimeo-line::before {
    background-image: url("../../../icons/logo/vimeo-line.svg");
  }

  .fr-fi-youtube-fill::before {
    background-image: url("../../../icons/logo/youtube-fill.svg");
  }

  .fr-fi-youtube-line::before {
    background-image: url("../../../icons/logo/youtube-line.svg");
  }
}
