/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-bug-fill::before,
.fr-icon-bug-fill::after {
  -webkit-mask-image: url("../../../icons/development/bug-fill.svg");
  mask-image: url("../../../icons/development/bug-fill.svg");
}

.fr-icon-bug-line::before,
.fr-icon-bug-line::after {
  -webkit-mask-image: url("../../../icons/development/bug-line.svg");
  mask-image: url("../../../icons/development/bug-line.svg");
}

.fr-icon-code-box-fill::before,
.fr-icon-code-box-fill::after {
  -webkit-mask-image: url("../../../icons/development/code-box-fill.svg");
  mask-image: url("../../../icons/development/code-box-fill.svg");
}

.fr-icon-code-box-line::before,
.fr-icon-code-box-line::after {
  -webkit-mask-image: url("../../../icons/development/code-box-line.svg");
  mask-image: url("../../../icons/development/code-box-line.svg");
}

.fr-icon-code-s-slash-line::before,
.fr-icon-code-s-slash-line::after {
  -webkit-mask-image: url("../../../icons/development/code-s-slash-line.svg");
  mask-image: url("../../../icons/development/code-s-slash-line.svg");
}

.fr-icon-cursor-fill::before,
.fr-icon-cursor-fill::after {
  -webkit-mask-image: url("../../../icons/development/cursor-fill.svg");
  mask-image: url("../../../icons/development/cursor-fill.svg");
}

.fr-icon-cursor-line::before,
.fr-icon-cursor-line::after {
  -webkit-mask-image: url("../../../icons/development/cursor-line.svg");
  mask-image: url("../../../icons/development/cursor-line.svg");
}

.fr-icon-git-branch-fill::before,
.fr-icon-git-branch-fill::after {
  -webkit-mask-image: url("../../../icons/development/git-branch-fill.svg");
  mask-image: url("../../../icons/development/git-branch-fill.svg");
}

.fr-icon-git-branch-line::before,
.fr-icon-git-branch-line::after {
  -webkit-mask-image: url("../../../icons/development/git-branch-line.svg");
  mask-image: url("../../../icons/development/git-branch-line.svg");
}

.fr-icon-git-commit-fill::before,
.fr-icon-git-commit-fill::after {
  -webkit-mask-image: url("../../../icons/development/git-commit-fill.svg");
  mask-image: url("../../../icons/development/git-commit-fill.svg");
}

.fr-icon-git-commit-line::before,
.fr-icon-git-commit-line::after {
  -webkit-mask-image: url("../../../icons/development/git-commit-line.svg");
  mask-image: url("../../../icons/development/git-commit-line.svg");
}

.fr-icon-git-merge-fill::before,
.fr-icon-git-merge-fill::after {
  -webkit-mask-image: url("../../../icons/development/git-merge-fill.svg");
  mask-image: url("../../../icons/development/git-merge-fill.svg");
}

.fr-icon-git-merge-line::before,
.fr-icon-git-merge-line::after {
  -webkit-mask-image: url("../../../icons/development/git-merge-line.svg");
  mask-image: url("../../../icons/development/git-merge-line.svg");
}

.fr-icon-git-pull-request-fill::before,
.fr-icon-git-pull-request-fill::after {
  -webkit-mask-image: url("../../../icons/development/git-pull-request-fill.svg");
  mask-image: url("../../../icons/development/git-pull-request-fill.svg");
}

.fr-icon-git-pull-request-line::before,
.fr-icon-git-pull-request-line::after {
  -webkit-mask-image: url("../../../icons/development/git-pull-request-line.svg");
  mask-image: url("../../../icons/development/git-pull-request-line.svg");
}

.fr-icon-git-repository-commits-fill::before,
.fr-icon-git-repository-commits-fill::after {
  -webkit-mask-image: url("../../../icons/development/git-repository-commits-fill.svg");
  mask-image: url("../../../icons/development/git-repository-commits-fill.svg");
}

.fr-icon-git-repository-commits-line::before,
.fr-icon-git-repository-commits-line::after {
  -webkit-mask-image: url("../../../icons/development/git-repository-commits-line.svg");
  mask-image: url("../../../icons/development/git-repository-commits-line.svg");
}

.fr-icon-git-repository-fill::before,
.fr-icon-git-repository-fill::after {
  -webkit-mask-image: url("../../../icons/development/git-repository-fill.svg");
  mask-image: url("../../../icons/development/git-repository-fill.svg");
}

.fr-icon-git-repository-line::before,
.fr-icon-git-repository-line::after {
  -webkit-mask-image: url("../../../icons/development/git-repository-line.svg");
  mask-image: url("../../../icons/development/git-repository-line.svg");
}

.fr-icon-git-repository-private-fill::before,
.fr-icon-git-repository-private-fill::after {
  -webkit-mask-image: url("../../../icons/development/git-repository-private-fill.svg");
  mask-image: url("../../../icons/development/git-repository-private-fill.svg");
}

.fr-icon-git-repository-private-line::before,
.fr-icon-git-repository-private-line::after {
  -webkit-mask-image: url("../../../icons/development/git-repository-private-line.svg");
  mask-image: url("../../../icons/development/git-repository-private-line.svg");
}

.fr-icon-terminal-box-fill::before,
.fr-icon-terminal-box-fill::after {
  -webkit-mask-image: url("../../../icons/development/terminal-box-fill.svg");
  mask-image: url("../../../icons/development/terminal-box-fill.svg");
}

.fr-icon-terminal-box-line::before,
.fr-icon-terminal-box-line::after {
  -webkit-mask-image: url("../../../icons/development/terminal-box-line.svg");
  mask-image: url("../../../icons/development/terminal-box-line.svg");
}

.fr-icon-terminal-line::before,
.fr-icon-terminal-line::after {
  -webkit-mask-image: url("../../../icons/development/terminal-line.svg");
  mask-image: url("../../../icons/development/terminal-line.svg");
}

.fr-icon-terminal-window-fill::before,
.fr-icon-terminal-window-fill::after {
  -webkit-mask-image: url("../../../icons/development/terminal-window-fill.svg");
  mask-image: url("../../../icons/development/terminal-window-fill.svg");
}

.fr-icon-terminal-window-line::before,
.fr-icon-terminal-window-line::after {
  -webkit-mask-image: url("../../../icons/development/terminal-window-line.svg");
  mask-image: url("../../../icons/development/terminal-window-line.svg");
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
