/*!
 * DSFR v1.11.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-consent-placeholder {
    background-color: #eee;
  }

  .fr-consent-banner {
    background-color: #f6f6f6;
    box-shadow: inset 0 0 0 1px #ddd;
    display: none;
  }

  .fr-consent-manager__header,
  .fr-consent-service {
    box-shadow: inset 0 -1px 0 0 #ddd;
    color: #3a3a3a;
  }

  .fr-consent-manager__header .fr-radio-group + .fr-radio-group::before,
  .fr-consent-service .fr-radio-group + .fr-radio-group::before {
    box-shadow: inset 0 0 0 1px #ddd;
  }

  .fr-consent-service__title {
    color: #161616;
  }

  .fr-consent-service .fr-consent-service__collapse-btn {
    color: #000091;
  }
}
@media print and (-ms-high-contrast: none), print and (-ms-high-contrast: active) {
  .fr-consent-banner {
    z-index: 1500;
  }

  .fr-consent-service:last-of-type,
  .fr-consent-service .fr-consent-service {
    box-shadow: none;
  }
}
