/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-content-media__transcription .fr-btn::before {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/menu-2-fill.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-content-media__transcription .fr-btn {
    background-color: transparent;
    color: #000091;
  }

  .fr-content-media__transcription .fr-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-content-media__transcription .fr-btn:disabled,
  .fr-content-media__transcription a.fr-btn:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-content-media__transcription .fr-btn:disabled:hover,
  .fr-content-media__transcription a.fr-btn:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-btn:disabled:active,
  .fr-content-media__transcription a.fr-btn:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-content-media__transcription .fr-link {
    background-color: transparent;
    color: #000091;
  }

  .fr-content-media__transcription .fr-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-link:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-content-media__transcription .fr-link:disabled,
  .fr-content-media__transcription a.fr-link:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-content-media__transcription .fr-link:disabled:hover,
  .fr-content-media__transcription a.fr-link:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-link:disabled:active,
  .fr-content-media__transcription a.fr-link:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
