/*!
 * DSFR v1.10.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-article-fill::before,
.fr-icon-article-fill::after {
  -webkit-mask-image: url("../../../icons/document/article-fill.svg");
  mask-image: url("../../../icons/document/article-fill.svg");
}

.fr-icon-article-line::before,
.fr-icon-article-line::after {
  -webkit-mask-image: url("../../../icons/document/article-line.svg");
  mask-image: url("../../../icons/document/article-line.svg");
}

.fr-icon-book-2-fill::before,
.fr-icon-book-2-fill::after {
  -webkit-mask-image: url("../../../icons/document/book-2-fill.svg");
  mask-image: url("../../../icons/document/book-2-fill.svg");
}

.fr-icon-book-2-line::before,
.fr-icon-book-2-line::after {
  -webkit-mask-image: url("../../../icons/document/book-2-line.svg");
  mask-image: url("../../../icons/document/book-2-line.svg");
}

.fr-icon-booklet-fill::before,
.fr-icon-booklet-fill::after {
  -webkit-mask-image: url("../../../icons/document/booklet-fill.svg");
  mask-image: url("../../../icons/document/booklet-fill.svg");
}

.fr-icon-booklet-line::before,
.fr-icon-booklet-line::after {
  -webkit-mask-image: url("../../../icons/document/booklet-line.svg");
  mask-image: url("../../../icons/document/booklet-line.svg");
}

.fr-icon-clipboard-fill::before,
.fr-icon-clipboard-fill::after {
  -webkit-mask-image: url("../../../icons/document/clipboard-fill.svg");
  mask-image: url("../../../icons/document/clipboard-fill.svg");
}

.fr-icon-clipboard-line::before,
.fr-icon-clipboard-line::after {
  -webkit-mask-image: url("../../../icons/document/clipboard-line.svg");
  mask-image: url("../../../icons/document/clipboard-line.svg");
}

.fr-icon-draft-fill::before,
.fr-icon-draft-fill::after {
  -webkit-mask-image: url("../../../icons/document/draft-fill.svg");
  mask-image: url("../../../icons/document/draft-fill.svg");
}

.fr-icon-draft-line::before,
.fr-icon-draft-line::after {
  -webkit-mask-image: url("../../../icons/document/draft-line.svg");
  mask-image: url("../../../icons/document/draft-line.svg");
}

.fr-icon-file-add-fill::before,
.fr-icon-file-add-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-add-fill.svg");
  mask-image: url("../../../icons/document/file-add-fill.svg");
}

.fr-icon-file-add-line::before,
.fr-icon-file-add-line::after {
  -webkit-mask-image: url("../../../icons/document/file-add-line.svg");
  mask-image: url("../../../icons/document/file-add-line.svg");
}

.fr-icon-file-download-fill::before,
.fr-icon-file-download-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-download-fill.svg");
  mask-image: url("../../../icons/document/file-download-fill.svg");
}

.fr-icon-file-download-line::before,
.fr-icon-file-download-line::after {
  -webkit-mask-image: url("../../../icons/document/file-download-line.svg");
  mask-image: url("../../../icons/document/file-download-line.svg");
}

.fr-icon-file-fill::before,
.fr-icon-file-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-fill.svg");
  mask-image: url("../../../icons/document/file-fill.svg");
}

.fr-icon-file-line::before,
.fr-icon-file-line::after {
  -webkit-mask-image: url("../../../icons/document/file-line.svg");
  mask-image: url("../../../icons/document/file-line.svg");
}

.fr-icon-file-pdf-fill::before,
.fr-icon-file-pdf-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-pdf-fill.svg");
  mask-image: url("../../../icons/document/file-pdf-fill.svg");
}

.fr-icon-file-pdf-line::before,
.fr-icon-file-pdf-line::after {
  -webkit-mask-image: url("../../../icons/document/file-pdf-line.svg");
  mask-image: url("../../../icons/document/file-pdf-line.svg");
}

.fr-icon-file-text-fill::before,
.fr-icon-file-text-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-text-fill.svg");
  mask-image: url("../../../icons/document/file-text-fill.svg");
}

.fr-icon-file-text-line::before,
.fr-icon-file-text-line::after {
  -webkit-mask-image: url("../../../icons/document/file-text-line.svg");
  mask-image: url("../../../icons/document/file-text-line.svg");
}

.fr-icon-folder-2-fill::before,
.fr-icon-folder-2-fill::after {
  -webkit-mask-image: url("../../../icons/document/folder-2-fill.svg");
  mask-image: url("../../../icons/document/folder-2-fill.svg");
}

.fr-icon-folder-2-line::before,
.fr-icon-folder-2-line::after {
  -webkit-mask-image: url("../../../icons/document/folder-2-line.svg");
  mask-image: url("../../../icons/document/folder-2-line.svg");
}

.fr-icon-newspaper-fill::before,
.fr-icon-newspaper-fill::after {
  -webkit-mask-image: url("../../../icons/document/newspaper-fill.svg");
  mask-image: url("../../../icons/document/newspaper-fill.svg");
}

.fr-icon-newspaper-line::before,
.fr-icon-newspaper-line::after {
  -webkit-mask-image: url("../../../icons/document/newspaper-line.svg");
  mask-image: url("../../../icons/document/newspaper-line.svg");
}

.fr-icon-survey-fill::before,
.fr-icon-survey-fill::after {
  -webkit-mask-image: url("../../../icons/document/survey-fill.svg");
  mask-image: url("../../../icons/document/survey-fill.svg");
}

.fr-icon-survey-line::before,
.fr-icon-survey-line::after {
  -webkit-mask-image: url("../../../icons/document/survey-line.svg");
  mask-image: url("../../../icons/document/survey-line.svg");
}

.fr-icon-todo-fill::before,
.fr-icon-todo-fill::after {
  -webkit-mask-image: url("../../../icons/document/todo-fill.svg");
  mask-image: url("../../../icons/document/todo-fill.svg");
}

.fr-icon-todo-line::before,
.fr-icon-todo-line::after {
  -webkit-mask-image: url("../../../icons/document/todo-line.svg");
  mask-image: url("../../../icons/document/todo-line.svg");
}

.fr-fi-file-download-fill::before,
.fr-fi-file-download-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-download-fill.svg");
  mask-image: url("../../../icons/document/file-download-fill.svg");
}

.fr-fi-file-download-line::before,
.fr-fi-file-download-line::after {
  -webkit-mask-image: url("../../../icons/document/file-download-line.svg");
  mask-image: url("../../../icons/document/file-download-line.svg");
}

.fr-fi-file-fill::before,
.fr-fi-file-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-fill.svg");
  mask-image: url("../../../icons/document/file-fill.svg");
}

.fr-fi-file-line::before,
.fr-fi-file-line::after {
  -webkit-mask-image: url("../../../icons/document/file-line.svg");
  mask-image: url("../../../icons/document/file-line.svg");
}

.fr-fi-file-pdf-fill::before,
.fr-fi-file-pdf-fill::after {
  -webkit-mask-image: url("../../../icons/document/file-pdf-fill.svg");
  mask-image: url("../../../icons/document/file-pdf-fill.svg");
}

.fr-fi-file-pdf-line::before,
.fr-fi-file-pdf-line::after {
  -webkit-mask-image: url("../../../icons/document/file-pdf-line.svg");
  mask-image: url("../../../icons/document/file-pdf-line.svg");
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
