/*!
 * DSFR v1.11.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-translate .fr-translate__btn[aria-expanded=true] {
    color: #000091;
    background-color: #e3e3fd;
  }

  .fr-translate .fr-translate__btn[aria-expanded=true]:hover {
    background-color: var(--hover-tint);
  }

  .fr-translate .fr-translate__btn[aria-expanded=true]:active {
    background-color: var(--active-tint);
  }

  .fr-translate .fr-translate__btn {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media print and (-ms-high-contrast: none), print and (-ms-high-contrast: active) {
  .fr-translate__menu .fr-translate__language {
    box-shadow: none;
  }
}
