/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  PAGINATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-pagination__link {
  --text-spacing: 0;
  --title-spacing: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  --hover-tint: var(--hover);
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  min-width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;

  --underline-img: none;
  position: relative;
}

.fr-pagination__link::before,
.fr-pagination__link::after {
  display: block;
}

.fr-pagination {
  --underline-img: none;
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  color: var(--text-action-high-grey);
}

.fr-pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.fr-pagination__list > *:first-child,
.fr-pagination__list > *:first-child * {
  margin-left: 0;
}

.fr-pagination__list > *:last-child,
.fr-pagination__list > *:last-child * {
  margin-right: 0;
}

.fr-pagination__link:not([href])[aria-current]:not([aria-current=false]) {
  cursor: default;
  pointer-events: none;
}

.fr-pagination__link--first {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-pagination__link--first::before {
  --icon-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/fr--arrow-left-s-first-line.svg");
  mask-image: url("../../icons/system/fr--arrow-left-s-first-line.svg");
  content: "";
}

.fr-pagination__link--first.fr-pagination__link--label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-pagination__link--first.fr-pagination__link--label::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/fr--arrow-left-s-first-line.svg");
  mask-image: url("../../icons/system/fr--arrow-left-s-first-line.svg");
  content: "";
}

.fr-pagination__link--prev {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-pagination__link--prev::before {
  --icon-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/arrow-left-s-line.svg");
  mask-image: url("../../icons/system/arrow-left-s-line.svg");
  content: "";
}

.fr-pagination__link--prev.fr-pagination__link--label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-pagination__link--prev.fr-pagination__link--label::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/arrow-left-s-line.svg");
  mask-image: url("../../icons/system/arrow-left-s-line.svg");
  content: "";
}

.fr-pagination__link--next {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-pagination__link--next::before {
  --icon-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/arrow-right-s-line.svg");
  mask-image: url("../../icons/system/arrow-right-s-line.svg");
  content: "";
}

.fr-pagination__link--next.fr-pagination__link--label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-pagination__link--next.fr-pagination__link--label::after {

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/arrow-right-s-line.svg");
  mask-image: url("../../icons/system/arrow-right-s-line.svg");
  content: "";
}

.fr-pagination__link--next.fr-pagination__link--label::before {
  content: none;
}

.fr-pagination__link--last {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-pagination__link--last::before {
  --icon-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/fr--arrow-right-s-last-line.svg");
  mask-image: url("../../icons/system/fr--arrow-right-s-last-line.svg");
  content: "";
}

.fr-pagination__link--last.fr-pagination__link--label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-pagination__link--last.fr-pagination__link--label::after {

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/fr--arrow-right-s-last-line.svg");
  mask-image: url("../../icons/system/fr--arrow-right-s-last-line.svg");
  content: "";
}

.fr-pagination__link--last.fr-pagination__link--label::before {
  content: none;
}

.fr-pagination__link[aria-current]:not([aria-current=false]) {
  background-color: var(--background-active-blue-france);

  --idle: transparent;
  --hover: var(--background-active-blue-france-hover);
  --active: var(--background-active-blue-france-active);
  color: var(--text-inverted-blue-france);
}

.fr-pagination__link:not([aria-current]):disabled,
a.fr-pagination__link:not([aria-current]):not([href]),
a.fr-pagination__link[aria-current=false]:not([href]),
.fr-pagination__link[aria-current=false]:disabled {
  color: var(--text-disabled-grey);
}
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
  .fr-pagination__link--first.fr-pagination__link--lg-label {
    font-size: 0.875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    overflow: initial;
    max-width: 100%;
    max-height: none;
  }

  .fr-pagination__link--first.fr-pagination__link--lg-label::before {
    --icon-size: 1rem;
    margin-left: -0.125rem;
    margin-right: 0.5rem;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url("../../icons/system/fr--arrow-left-s-first-line.svg");
    mask-image: url("../../icons/system/fr--arrow-left-s-first-line.svg");
    content: "";
  }

  .fr-pagination__link--prev.fr-pagination__link--lg-label {
    font-size: 0.875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    overflow: initial;
    max-width: 100%;
    max-height: none;
  }

  .fr-pagination__link--prev.fr-pagination__link--lg-label::before {
    --icon-size: 1rem;
    margin-left: -0.125rem;
    margin-right: 0.5rem;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url("../../icons/system/arrow-left-s-line.svg");
    mask-image: url("../../icons/system/arrow-left-s-line.svg");
    content: "";
  }

  .fr-pagination__link--next.fr-pagination__link--lg-label {
    font-size: 0.875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    overflow: initial;
    max-width: 100%;
    max-height: none;
  }

  .fr-pagination__link--next.fr-pagination__link--lg-label::after {

    --icon-size: 1rem;
    margin-right: -0.125rem;
    margin-left: 0.5rem;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url("../../icons/system/arrow-right-s-line.svg");
    mask-image: url("../../icons/system/arrow-right-s-line.svg");
    content: "";
  }

  .fr-pagination__link--next.fr-pagination__link--lg-label::before {
    content: none;
  }

  .fr-pagination__link--last.fr-pagination__link--lg-label {
    font-size: 0.875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    overflow: initial;
    max-width: 100%;
    max-height: none;
  }

  .fr-pagination__link--last.fr-pagination__link--lg-label::after {

    --icon-size: 1rem;
    margin-right: -0.125rem;
    margin-left: 0.5rem;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url("../../icons/system/fr--arrow-right-s-last-line.svg");
    mask-image: url("../../icons/system/fr--arrow-right-s-last-line.svg");
    content: "";
  }

  .fr-pagination__link--last.fr-pagination__link--lg-label::before {
    content: none;
  }
}
@media (min-width: 78em) {
  /*! media xl */
}
@media (-ms-high-contrast: active), (forced-colors: active) {
  .fr-pagination__link:not([href]):disabled:not([aria-current]),
  a.fr-pagination__link:not([href]):not([aria-current]) {
    color: graytext;
  }

  .fr-pagination__link--first::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--first.fr-pagination__link--label::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--prev::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--prev.fr-pagination__link--label::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--next::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--next.fr-pagination__link--label::after {
    forced-color-adjust: none;
  }

  .fr-pagination__link--last::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--last.fr-pagination__link--label::after {
    forced-color-adjust: none;
  }
}
@media (min-width: 62em) and (-ms-high-contrast: active), (min-width: 62em) and (forced-colors: active) {
  .fr-pagination__link--first.fr-pagination__link--lg-label::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--prev.fr-pagination__link--lg-label::before {
    forced-color-adjust: none;
  }

  .fr-pagination__link--next.fr-pagination__link--lg-label::after {
    forced-color-adjust: none;
  }

  .fr-pagination__link--last.fr-pagination__link--lg-label::after {
    forced-color-adjust: none;
  }
}
@media (forced-colors: active), (prefers-contrast: more) {
  .fr-pagination__link[aria-current]:not([aria-current=false]) {
    justify-content: center;
    padding: calc(0.25rem - 1px) calc(0.75rem - 1px);
    border: 1px solid var(--border-active-blue-france);
  }
}
