/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-pagination__link[aria-current]:not([aria-current=false]) {
    font-weight: bold;
    background: none;
    color: black;
    border: 1px solid;
  }

  .fr-pagination__link--prev::before,
  .fr-pagination__link--prev::after,
  .fr-pagination__link--next::before,
  .fr-pagination__link--next::after {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
