/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-transcription__btn {
    display: none;
  }

  .fr-transcription__footer {
    display: none;
  }

  .fr-transcription .fr-modal:not(.fr-modal--opened) {
    display: none;
  }
}
