/*!
 * DSFR v1.14.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON DESIGN
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-anticlockwise-fill::before,
.fr-icon-anticlockwise-fill::after {
  -webkit-mask-image: url("../../../icons/design/anticlockwise-fill.svg");
  mask-image: url("../../../icons/design/anticlockwise-fill.svg");
}

.fr-icon-anticlockwise-line::before,
.fr-icon-anticlockwise-line::after {
  -webkit-mask-image: url("../../../icons/design/anticlockwise-line.svg");
  mask-image: url("../../../icons/design/anticlockwise-line.svg");
}

.fr-icon-artboard-fill::before,
.fr-icon-artboard-fill::after {
  -webkit-mask-image: url("../../../icons/design/artboard-fill.svg");
  mask-image: url("../../../icons/design/artboard-fill.svg");
}

.fr-icon-artboard-line::before,
.fr-icon-artboard-line::after {
  -webkit-mask-image: url("../../../icons/design/artboard-line.svg");
  mask-image: url("../../../icons/design/artboard-line.svg");
}

.fr-icon-ball-pen-fill::before,
.fr-icon-ball-pen-fill::after {
  -webkit-mask-image: url("../../../icons/design/ball-pen-fill.svg");
  mask-image: url("../../../icons/design/ball-pen-fill.svg");
}

.fr-icon-ball-pen-line::before,
.fr-icon-ball-pen-line::after {
  -webkit-mask-image: url("../../../icons/design/ball-pen-line.svg");
  mask-image: url("../../../icons/design/ball-pen-line.svg");
}

.fr-icon-blur-off-fill::before,
.fr-icon-blur-off-fill::after {
  -webkit-mask-image: url("../../../icons/design/blur-off-fill.svg");
  mask-image: url("../../../icons/design/blur-off-fill.svg");
}

.fr-icon-blur-off-line::before,
.fr-icon-blur-off-line::after {
  -webkit-mask-image: url("../../../icons/design/blur-off-line.svg");
  mask-image: url("../../../icons/design/blur-off-line.svg");
}

.fr-icon-brush-3-fill::before,
.fr-icon-brush-3-fill::after {
  -webkit-mask-image: url("../../../icons/design/brush-3-fill.svg");
  mask-image: url("../../../icons/design/brush-3-fill.svg");
}

.fr-icon-brush-3-line::before,
.fr-icon-brush-3-line::after {
  -webkit-mask-image: url("../../../icons/design/brush-3-line.svg");
  mask-image: url("../../../icons/design/brush-3-line.svg");
}

.fr-icon-brush-fill::before,
.fr-icon-brush-fill::after {
  -webkit-mask-image: url("../../../icons/design/brush-fill.svg");
  mask-image: url("../../../icons/design/brush-fill.svg");
}

.fr-icon-brush-line::before,
.fr-icon-brush-line::after {
  -webkit-mask-image: url("../../../icons/design/brush-line.svg");
  mask-image: url("../../../icons/design/brush-line.svg");
}

.fr-icon-circle-fill::before,
.fr-icon-circle-fill::after {
  -webkit-mask-image: url("../../../icons/design/circle-fill.svg");
  mask-image: url("../../../icons/design/circle-fill.svg");
}

.fr-icon-circle-line::before,
.fr-icon-circle-line::after {
  -webkit-mask-image: url("../../../icons/design/circle-line.svg");
  mask-image: url("../../../icons/design/circle-line.svg");
}

.fr-icon-clockwise-fill::before,
.fr-icon-clockwise-fill::after {
  -webkit-mask-image: url("../../../icons/design/clockwise-fill.svg");
  mask-image: url("../../../icons/design/clockwise-fill.svg");
}

.fr-icon-clockwise-line::before,
.fr-icon-clockwise-line::after {
  -webkit-mask-image: url("../../../icons/design/clockwise-line.svg");
  mask-image: url("../../../icons/design/clockwise-line.svg");
}

.fr-icon-collage-fill::before,
.fr-icon-collage-fill::after {
  -webkit-mask-image: url("../../../icons/design/collage-fill.svg");
  mask-image: url("../../../icons/design/collage-fill.svg");
}

.fr-icon-collage-line::before,
.fr-icon-collage-line::after {
  -webkit-mask-image: url("../../../icons/design/collage-line.svg");
  mask-image: url("../../../icons/design/collage-line.svg");
}

.fr-icon-compasses-2-fill::before,
.fr-icon-compasses-2-fill::after {
  -webkit-mask-image: url("../../../icons/design/compasses-2-fill.svg");
  mask-image: url("../../../icons/design/compasses-2-fill.svg");
}

.fr-icon-compasses-2-line::before,
.fr-icon-compasses-2-line::after {
  -webkit-mask-image: url("../../../icons/design/compasses-2-line.svg");
  mask-image: url("../../../icons/design/compasses-2-line.svg");
}

.fr-icon-contrast-drop-2-fill::before,
.fr-icon-contrast-drop-2-fill::after {
  -webkit-mask-image: url("../../../icons/design/contrast-drop-2-fill.svg");
  mask-image: url("../../../icons/design/contrast-drop-2-fill.svg");
}

.fr-icon-contrast-drop-2-line::before,
.fr-icon-contrast-drop-2-line::after {
  -webkit-mask-image: url("../../../icons/design/contrast-drop-2-line.svg");
  mask-image: url("../../../icons/design/contrast-drop-2-line.svg");
}

.fr-icon-contrast-fill::before,
.fr-icon-contrast-fill::after {
  -webkit-mask-image: url("../../../icons/design/contrast-fill.svg");
  mask-image: url("../../../icons/design/contrast-fill.svg");
}

.fr-icon-contrast-line::before,
.fr-icon-contrast-line::after {
  -webkit-mask-image: url("../../../icons/design/contrast-line.svg");
  mask-image: url("../../../icons/design/contrast-line.svg");
}

.fr-icon-crop-fill::before,
.fr-icon-crop-fill::after {
  -webkit-mask-image: url("../../../icons/design/crop-fill.svg");
  mask-image: url("../../../icons/design/crop-fill.svg");
}

.fr-icon-crop-line::before,
.fr-icon-crop-line::after {
  -webkit-mask-image: url("../../../icons/design/crop-line.svg");
  mask-image: url("../../../icons/design/crop-line.svg");
}

.fr-icon-crosshair-2-fill::before,
.fr-icon-crosshair-2-fill::after {
  -webkit-mask-image: url("../../../icons/design/crosshair-2-fill.svg");
  mask-image: url("../../../icons/design/crosshair-2-fill.svg");
}

.fr-icon-crosshair-2-line::before,
.fr-icon-crosshair-2-line::after {
  -webkit-mask-image: url("../../../icons/design/crosshair-2-line.svg");
  mask-image: url("../../../icons/design/crosshair-2-line.svg");
}

.fr-icon-drag-drop-fill::before,
.fr-icon-drag-drop-fill::after {
  -webkit-mask-image: url("../../../icons/design/drag-drop-fill.svg");
  mask-image: url("../../../icons/design/drag-drop-fill.svg");
}

.fr-icon-drag-drop-line::before,
.fr-icon-drag-drop-line::after {
  -webkit-mask-image: url("../../../icons/design/drag-drop-line.svg");
  mask-image: url("../../../icons/design/drag-drop-line.svg");
}

.fr-icon-drag-move-2-fill::before,
.fr-icon-drag-move-2-fill::after {
  -webkit-mask-image: url("../../../icons/design/drag-move-2-fill.svg");
  mask-image: url("../../../icons/design/drag-move-2-fill.svg");
}

.fr-icon-drag-move-2-line::before,
.fr-icon-drag-move-2-line::after {
  -webkit-mask-image: url("../../../icons/design/drag-move-2-line.svg");
  mask-image: url("../../../icons/design/drag-move-2-line.svg");
}

.fr-icon-drop-fill::before,
.fr-icon-drop-fill::after {
  -webkit-mask-image: url("../../../icons/design/drop-fill.svg");
  mask-image: url("../../../icons/design/drop-fill.svg");
}

.fr-icon-drop-line::before,
.fr-icon-drop-line::after {
  -webkit-mask-image: url("../../../icons/design/drop-line.svg");
  mask-image: url("../../../icons/design/drop-line.svg");
}

.fr-icon-edit-box-fill::before,
.fr-icon-edit-box-fill::after {
  -webkit-mask-image: url("../../../icons/design/edit-box-fill.svg");
  mask-image: url("../../../icons/design/edit-box-fill.svg");
}

.fr-icon-edit-box-line::before,
.fr-icon-edit-box-line::after {
  -webkit-mask-image: url("../../../icons/design/edit-box-line.svg");
  mask-image: url("../../../icons/design/edit-box-line.svg");
}

.fr-icon-edit-circle-fill::before,
.fr-icon-edit-circle-fill::after {
  -webkit-mask-image: url("../../../icons/design/edit-circle-fill.svg");
  mask-image: url("../../../icons/design/edit-circle-fill.svg");
}

.fr-icon-edit-circle-line::before,
.fr-icon-edit-circle-line::after {
  -webkit-mask-image: url("../../../icons/design/edit-circle-line.svg");
  mask-image: url("../../../icons/design/edit-circle-line.svg");
}

.fr-icon-edit-fill::before,
.fr-icon-edit-fill::after {
  -webkit-mask-image: url("../../../icons/design/edit-fill.svg");
  mask-image: url("../../../icons/design/edit-fill.svg");
}

.fr-icon-edit-line::before,
.fr-icon-edit-line::after {
  -webkit-mask-image: url("../../../icons/design/edit-line.svg");
  mask-image: url("../../../icons/design/edit-line.svg");
}

.fr-icon-eraser-fill-1::before,
.fr-icon-eraser-fill-1::after {
  -webkit-mask-image: url("../../../icons/design/eraser-fill-1.svg");
  mask-image: url("../../../icons/design/eraser-fill-1.svg");
}

.fr-icon-eraser-fill::before,
.fr-icon-eraser-fill::after {
  -webkit-mask-image: url("../../../icons/design/eraser-fill.svg");
  mask-image: url("../../../icons/design/eraser-fill.svg");
}

.fr-icon-eraser-line-1::before,
.fr-icon-eraser-line-1::after {
  -webkit-mask-image: url("../../../icons/design/eraser-line-1.svg");
  mask-image: url("../../../icons/design/eraser-line-1.svg");
}

.fr-icon-eraser-line::before,
.fr-icon-eraser-line::after {
  -webkit-mask-image: url("../../../icons/design/eraser-line.svg");
  mask-image: url("../../../icons/design/eraser-line.svg");
}

.fr-icon-focus-3-fill::before,
.fr-icon-focus-3-fill::after {
  -webkit-mask-image: url("../../../icons/design/focus-3-fill.svg");
  mask-image: url("../../../icons/design/focus-3-fill.svg");
}

.fr-icon-focus-3-line::before,
.fr-icon-focus-3-line::after {
  -webkit-mask-image: url("../../../icons/design/focus-3-line.svg");
  mask-image: url("../../../icons/design/focus-3-line.svg");
}

.fr-icon-grid-fill::before,
.fr-icon-grid-fill::after {
  -webkit-mask-image: url("../../../icons/design/grid-fill.svg");
  mask-image: url("../../../icons/design/grid-fill.svg");
}

.fr-icon-grid-line::before,
.fr-icon-grid-line::after {
  -webkit-mask-image: url("../../../icons/design/grid-line.svg");
  mask-image: url("../../../icons/design/grid-line.svg");
}

.fr-icon-hammer-fill::before,
.fr-icon-hammer-fill::after {
  -webkit-mask-image: url("../../../icons/design/hammer-fill.svg");
  mask-image: url("../../../icons/design/hammer-fill.svg");
}

.fr-icon-hammer-line::before,
.fr-icon-hammer-line::after {
  -webkit-mask-image: url("../../../icons/design/hammer-line.svg");
  mask-image: url("../../../icons/design/hammer-line.svg");
}

.fr-icon-hexagon-fill::before,
.fr-icon-hexagon-fill::after {
  -webkit-mask-image: url("../../../icons/design/hexagon-fill.svg");
  mask-image: url("../../../icons/design/hexagon-fill.svg");
}

.fr-icon-hexagon-line::before,
.fr-icon-hexagon-line::after {
  -webkit-mask-image: url("../../../icons/design/hexagon-line.svg");
  mask-image: url("../../../icons/design/hexagon-line.svg");
}

.fr-icon-ink-bottle-fill::before,
.fr-icon-ink-bottle-fill::after {
  -webkit-mask-image: url("../../../icons/design/ink-bottle-fill.svg");
  mask-image: url("../../../icons/design/ink-bottle-fill.svg");
}

.fr-icon-ink-bottle-line::before,
.fr-icon-ink-bottle-line::after {
  -webkit-mask-image: url("../../../icons/design/ink-bottle-line.svg");
  mask-image: url("../../../icons/design/ink-bottle-line.svg");
}

.fr-icon-layout-bottom-fill::before,
.fr-icon-layout-bottom-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-bottom-fill.svg");
  mask-image: url("../../../icons/design/layout-bottom-fill.svg");
}

.fr-icon-layout-bottom-line::before,
.fr-icon-layout-bottom-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-bottom-line.svg");
  mask-image: url("../../../icons/design/layout-bottom-line.svg");
}

.fr-icon-layout-column-fill::before,
.fr-icon-layout-column-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-column-fill.svg");
  mask-image: url("../../../icons/design/layout-column-fill.svg");
}

.fr-icon-layout-column-line::before,
.fr-icon-layout-column-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-column-line.svg");
  mask-image: url("../../../icons/design/layout-column-line.svg");
}

.fr-icon-layout-fill::before,
.fr-icon-layout-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-fill.svg");
  mask-image: url("../../../icons/design/layout-fill.svg");
}

.fr-icon-layout-grid-fill::before,
.fr-icon-layout-grid-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-grid-fill.svg");
  mask-image: url("../../../icons/design/layout-grid-fill.svg");
}

.fr-icon-layout-grid-line::before,
.fr-icon-layout-grid-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-grid-line.svg");
  mask-image: url("../../../icons/design/layout-grid-line.svg");
}

.fr-icon-layout-left-fill::before,
.fr-icon-layout-left-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-left-fill.svg");
  mask-image: url("../../../icons/design/layout-left-fill.svg");
}

.fr-icon-layout-left-line::before,
.fr-icon-layout-left-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-left-line.svg");
  mask-image: url("../../../icons/design/layout-left-line.svg");
}

.fr-icon-layout-line::before,
.fr-icon-layout-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-line.svg");
  mask-image: url("../../../icons/design/layout-line.svg");
}

.fr-icon-layout-masonry-fill::before,
.fr-icon-layout-masonry-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-masonry-fill.svg");
  mask-image: url("../../../icons/design/layout-masonry-fill.svg");
}

.fr-icon-layout-masonry-line::before,
.fr-icon-layout-masonry-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-masonry-line.svg");
  mask-image: url("../../../icons/design/layout-masonry-line.svg");
}

.fr-icon-layout-right-fill::before,
.fr-icon-layout-right-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-right-fill.svg");
  mask-image: url("../../../icons/design/layout-right-fill.svg");
}

.fr-icon-layout-right-line::before,
.fr-icon-layout-right-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-right-line.svg");
  mask-image: url("../../../icons/design/layout-right-line.svg");
}

.fr-icon-layout-row-fill::before,
.fr-icon-layout-row-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-row-fill.svg");
  mask-image: url("../../../icons/design/layout-row-fill.svg");
}

.fr-icon-layout-row-line::before,
.fr-icon-layout-row-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-row-line.svg");
  mask-image: url("../../../icons/design/layout-row-line.svg");
}

.fr-icon-layout-top-fill::before,
.fr-icon-layout-top-fill::after {
  -webkit-mask-image: url("../../../icons/design/layout-top-fill.svg");
  mask-image: url("../../../icons/design/layout-top-fill.svg");
}

.fr-icon-layout-top-line::before,
.fr-icon-layout-top-line::after {
  -webkit-mask-image: url("../../../icons/design/layout-top-line.svg");
  mask-image: url("../../../icons/design/layout-top-line.svg");
}

.fr-icon-magic-fill::before,
.fr-icon-magic-fill::after {
  -webkit-mask-image: url("../../../icons/design/magic-fill.svg");
  mask-image: url("../../../icons/design/magic-fill.svg");
}

.fr-icon-magic-line::before,
.fr-icon-magic-line::after {
  -webkit-mask-image: url("../../../icons/design/magic-line.svg");
  mask-image: url("../../../icons/design/magic-line.svg");
}

.fr-icon-mark-pen-fill::before,
.fr-icon-mark-pen-fill::after {
  -webkit-mask-image: url("../../../icons/design/mark-pen-fill.svg");
  mask-image: url("../../../icons/design/mark-pen-fill.svg");
}

.fr-icon-mark-pen-line::before,
.fr-icon-mark-pen-line::after {
  -webkit-mask-image: url("../../../icons/design/mark-pen-line.svg");
  mask-image: url("../../../icons/design/mark-pen-line.svg");
}

.fr-icon-markup-fill::before,
.fr-icon-markup-fill::after {
  -webkit-mask-image: url("../../../icons/design/markup-fill.svg");
  mask-image: url("../../../icons/design/markup-fill.svg");
}

.fr-icon-markup-line::before,
.fr-icon-markup-line::after {
  -webkit-mask-image: url("../../../icons/design/markup-line.svg");
  mask-image: url("../../../icons/design/markup-line.svg");
}

.fr-icon-octagon-fill::before,
.fr-icon-octagon-fill::after {
  -webkit-mask-image: url("../../../icons/design/octagon-fill.svg");
  mask-image: url("../../../icons/design/octagon-fill.svg");
}

.fr-icon-octagon-line::before,
.fr-icon-octagon-line::after {
  -webkit-mask-image: url("../../../icons/design/octagon-line.svg");
  mask-image: url("../../../icons/design/octagon-line.svg");
}

.fr-icon-paint-brush-fill::before,
.fr-icon-paint-brush-fill::after {
  -webkit-mask-image: url("../../../icons/design/paint-brush-fill.svg");
  mask-image: url("../../../icons/design/paint-brush-fill.svg");
}

.fr-icon-paint-brush-line::before,
.fr-icon-paint-brush-line::after {
  -webkit-mask-image: url("../../../icons/design/paint-brush-line.svg");
  mask-image: url("../../../icons/design/paint-brush-line.svg");
}

.fr-icon-paint-fill::before,
.fr-icon-paint-fill::after {
  -webkit-mask-image: url("../../../icons/design/paint-fill.svg");
  mask-image: url("../../../icons/design/paint-fill.svg");
}

.fr-icon-paint-line::before,
.fr-icon-paint-line::after {
  -webkit-mask-image: url("../../../icons/design/paint-line.svg");
  mask-image: url("../../../icons/design/paint-line.svg");
}

.fr-icon-palette-fill::before,
.fr-icon-palette-fill::after {
  -webkit-mask-image: url("../../../icons/design/palette-fill.svg");
  mask-image: url("../../../icons/design/palette-fill.svg");
}

.fr-icon-palette-line::before,
.fr-icon-palette-line::after {
  -webkit-mask-image: url("../../../icons/design/palette-line.svg");
  mask-image: url("../../../icons/design/palette-line.svg");
}

.fr-icon-pantone-fill::before,
.fr-icon-pantone-fill::after {
  -webkit-mask-image: url("../../../icons/design/pantone-fill.svg");
  mask-image: url("../../../icons/design/pantone-fill.svg");
}

.fr-icon-pantone-line::before,
.fr-icon-pantone-line::after {
  -webkit-mask-image: url("../../../icons/design/pantone-line.svg");
  mask-image: url("../../../icons/design/pantone-line.svg");
}

.fr-icon-pen-nib-fill::before,
.fr-icon-pen-nib-fill::after {
  -webkit-mask-image: url("../../../icons/design/pen-nib-fill.svg");
  mask-image: url("../../../icons/design/pen-nib-fill.svg");
}

.fr-icon-pen-nib-line::before,
.fr-icon-pen-nib-line::after {
  -webkit-mask-image: url("../../../icons/design/pen-nib-line.svg");
  mask-image: url("../../../icons/design/pen-nib-line.svg");
}

.fr-icon-pencil-fill::before,
.fr-icon-pencil-fill::after {
  -webkit-mask-image: url("../../../icons/design/pencil-fill.svg");
  mask-image: url("../../../icons/design/pencil-fill.svg");
}

.fr-icon-pencil-line::before,
.fr-icon-pencil-line::after {
  -webkit-mask-image: url("../../../icons/design/pencil-line.svg");
  mask-image: url("../../../icons/design/pencil-line.svg");
}

.fr-icon-pencil-ruler-fill::before,
.fr-icon-pencil-ruler-fill::after {
  -webkit-mask-image: url("../../../icons/design/pencil-ruler-fill.svg");
  mask-image: url("../../../icons/design/pencil-ruler-fill.svg");
}

.fr-icon-pencil-ruler-line::before,
.fr-icon-pencil-ruler-line::after {
  -webkit-mask-image: url("../../../icons/design/pencil-ruler-line.svg");
  mask-image: url("../../../icons/design/pencil-ruler-line.svg");
}

.fr-icon-pentagon-fill::before,
.fr-icon-pentagon-fill::after {
  -webkit-mask-image: url("../../../icons/design/pentagon-fill.svg");
  mask-image: url("../../../icons/design/pentagon-fill.svg");
}

.fr-icon-pentagon-line::before,
.fr-icon-pentagon-line::after {
  -webkit-mask-image: url("../../../icons/design/pentagon-line.svg");
  mask-image: url("../../../icons/design/pentagon-line.svg");
}

.fr-icon-quill-pen-fill::before,
.fr-icon-quill-pen-fill::after {
  -webkit-mask-image: url("../../../icons/design/quill-pen-fill.svg");
  mask-image: url("../../../icons/design/quill-pen-fill.svg");
}

.fr-icon-quill-pen-line::before,
.fr-icon-quill-pen-line::after {
  -webkit-mask-image: url("../../../icons/design/quill-pen-line.svg");
  mask-image: url("../../../icons/design/quill-pen-line.svg");
}

.fr-icon-rectangle-fill::before,
.fr-icon-rectangle-fill::after {
  -webkit-mask-image: url("../../../icons/design/rectangle-fill.svg");
  mask-image: url("../../../icons/design/rectangle-fill.svg");
}

.fr-icon-rectangle-line::before,
.fr-icon-rectangle-line::after {
  -webkit-mask-image: url("../../../icons/design/rectangle-line.svg");
  mask-image: url("../../../icons/design/rectangle-line.svg");
}

.fr-icon-ruler-fill::before,
.fr-icon-ruler-fill::after {
  -webkit-mask-image: url("../../../icons/design/ruler-fill.svg");
  mask-image: url("../../../icons/design/ruler-fill.svg");
}

.fr-icon-ruler-line::before,
.fr-icon-ruler-line::after {
  -webkit-mask-image: url("../../../icons/design/ruler-line.svg");
  mask-image: url("../../../icons/design/ruler-line.svg");
}

.fr-icon-scissors-cut-fill::before,
.fr-icon-scissors-cut-fill::after {
  -webkit-mask-image: url("../../../icons/design/scissors-cut-fill.svg");
  mask-image: url("../../../icons/design/scissors-cut-fill.svg");
}

.fr-icon-scissors-cut-line::before,
.fr-icon-scissors-cut-line::after {
  -webkit-mask-image: url("../../../icons/design/scissors-cut-line.svg");
  mask-image: url("../../../icons/design/scissors-cut-line.svg");
}

.fr-icon-scissors-fill::before,
.fr-icon-scissors-fill::after {
  -webkit-mask-image: url("../../../icons/design/scissors-fill.svg");
  mask-image: url("../../../icons/design/scissors-fill.svg");
}

.fr-icon-scissors-line::before,
.fr-icon-scissors-line::after {
  -webkit-mask-image: url("../../../icons/design/scissors-line.svg");
  mask-image: url("../../../icons/design/scissors-line.svg");
}

.fr-icon-screenshot-2-fill::before,
.fr-icon-screenshot-2-fill::after {
  -webkit-mask-image: url("../../../icons/design/screenshot-2-fill.svg");
  mask-image: url("../../../icons/design/screenshot-2-fill.svg");
}

.fr-icon-screenshot-2-line::before,
.fr-icon-screenshot-2-line::after {
  -webkit-mask-image: url("../../../icons/design/screenshot-2-line.svg");
  mask-image: url("../../../icons/design/screenshot-2-line.svg");
}

.fr-icon-shape-fill::before,
.fr-icon-shape-fill::after {
  -webkit-mask-image: url("../../../icons/design/shape-fill.svg");
  mask-image: url("../../../icons/design/shape-fill.svg");
}

.fr-icon-shape-line::before,
.fr-icon-shape-line::after {
  -webkit-mask-image: url("../../../icons/design/shape-line.svg");
  mask-image: url("../../../icons/design/shape-line.svg");
}

.fr-icon-shapes-fill::before,
.fr-icon-shapes-fill::after {
  -webkit-mask-image: url("../../../icons/design/shapes-fill.svg");
  mask-image: url("../../../icons/design/shapes-fill.svg");
}

.fr-icon-shapes-line::before,
.fr-icon-shapes-line::after {
  -webkit-mask-image: url("../../../icons/design/shapes-line.svg");
  mask-image: url("../../../icons/design/shapes-line.svg");
}

.fr-icon-sip-fill::before,
.fr-icon-sip-fill::after {
  -webkit-mask-image: url("../../../icons/design/sip-fill.svg");
  mask-image: url("../../../icons/design/sip-fill.svg");
}

.fr-icon-sip-line::before,
.fr-icon-sip-line::after {
  -webkit-mask-image: url("../../../icons/design/sip-line.svg");
  mask-image: url("../../../icons/design/sip-line.svg");
}

.fr-icon-slice-fill::before,
.fr-icon-slice-fill::after {
  -webkit-mask-image: url("../../../icons/design/slice-fill.svg");
  mask-image: url("../../../icons/design/slice-fill.svg");
}

.fr-icon-slice-line::before,
.fr-icon-slice-line::after {
  -webkit-mask-image: url("../../../icons/design/slice-line.svg");
  mask-image: url("../../../icons/design/slice-line.svg");
}

.fr-icon-square-fill::before,
.fr-icon-square-fill::after {
  -webkit-mask-image: url("../../../icons/design/square-fill.svg");
  mask-image: url("../../../icons/design/square-fill.svg");
}

.fr-icon-square-line::before,
.fr-icon-square-line::after {
  -webkit-mask-image: url("../../../icons/design/square-line.svg");
  mask-image: url("../../../icons/design/square-line.svg");
}

.fr-icon-table-alt-fill::before,
.fr-icon-table-alt-fill::after {
  -webkit-mask-image: url("../../../icons/design/table-alt-fill.svg");
  mask-image: url("../../../icons/design/table-alt-fill.svg");
}

.fr-icon-table-alt-line::before,
.fr-icon-table-alt-line::after {
  -webkit-mask-image: url("../../../icons/design/table-alt-line.svg");
  mask-image: url("../../../icons/design/table-alt-line.svg");
}

.fr-icon-table-fill::before,
.fr-icon-table-fill::after {
  -webkit-mask-image: url("../../../icons/design/table-fill.svg");
  mask-image: url("../../../icons/design/table-fill.svg");
}

.fr-icon-table-line::before,
.fr-icon-table-line::after {
  -webkit-mask-image: url("../../../icons/design/table-line.svg");
  mask-image: url("../../../icons/design/table-line.svg");
}

.fr-icon-tools-fill::before,
.fr-icon-tools-fill::after {
  -webkit-mask-image: url("../../../icons/design/tools-fill.svg");
  mask-image: url("../../../icons/design/tools-fill.svg");
}

.fr-icon-tools-line::before,
.fr-icon-tools-line::after {
  -webkit-mask-image: url("../../../icons/design/tools-line.svg");
  mask-image: url("../../../icons/design/tools-line.svg");
}

.fr-icon-triangle-fill::before,
.fr-icon-triangle-fill::after {
  -webkit-mask-image: url("../../../icons/design/triangle-fill.svg");
  mask-image: url("../../../icons/design/triangle-fill.svg");
}

.fr-icon-triangle-line::before,
.fr-icon-triangle-line::after {
  -webkit-mask-image: url("../../../icons/design/triangle-line.svg");
  mask-image: url("../../../icons/design/triangle-line.svg");
}

.fr-fi-edit-fill::before,
.fr-fi-edit-fill::after {
  -webkit-mask-image: url("../../../icons/design/edit-fill.svg");
  mask-image: url("../../../icons/design/edit-fill.svg");
}

.fr-fi-edit-line::before,
.fr-fi-edit-line::after {
  -webkit-mask-image: url("../../../icons/design/edit-line.svg");
  mask-image: url("../../../icons/design/edit-line.svg");
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
