/*!
 * DSFR v1.10.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-icon-anchor-fill::before,
  .fr-icon-anchor-fill::after {
    background-image: url("../../../icons/map/anchor-fill.svg");
  }

  .fr-icon-anchor-line::before,
  .fr-icon-anchor-line::after {
    background-image: url("../../../icons/map/anchor-line.svg");
  }

  .fr-icon-bike-fill::before,
  .fr-icon-bike-fill::after {
    background-image: url("../../../icons/map/bike-fill.svg");
  }

  .fr-icon-bike-line::before,
  .fr-icon-bike-line::after {
    background-image: url("../../../icons/map/bike-line.svg");
  }

  .fr-icon-bus-fill::before,
  .fr-icon-bus-fill::after {
    background-image: url("../../../icons/map/bus-fill.svg");
  }

  .fr-icon-bus-line::before,
  .fr-icon-bus-line::after {
    background-image: url("../../../icons/map/bus-line.svg");
  }

  .fr-icon-car-fill::before,
  .fr-icon-car-fill::after {
    background-image: url("../../../icons/map/car-fill.svg");
  }

  .fr-icon-car-line::before,
  .fr-icon-car-line::after {
    background-image: url("../../../icons/map/car-line.svg");
  }

  .fr-icon-caravan-fill::before,
  .fr-icon-caravan-fill::after {
    background-image: url("../../../icons/map/caravan-fill.svg");
  }

  .fr-icon-caravan-line::before,
  .fr-icon-caravan-line::after {
    background-image: url("../../../icons/map/caravan-line.svg");
  }

  .fr-icon-charging-pile-2-fill::before,
  .fr-icon-charging-pile-2-fill::after {
    background-image: url("../../../icons/map/charging-pile-2-fill.svg");
  }

  .fr-icon-charging-pile-2-line::before,
  .fr-icon-charging-pile-2-line::after {
    background-image: url("../../../icons/map/charging-pile-2-line.svg");
  }

  .fr-icon-compass-3-fill::before,
  .fr-icon-compass-3-fill::after {
    background-image: url("../../../icons/map/compass-3-fill.svg");
  }

  .fr-icon-compass-3-line::before,
  .fr-icon-compass-3-line::after {
    background-image: url("../../../icons/map/compass-3-line.svg");
  }

  .fr-icon-cup-fill::before,
  .fr-icon-cup-fill::after {
    background-image: url("../../../icons/map/cup-fill.svg");
  }

  .fr-icon-cup-line::before,
  .fr-icon-cup-line::after {
    background-image: url("../../../icons/map/cup-line.svg");
  }

  .fr-icon-earth-fill::before,
  .fr-icon-earth-fill::after {
    background-image: url("../../../icons/map/earth-fill.svg");
  }

  .fr-icon-earth-line::before,
  .fr-icon-earth-line::after {
    background-image: url("../../../icons/map/earth-line.svg");
  }

  .fr-icon-france-fill::before,
  .fr-icon-france-fill::after {
    background-image: url("../../../icons/map/france-fill.svg");
  }

  .fr-icon-france-line::before,
  .fr-icon-france-line::after {
    background-image: url("../../../icons/map/france-line.svg");
  }

  .fr-icon-gas-station-fill::before,
  .fr-icon-gas-station-fill::after {
    background-image: url("../../../icons/map/gas-station-fill.svg");
  }

  .fr-icon-gas-station-line::before,
  .fr-icon-gas-station-line::after {
    background-image: url("../../../icons/map/gas-station-line.svg");
  }

  .fr-icon-goblet-fill::before,
  .fr-icon-goblet-fill::after {
    background-image: url("../../../icons/map/goblet-fill.svg");
  }

  .fr-icon-goblet-line::before,
  .fr-icon-goblet-line::after {
    background-image: url("../../../icons/map/goblet-line.svg");
  }

  .fr-icon-map-pin-2-fill::before,
  .fr-icon-map-pin-2-fill::after {
    background-image: url("../../../icons/map/map-pin-2-fill.svg");
  }

  .fr-icon-map-pin-2-line::before,
  .fr-icon-map-pin-2-line::after {
    background-image: url("../../../icons/map/map-pin-2-line.svg");
  }

  .fr-icon-map-pin-user-fill::before,
  .fr-icon-map-pin-user-fill::after {
    background-image: url("../../../icons/map/map-pin-user-fill.svg");
  }

  .fr-icon-map-pin-user-line::before,
  .fr-icon-map-pin-user-line::after {
    background-image: url("../../../icons/map/map-pin-user-line.svg");
  }

  .fr-icon-motorbike-fill::before,
  .fr-icon-motorbike-fill::after {
    background-image: url("../../../icons/map/motorbike-fill.svg");
  }

  .fr-icon-motorbike-line::before,
  .fr-icon-motorbike-line::after {
    background-image: url("../../../icons/map/motorbike-line.svg");
  }

  .fr-icon-passport-fill::before,
  .fr-icon-passport-fill::after {
    background-image: url("../../../icons/map/passport-fill.svg");
  }

  .fr-icon-passport-line::before,
  .fr-icon-passport-line::after {
    background-image: url("../../../icons/map/passport-line.svg");
  }

  .fr-icon-restaurant-fill::before,
  .fr-icon-restaurant-fill::after {
    background-image: url("../../../icons/map/restaurant-fill.svg");
  }

  .fr-icon-restaurant-line::before,
  .fr-icon-restaurant-line::after {
    background-image: url("../../../icons/map/restaurant-line.svg");
  }

  .fr-icon-road-map-fill::before,
  .fr-icon-road-map-fill::after {
    background-image: url("../../../icons/map/road-map-fill.svg");
  }

  .fr-icon-road-map-line::before,
  .fr-icon-road-map-line::after {
    background-image: url("../../../icons/map/road-map-line.svg");
  }

  .fr-icon-sailboat-fill::before,
  .fr-icon-sailboat-fill::after {
    background-image: url("../../../icons/map/sailboat-fill.svg");
  }

  .fr-icon-sailboat-line::before,
  .fr-icon-sailboat-line::after {
    background-image: url("../../../icons/map/sailboat-line.svg");
  }

  .fr-icon-ship-2-fill::before,
  .fr-icon-ship-2-fill::after {
    background-image: url("../../../icons/map/ship-2-fill.svg");
  }

  .fr-icon-ship-2-line::before,
  .fr-icon-ship-2-line::after {
    background-image: url("../../../icons/map/ship-2-line.svg");
  }

  .fr-icon-signal-tower-fill::before,
  .fr-icon-signal-tower-fill::after {
    background-image: url("../../../icons/map/signal-tower-fill.svg");
  }

  .fr-icon-signal-tower-line::before,
  .fr-icon-signal-tower-line::after {
    background-image: url("../../../icons/map/signal-tower-line.svg");
  }

  .fr-icon-suitcase-2-fill::before,
  .fr-icon-suitcase-2-fill::after {
    background-image: url("../../../icons/map/suitcase-2-fill.svg");
  }

  .fr-icon-suitcase-2-line::before,
  .fr-icon-suitcase-2-line::after {
    background-image: url("../../../icons/map/suitcase-2-line.svg");
  }

  .fr-icon-taxi-fill::before,
  .fr-icon-taxi-fill::after {
    background-image: url("../../../icons/map/taxi-fill.svg");
  }

  .fr-icon-taxi-line::before,
  .fr-icon-taxi-line::after {
    background-image: url("../../../icons/map/taxi-line.svg");
  }

  .fr-icon-train-fill::before,
  .fr-icon-train-fill::after {
    background-image: url("../../../icons/map/train-fill.svg");
  }

  .fr-icon-train-line::before,
  .fr-icon-train-line::after {
    background-image: url("../../../icons/map/train-line.svg");
  }

  .fr-fi-map-pin-2-fill::before {
    background-image: url("../../../icons/map/map-pin-2-fill.svg");
  }

  .fr-fi-map-pin-2-line::before {
    background-image: url("../../../icons/map/map-pin-2-line.svg");
  }

  .fr-fi-road-map-fill::before {
    background-image: url("../../../icons/map/road-map-fill.svg");
  }

  .fr-fi-road-map-line::before {
    background-image: url("../../../icons/map/road-map-line.svg");
  }
}
