/*!
 * DSFR v1.10.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-leaf-fill::before,
.fr-icon-leaf-fill::after {
  -webkit-mask-image: url("../../../icons/others/leaf-fill.svg");
  mask-image: url("../../../icons/others/leaf-fill.svg");
}

.fr-icon-leaf-line::before,
.fr-icon-leaf-line::after {
  -webkit-mask-image: url("../../../icons/others/leaf-line.svg");
  mask-image: url("../../../icons/others/leaf-line.svg");
}

.fr-icon-lightbulb-fill::before,
.fr-icon-lightbulb-fill::after {
  -webkit-mask-image: url("../../../icons/others/lightbulb-fill.svg");
  mask-image: url("../../../icons/others/lightbulb-fill.svg");
}

.fr-icon-lightbulb-line::before,
.fr-icon-lightbulb-line::after {
  -webkit-mask-image: url("../../../icons/others/lightbulb-line.svg");
  mask-image: url("../../../icons/others/lightbulb-line.svg");
}

.fr-icon-plant-fill::before,
.fr-icon-plant-fill::after {
  -webkit-mask-image: url("../../../icons/others/plant-fill.svg");
  mask-image: url("../../../icons/others/plant-fill.svg");
}

.fr-icon-plant-line::before,
.fr-icon-plant-line::after {
  -webkit-mask-image: url("../../../icons/others/plant-line.svg");
  mask-image: url("../../../icons/others/plant-line.svg");
}

.fr-icon-recycle-fill::before,
.fr-icon-recycle-fill::after {
  -webkit-mask-image: url("../../../icons/others/recycle-fill.svg");
  mask-image: url("../../../icons/others/recycle-fill.svg");
}

.fr-icon-recycle-line::before,
.fr-icon-recycle-line::after {
  -webkit-mask-image: url("../../../icons/others/recycle-line.svg");
  mask-image: url("../../../icons/others/recycle-line.svg");
}

.fr-icon-scales-3-fill::before,
.fr-icon-scales-3-fill::after {
  -webkit-mask-image: url("../../../icons/others/scales-3-fill.svg");
  mask-image: url("../../../icons/others/scales-3-fill.svg");
}

.fr-icon-scales-3-line::before,
.fr-icon-scales-3-line::after {
  -webkit-mask-image: url("../../../icons/others/scales-3-line.svg");
  mask-image: url("../../../icons/others/scales-3-line.svg");
}

.fr-icon-seedling-fill::before,
.fr-icon-seedling-fill::after {
  -webkit-mask-image: url("../../../icons/others/seedling-fill.svg");
  mask-image: url("../../../icons/others/seedling-fill.svg");
}

.fr-icon-seedling-line::before,
.fr-icon-seedling-line::after {
  -webkit-mask-image: url("../../../icons/others/seedling-line.svg");
  mask-image: url("../../../icons/others/seedling-line.svg");
}

.fr-icon-umbrella-fill::before,
.fr-icon-umbrella-fill::after {
  -webkit-mask-image: url("../../../icons/others/umbrella-fill.svg");
  mask-image: url("../../../icons/others/umbrella-fill.svg");
}

.fr-icon-umbrella-line::before,
.fr-icon-umbrella-line::after {
  -webkit-mask-image: url("../../../icons/others/umbrella-line.svg");
  mask-image: url("../../../icons/others/umbrella-line.svg");
}

@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */

  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */

  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-icon-leaf-fill::before,
  .fr-icon-leaf-fill::after {
    background-image: url("../../../icons/others/leaf-fill.svg");
  }

  .fr-icon-leaf-line::before,
  .fr-icon-leaf-line::after {
    background-image: url("../../../icons/others/leaf-line.svg");
  }

  .fr-icon-lightbulb-fill::before,
  .fr-icon-lightbulb-fill::after {
    background-image: url("../../../icons/others/lightbulb-fill.svg");
  }

  .fr-icon-lightbulb-line::before,
  .fr-icon-lightbulb-line::after {
    background-image: url("../../../icons/others/lightbulb-line.svg");
  }

  .fr-icon-plant-fill::before,
  .fr-icon-plant-fill::after {
    background-image: url("../../../icons/others/plant-fill.svg");
  }

  .fr-icon-plant-line::before,
  .fr-icon-plant-line::after {
    background-image: url("../../../icons/others/plant-line.svg");
  }

  .fr-icon-recycle-fill::before,
  .fr-icon-recycle-fill::after {
    background-image: url("../../../icons/others/recycle-fill.svg");
  }

  .fr-icon-recycle-line::before,
  .fr-icon-recycle-line::after {
    background-image: url("../../../icons/others/recycle-line.svg");
  }

  .fr-icon-scales-3-fill::before,
  .fr-icon-scales-3-fill::after {
    background-image: url("../../../icons/others/scales-3-fill.svg");
  }

  .fr-icon-scales-3-line::before,
  .fr-icon-scales-3-line::after {
    background-image: url("../../../icons/others/scales-3-line.svg");
  }

  .fr-icon-seedling-fill::before,
  .fr-icon-seedling-fill::after {
    background-image: url("../../../icons/others/seedling-fill.svg");
  }

  .fr-icon-seedling-line::before,
  .fr-icon-seedling-line::after {
    background-image: url("../../../icons/others/seedling-line.svg");
  }

  .fr-icon-umbrella-fill::before,
  .fr-icon-umbrella-fill::after {
    background-image: url("../../../icons/others/umbrella-fill.svg");
  }

  .fr-icon-umbrella-line::before,
  .fr-icon-umbrella-line::after {
    background-image: url("../../../icons/others/umbrella-line.svg");
  }
}
