/*!
 * DSFR v1.10.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
.fr-input:disabled {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
}
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-input-wrap--addon .fr-btn {
    flex-shrink: 0;
  }

  .fr-input {
    color: #161616;
    background-color: #eee;
    box-shadow: inset 0 -2px 0 0 #3a3a3a;
  }

  .fr-input::placeholder {
    color: #666;
  }

  .fr-input::-webkit-contacts-auto-fill-button {
    background-color: #161616;
  }

  .fr-input::-webkit-contacts-auto-fill-button:hover {
    background-color: #343434;
  }

  .fr-input::-webkit-contacts-auto-fill-button:active {
    background-color: #474747;
  }

  .fr-input:autofill,
  .fr-input:autofill:hover,
  .fr-input:autofill:focus,
  .fr-input:-webkit-autofill,
  .fr-input:-webkit-autofill:hover,
  .fr-input:-webkit-autofill:focus {
    box-shadow: inset 0 -2px 0 0 #3a3a3a, inset 0 0 0 1000px #e8edff;
    -webkit-text-fill-color: #161616;
  }

  .fr-fieldset--valid .fr-input,
  .fr-input-group--valid .fr-input {
    box-shadow: inset 0 -2px 0 0 #18753c;
  }

  .fr-fieldset--error .fr-input,
  .fr-input-group--error .fr-input {
    box-shadow: inset 0 -2px 0 0 #ce0500;
  }

  .fr-input-group--error::before {
    background-image: linear-gradient(0deg, #ce0500, #ce0500);
  }

  .fr-input-group--valid::before {
    background-image: linear-gradient(0deg, #18753c, #18753c);
  }

  .fr-input-group--info::before {
    background-image: linear-gradient(0deg, #0063cb, #0063cb);
  }

  .fr-input-wrap--addon > *:not(:last-child).fr-input:not(.fr-input--valid):not(.fr-input--error) {
    box-shadow: inset 0 -2px 0 0 #000091;
  }
}
