/*!
 * DSFR v1.10.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ALERT
\* ˍˍˍˍˍˍˍˍˍ */
.fr-notice {
  position: relative;

  --title-spacing: 0;
  --text-spacing: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background-contrast-grey);
  color: var(--text-title-grey);
}

.fr-notice__body {
  position: relative;
  padding: 0 2.5rem 0 2.5rem;
}

.fr-notice__body::before {
  --icon-size: 1.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  position: absolute;
  left: 0;
}

.fr-notice__title {
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.fr-notice .fr-btn--close {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  top: -0.25rem;
  right: 1rem;
}

.fr-notice .fr-btn--close::before {
  --icon-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/close-line.svg");
  mask-image: url("../../icons/system/close-line.svg");
  content: "";
}

.fr-notice--info .fr-notice__body::before {
  -webkit-mask-image: url("../../icons/system/fr--info-fill.svg");
  mask-image: url("../../icons/system/fr--info-fill.svg");
  content: "";
}

.fr-notice--info {
  background-color: var(--background-contrast-info);

  --idle: transparent;
  --hover: var(--background-contrast-info-hover);
  --active: var(--background-contrast-info-active);
  color: var(--text-default-info);
}
@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */

  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */

  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * reset des marges dans le bandeau
  */
  .fr-notice__title,
  .fr-notice p {
    margin: 0;
  }

  .fr-notice--info .fr-notice__body::before {
    background-image: url("../../icons/system/fr--info-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
    color: transparent;
  }

  .fr-notice .fr-btn--close::before,
  .fr-notice .fr-btn--close::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/close-line.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-notice {
    background-color: #eee;
    color: #161616;
  }

  .fr-notice--info {
    background-color: #e8edff;
    color: #0063cb;
  }
}
