/*!
 * DSFR v1.11.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-toggle label {
    color: #161616;
  }

  .fr-toggle label::before {
    color: #000091;
    content: "";
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-toggle label::after {
    color: #000091;
    box-shadow: inset 0 0 0 1px #000091;
    background-color: #fff;
  }

  .fr-toggle input[type=checkbox] {
    box-shadow: inset 0 0 0 1px #000091;
  }

  .fr-toggle input[type=checkbox]:checked {
    background-color: #000091;
  }

  .fr-toggle input[type=checkbox]:disabled {
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-toggle input[type=checkbox]:disabled:checked {
    background-color: #e5e5e5;
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::before {
    color: #929292;
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::after {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-toggle .fr-hint-text {
    color: #666;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-toggle--border-bottom {
    box-shadow: inset 0 -1px 0 0 #ddd;
  }

  .fr-toggle--error label,
  .fr-fieldset--error .fr-toggle label {
    color: #ce0500;
  }

  .fr-toggle--error label::before,
  .fr-fieldset--error .fr-toggle label::before {
    color: #ce0500;
  }

  .fr-toggle--error label::after,
  .fr-fieldset--error .fr-toggle label::after {
    box-shadow: inset 0 0 0 1px #ce0500;
  }

  .fr-toggle--valid label,
  .fr-fieldset--valid .fr-toggle label {
    color: #18753c;
  }

  .fr-toggle--valid label::before,
  .fr-fieldset--valid .fr-toggle label::before {
    color: #18753c;
  }

  .fr-toggle--valid label::after,
  .fr-fieldset--valid .fr-toggle label::after {
    box-shadow: inset 0 0 0 1px #18753c;
  }
}
@media print and (-ms-high-contrast: none), print and (-ms-high-contrast: active) {
  .fr-toggle label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23000091' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23000091' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000091' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23e5e5e5' height='24' viewBox='0 0 40 24' fill='%23e5e5e5' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23929292' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23e5e5e5' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle--error label::before,
  .fr-fieldset--error .fr-toggle label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23ce0500' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle--error input[type=checkbox]:checked ~ .fr-toggle__label::before,
  .fr-fieldset--error .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23ce0500' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle--valid label::before,
  .fr-fieldset--valid .fr-toggle label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%2318753c' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle--valid input[type=checkbox]:checked ~ .fr-toggle__label::before,
  .fr-fieldset--valid .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%2318753c' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }
}
