/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-toggle {
    page-break-inside: avoid;
  }

  .fr-toggle::before {
    background-color: none !important;
  }

  .fr-toggle label {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .fr-toggle .fr-hint-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
