/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  TOGGLE
\* ˍˍˍˍˍˍˍˍˍ */
.fr-toggle {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  --text-spacing: 0;
  --title-spacing: 0;
}

.fr-toggle input[type=checkbox] {
  width: 2.5rem;
  height: 1.5rem;
  position: absolute;
  opacity: 0;
  box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
}

.fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label[data-fr-unchecked-label][data-fr-checked-label]::before {
  content: attr(data-fr-checked-label);
}

.fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::after {
  transform: translateX(1rem);
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23000091' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
  background-image: var(--data-uri-svg);
}

.fr-toggle label {
  --toggle-status-width: auto;
  display: inline-flex;
  width: calc(100% - 2rem);
  min-height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-label-grey);
}

.fr-toggle label[data-fr-unchecked-label][data-fr-checked-label] {
  padding-left: 0;
}

.fr-toggle label[data-fr-unchecked-label][data-fr-checked-label]::before {
  content: attr(data-fr-unchecked-label);
  margin-right: calc(var(--toggle-status-width) - 0.5rem);
  margin-bottom: 1rem;
  word-wrap: normal;
}

.fr-toggle label[data-fr-unchecked-label][data-fr-checked-label] + .fr-hint-text {
  margin-top: 0.5rem;
}

.fr-toggle label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  height: calc(1.25rem + 1px);
  padding-top: 1.75rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  border-radius: 0.75rem;
  margin-right: 2rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  background-repeat: no-repeat;
  color: var(--text-active-blue-france);

  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23000091' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

.fr-toggle label::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center;
  color: var(--text-active-blue-france);
  box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
  background-color: var(--background-default-grey);

  --idle: transparent;
  --hover: var(--background-default-grey-hover);
  --active: var(--background-default-grey-active);
}

.fr-toggle .fr-hint-text {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
  flex-basis: 100%;
  color: var(--text-mention-grey);
}

.fr-toggle--border-bottom {
  padding-bottom: 1rem;
  box-shadow: inset 0 -1px 0 0 var(--border-default-grey);
}

.fr-toggle--valid::before,
.fr-toggle--error::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.75rem;
  width: 2px;
  height: 100%;
}

.fr-toggle .fr-message:first-child {
  margin-top: 1rem;
}

.fr-toggle--label-left .fr-toggle__input {
  order: 1;
  margin: 0 0 0 auto;
}

.fr-toggle--label-left .fr-toggle__input + label[data-fr-checked-label]::before {
  margin-right: 0;
  margin-left: calc(var(--toggle-status-width) - 0.5rem);
}

.fr-toggle--label-left .fr-toggle__label {
  justify-content: space-between;
  padding-left: 0;
  width: calc(100% - 2rem);
  flex: 1;
}

.fr-toggle--label-left .fr-toggle__label::before {
  flex-shrink: 0;
  order: 1;
  margin-left: 1rem;
  margin-right: 0;
  text-align: right;
  direction: rtl;
}

.fr-toggle--label-left .fr-toggle__label::after {
  left: auto;
  right: 1rem;
}

.fr-toggle--label-left .fr-hint-text {
  order: 2;
}

.fr-toggle__list {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
}

.fr-toggle__list li {
  margin-bottom: 1rem;
}

.fr-toggle__list li:last-child {
  margin-bottom: 0;
}

:root[data-fr-theme=dark] .fr-toggle label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%238585f6' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}

.fr-toggle input[type=checkbox]:checked {
  background-color: var(--background-active-blue-france);

  --idle: transparent;
  --hover: var(--background-active-blue-france-hover);
  --active: var(--background-active-blue-france-active);
}

.fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23000091' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%238585f6' height='24' viewBox='0 0 40 24' fill='%238585f6' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}

:root[data-fr-theme=dark] .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::after {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%238585f6' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
}

.fr-toggle input[type=checkbox]:disabled {
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
}

.fr-toggle input[type=checkbox]:disabled:checked {
  background-color: var(--background-disabled-grey);

  --idle: transparent;
  --hover: var(--background-disabled-grey-hover);
  --active: var(--background-disabled-grey-active);
}

.fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23e5e5e5' height='24' viewBox='0 0 40 24' fill='%23e5e5e5' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%232a2a2a' height='24' viewBox='0 0 40 24' fill='%232a2a2a' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}

.fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::after {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23929292' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::after {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23666' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
}

.fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::before {
  color: var(--text-disabled-grey);

  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23e5e5e5' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%232a2a2a' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}

.fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::after {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
}

.fr-toggle--valid::before {
  background-color: var(--border-plain-success);

  --idle: transparent;
  --hover: var(--border-plain-success-hover);
  --active: var(--border-plain-success-active);
  content: "";
}

.fr-toggle--error::before {
  background-color: var(--border-plain-error);

  --idle: transparent;
  --hover: var(--border-plain-error-hover);
  --active: var(--border-plain-error-active);
  content: "";
}

.fr-toggle--error label,
.fr-fieldset--error .fr-toggle label {
  color: var(--text-default-error);
}

.fr-toggle--error label::before,
.fr-fieldset--error .fr-toggle label::before {
  color: var(--text-default-error);

  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23ce0500' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle--error label::before,
:root[data-fr-theme=dark] .fr-fieldset--error .fr-toggle label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23ff5655' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}

.fr-toggle--error label::after,
.fr-fieldset--error .fr-toggle label::after {
  box-shadow: inset 0 0 0 1px var(--border-plain-error);
}

.fr-toggle--error input[type=checkbox]:checked ~ .fr-toggle__label::before,
.fr-fieldset--error .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23ce0500' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle--error input[type=checkbox]:checked ~ .fr-toggle__label::before,
:root[data-fr-theme=dark] .fr-fieldset--error .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%23ff5655' height='24' viewBox='0 0 40 24' fill='%238585f6' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}

.fr-toggle--valid label,
.fr-fieldset--valid .fr-toggle label {
  color: var(--text-default-success);
}

.fr-toggle--valid label::before,
.fr-fieldset--valid .fr-toggle label::before {
  color: var(--text-default-success);

  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%2318753c' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle--valid label::before,
:root[data-fr-theme=dark] .fr-fieldset--valid .fr-toggle label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%2327a658' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}

.fr-toggle--valid label::after,
.fr-fieldset--valid .fr-toggle label::after {
  box-shadow: inset 0 0 0 1px var(--border-plain-success);
}

.fr-toggle--valid input[type=checkbox]:checked ~ .fr-toggle__label::before,
.fr-fieldset--valid .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%2318753c' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
  background-image: var(--data-uri-svg);
}

:root[data-fr-theme=dark] .fr-toggle--valid input[type=checkbox]:checked ~ .fr-toggle__label::before,
:root[data-fr-theme=dark] .fr-fieldset--valid .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg width='40' stroke='%2327a658' height='24' viewBox='0 0 40 24' fill='%238585f6' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='39' height='23' rx='11.5' /></svg>");
}
@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */

  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */

  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}
@media (-ms-high-contrast: active), (forced-colors: active) {
  .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
    border: 2px solid highlight;
    background-color: transparent;
    background-image: none;
    forced-color-adjust: none;
    color: canvastext;
  }

  .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::after {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
    border: 2px solid highlight;
    background-color: highlight;
  }

  .fr-toggle input[type=checkbox]:focus ~ .fr-toggle__label::before {
    outline-color: graytext;
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label {
    color: graytext;
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::before,
  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::after {
    background-image: none;
    border: 2px solid graytext;
    box-shadow: none;
    color: graytext;
  }

  .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::before,
  .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::after {
    background-image: none;
    border: 2px solid graytext;
    box-shadow: none;
  }

  .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::after {
    background-color: graytext;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
  }

  .fr-toggle label[data-fr-unchecked-label][data-fr-checked-label]::before {
    background-image: none;
    color: canvastext;
  }

  .fr-toggle label::before {
    height: 1.5rem;
    background-image: none;
    border: 2px solid buttontext;
    background-color: transparent;
    forced-color-adjust: none;
    padding-top: 1.25rem;
  }

  .fr-toggle label::after {
    box-shadow: none;
    border: 2px solid buttontext;
    forced-color-adjust: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-toggle input[type=checkbox]::-ms-check {
    display: none;
  }

  .fr-toggle input[type=checkbox]:checked::before,
  .fr-toggle input[type=checkbox]:checked::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/check-line.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-toggle__list {
    list-style: none;
    padding: 0;
  }

  .fr-toggle label {
    color: #161616;
  }

  .fr-toggle label::before {
    color: #000091;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23000091' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle label::after {
    color: #000091;
    box-shadow: inset 0 0 0 1px #000091;
    background-color: #fff;
  }

  .fr-toggle input[type=checkbox] {
    box-shadow: inset 0 0 0 1px #000091;
  }

  .fr-toggle input[type=checkbox]:checked {
    background-color: #000091;
  }

  .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23000091' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000091' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:disabled {
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-toggle input[type=checkbox]:disabled:checked {
    background-color: #e5e5e5;
  }

  .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23e5e5e5' height='24' viewBox='0 0 40 24' fill='%23e5e5e5' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:disabled:checked ~ .fr-toggle__label::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23929292' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::before {
    color: #929292;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23e5e5e5' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::after {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-toggle .fr-hint-text {
    color: #666;
  }

  .fr-toggle--border-bottom {
    box-shadow: inset 0 -1px 0 0 #ddd;
  }

  .fr-toggle--valid::before {
    background-color: #18753c;
  }

  .fr-toggle--error::before {
    background-color: #ce0500;
  }

  .fr-toggle--error label,
  .fr-fieldset--error .fr-toggle label {
    color: #ce0500;
  }

  .fr-toggle--error label::before,
  .fr-fieldset--error .fr-toggle label::before {
    color: #ce0500;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23ce0500' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle--error label::after,
  .fr-fieldset--error .fr-toggle label::after {
    box-shadow: inset 0 0 0 1px #ce0500;
  }

  .fr-toggle--error input[type=checkbox]:checked ~ .fr-toggle__label::before,
  .fr-fieldset--error .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%23ce0500' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle--valid label,
  .fr-fieldset--valid .fr-toggle label {
    color: #18753c;
  }

  .fr-toggle--valid label::before,
  .fr-fieldset--valid .fr-toggle label::before {
    color: #18753c;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%2318753c' height='24' viewBox='0 0 40 24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }

  .fr-toggle--valid label::after,
  .fr-fieldset--valid .fr-toggle label::after {
    box-shadow: inset 0 0 0 1px #18753c;
  }

  .fr-toggle--valid input[type=checkbox]:checked ~ .fr-toggle__label::before,
  .fr-fieldset--valid .fr-toggle input[type=checkbox]:checked ~ .fr-toggle__label::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%2318753c' height='24' viewBox='0 0 40 24' fill='%23000091' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='23' rx='11.5' /%3E%3C/svg%3E");
  }
}
@media print {
  .fr-toggle label {
    color: #161616;
  }

  .fr-toggle label::before {
    color: #000091;
    content: "";
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-toggle label::after {
    color: #000091;
    box-shadow: inset 0 0 0 1px #000091;
    background-color: #fff;
  }

  .fr-toggle input[type=checkbox] {
    box-shadow: inset 0 0 0 1px #000091;
  }

  .fr-toggle input[type=checkbox]:checked {
    background-color: #000091;
  }

  .fr-toggle input[type=checkbox]:disabled {
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-toggle input[type=checkbox]:disabled:checked {
    background-color: #e5e5e5;
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::before {
    color: #929292;
  }

  .fr-toggle input[type=checkbox]:disabled ~ .fr-toggle__label::after {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-toggle .fr-hint-text {
    color: #666;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-toggle--border-bottom {
    box-shadow: inset 0 -1px 0 0 #ddd;
  }

  .fr-toggle--valid::before {
    content: "";
    background-color: #18753c;
  }

  .fr-toggle--error::before {
    content: "";
    background-color: #ce0500;
  }

  .fr-toggle--error label,
  .fr-fieldset--error .fr-toggle label {
    color: #ce0500;
  }

  .fr-toggle--error label::before,
  .fr-fieldset--error .fr-toggle label::before {
    color: #ce0500;
  }

  .fr-toggle--error label::after,
  .fr-fieldset--error .fr-toggle label::after {
    box-shadow: inset 0 0 0 1px #ce0500;
  }

  .fr-toggle--valid label,
  .fr-fieldset--valid .fr-toggle label {
    color: #18753c;
  }

  .fr-toggle--valid label::before,
  .fr-fieldset--valid .fr-toggle label::before {
    color: #18753c;
  }

  .fr-toggle--valid label::after,
  .fr-fieldset--valid .fr-toggle label::after {
    box-shadow: inset 0 0 0 1px #18753c;
  }
}
