/*!
 * DSFR v1.13.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-select-group::before {
    background-image: none !important;
  }

  .fr-select {
    background-color: transparent;
    border: 1px solid var(--border-default-grey);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
