/*!
 * DSFR v1.11.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-tile {
    background-color: #fff;
  }

  .fr-tile:not(.fr-tile--no-border):not(.fr-tile--shadow) {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-tile--grey {
    background-color: #eee;
  }

  .fr-tile--shadow {
    background-color: #fff;
  }

  .fr-tile--shadow.fr-tile--grey {
    background-color: #eee;
  }

  .fr-tile__title {
    color: #161616;
  }

  .fr-tile__title:disabled,
  a.fr-tile__title:not([href]) {
    color: #929292;
    background-color: #e5e5e5;
  }

  .fr-tile__title::before {
    background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a);
  }

  .fr-tile__title a {
    color: #000091;
  }

  .fr-tile__title a::before {
    background-image: linear-gradient(0deg, #000091, #000091);
  }

  .fr-tile__title a:not([href]) {
    color: #929292;
  }

  .fr-tile__title a:not([href])::before {
    background-image: linear-gradient(0deg, #e5e5e5, #e5e5e5);
  }

  .fr-tile .fr-tile__desc,
  .fr-tile .fr-tile__detail,
  .fr-tile__desc,
  .fr-tile__detail,
  .fr-tile--sm .fr-tile__desc,
  .fr-tile--sm .fr-tile__detail,
  .fr-tile--sm__desc,
  .fr-tile--sm__detail {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media print and (-ms-high-contrast: none), print and (-ms-high-contrast: active) {
  .fr-tile--shadow {
    z-index: 500;
  }

  .fr-tile--no-background {
    background-color: transparent;
  }

  .fr-tile--no-background:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-tile--no-background:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
