/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  TILE
\* ˍˍˍˍˍˍˍˍˍ */
.fr-tile {
  position: relative;
  display: flex;
  flex-direction: column;

  --text-spacing: 0;
  --title-spacing: 0 0 0.25rem;
  background-size: 100% 1px, 1px 100%, 1px 100%, 100% 1px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 100%, 0 0, 100% 0, 100% 0;
  padding: 2rem 2rem 2.25rem;
  text-align: center;
  background-color: var(--background-default-grey);

  --idle: transparent;
  --hover: var(--background-default-grey-hover);
  --active: var(--background-default-grey-active);
}

.fr-grid-row .fr-tile {
  height: 100%;
}

.fr-tile.fr-enlarge-link:hover .fr-tile__pictogram {
  --brightness: calc(100% + var(--brighten) * 10%);
}

.fr-tile.fr-enlarge-link:active .fr-tile__pictogram {
  --brightness: calc(100% + var(--brighten) * 20%);
}

.fr-tile.fr-enlarge-button:hover .fr-tile__pictogram {
  --brightness: calc(100% + var(--brighten) * 10%);
}

.fr-tile.fr-enlarge-button:active .fr-tile__pictogram {
  --brightness: calc(100% + var(--brighten) * 20%);
}

.fr-tile__header {
  order: 1;
  margin-bottom: 1rem;
}

.fr-tile__pictogram {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  overflow: hidden;
}

.fr-tile__pictogram svg {
  width: 100%;
  height: 100%;
}

.fr-tile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.fr-tile__body {
  height: 100%;
  order: 2;
  flex: 1 1 auto;
}

.fr-tile.fr-enlarge-link .fr-tile__title a::before,
.fr-tile.fr-enlarge-link .fr-tile__title a::after,
.fr-tile.fr-enlarge-link .fr-tile__title button::before,
.fr-tile.fr-enlarge-link .fr-tile__title button::after,
.fr-tile.fr-enlarge-button .fr-tile__title a::before,
.fr-tile.fr-enlarge-button .fr-tile__title a::after,
.fr-tile.fr-enlarge-button .fr-tile__title button::before,
.fr-tile.fr-enlarge-button .fr-tile__title button::after {
  --icon-size: 1.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2.25rem;
}

.fr-tile.fr-enlarge-link .fr-tile__title button,
.fr-tile.fr-enlarge-button .fr-tile__title button {
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  padding: 0;
}

.fr-tile--no-icon .fr-tile__title a:not([target=_blank])::after,
.fr-tile:not(.fr-enlarge-link):not(.fr-tile--download) .fr-tile__title a:not([target=_blank])::after {
  content: none;
}

.fr-tile--no-icon .fr-tile__title button::after,
.fr-tile:not(.fr-enlarge-button):not(.fr-tile--download) .fr-tile__title button::after {
  content: none;
}

.fr-tile__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  order: 2;
  color: var(--text-title-grey);
}

.fr-tile__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background-position: 0 100%;
  background-size: 100% 0.25rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--border-plain-grey), var(--border-plain-grey));
}

.fr-tile__title a::before,
.fr-tile__title button::before {
  background-position: 0 100%;
  background-size: 100% 0.25rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--border-active-blue-france), var(--border-active-blue-france));
}

.fr-tile__title a::after,
.fr-tile__title button::after {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/arrow-right-line.svg");
  mask-image: url("../../icons/system/arrow-right-line.svg");
  --icon-size: 1rem;
  content: "";
  margin-left: 0.5rem;
}

.fr-tile__title [target=_blank]::after {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/external-link-line.svg");
  mask-image: url("../../icons/system/external-link-line.svg");
  --icon-size: 1rem;
  content: "";
}

.fr-tile__desc {
  font-size: 1rem;
  line-height: 1.5rem;
  flex: 1 1 auto;
  order: 3;
}

.fr-tile__start {
  order: 1;
  margin-bottom: 0.75rem;
}

.fr-tile__start .fr-badges-group,
.fr-tile__start .fr-tags-group {
  margin-bottom: -0.5rem;
}

.fr-tile__detail {
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0;
  margin-top: 0.75rem;
  order: 4;
}

.fr-tile__detail[class^=fr-icon-]::before,
.fr-tile__detail[class*=" fr-icon-"]::before,
.fr-tile__detail[class^=fr-fi-]::before,
.fr-tile__detail[class*=" fr-fi-"]::before {
  --icon-size: 1rem;
  margin-right: 0.5rem;
}

.fr-tile.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__content,
.fr-tile.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__content {
  padding-bottom: 2.5rem;
}

.fr-tile--sm {
  padding: 1.5rem 1.5rem 1.75rem;
}

.fr-tile--sm .fr-badge {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 1.125rem;
  padding: 0 0.375rem;
}

.fr-tile--sm .fr-badge::before,
.fr-tile--sm .fr-badge::after {
  --icon-size: 0.75rem;
}

.fr-tile--sm .fr-tag {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.75rem;
}

.fr-tile--sm .fr-tag::before,
.fr-tile--sm .fr-tag::after {
  --icon-size: 0.75rem;
}

.fr-tile--sm .fr-tile__title {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.fr-tile--sm .fr-tile__title a::after,
.fr-tile--sm .fr-tile__title button::after {
  --icon-size: 1rem;
}

.fr-tile--sm .fr-tile__desc {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.fr-tile--sm .fr-tile__start {
  margin-bottom: 0.5rem;
}

.fr-tile--sm .fr-tile__pictogram {
  width: 3.5rem;
  height: 3.5rem;
}

.fr-tile--sm.fr-tile--horizontal .fr-tile__header {
  margin-right: 1.5rem;
}

.fr-tile--sm.fr-tile--horizontal .fr-tile__pictogram {
  width: 2.5rem;
  height: 2.5rem;
}

.fr-tile--sm.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__title a::after,
.fr-tile--sm.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__title button::after,
.fr-tile--sm.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__title a::after,
.fr-tile--sm.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__title button::after {
  --icon-size: 1rem;
  position: absolute;
  right: 1.5rem;
  bottom: 1.75rem;
}

.fr-tile--sm.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__content,
.fr-tile--sm.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__content {
  padding-bottom: 2rem;
}

.fr-tile--horizontal,
.fr-tile--download {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.fr-tile--horizontal .fr-tile__header,
.fr-tile--download .fr-tile__header {
  margin-right: 2rem;
  margin-bottom: 0;
}

.fr-tile--horizontal .fr-tile__pictogram,
.fr-tile--download .fr-tile__pictogram {
  width: 4rem;
  height: 4rem;
}

.fr-tile--horizontal .fr-tile__content,
.fr-tile--download .fr-tile__content {
  align-items: flex-start;
}

.fr-tile--horizontal:not(.fr-tile--no-icon) .fr-tile__detail,
.fr-tile--download:not(.fr-tile--no-icon) .fr-tile__detail {
  padding-right: 2rem;
  margin-bottom: -2.5rem;
  margin-top: 1.25rem;
}

.fr-tile--horizontal:not(.fr-tile--no-icon) .fr-tile__content,
.fr-tile--download:not(.fr-tile--no-icon) .fr-tile__content {
  padding-bottom: 2.5rem;
}

.fr-tile--horizontal:not(.fr-tile--no-icon).fr-tile--sm .fr-tile__detail,
.fr-tile--download:not(.fr-tile--no-icon).fr-tile--sm .fr-tile__detail {
  padding-right: 2rem;
  margin-bottom: -2rem;
  margin-top: 0.75rem;
}

.fr-tile--horizontal:not(.fr-tile--no-icon).fr-tile--sm .fr-tile__content,
.fr-tile--download:not(.fr-tile--no-icon).fr-tile--sm .fr-tile__content {
  padding-bottom: 2rem;
}

.fr-tile.fr-tile--download .fr-tile__title a::after,
.fr-tile.fr-tile--download .fr-tile__title button::after {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/download-line.svg");
  mask-image: url("../../icons/system/download-line.svg");
  content: "";
}

.fr-tile:not(.fr-tile--no-border):not(.fr-tile--shadow) {
  background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));
}

.fr-tile--grey {
  background-color: var(--background-contrast-grey);

  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
}

.fr-tile--shadow {
  z-index: calc(var(--ground) + 500);
  background-color: var(--background-raised-grey);

  --idle: transparent;
  --hover: var(--background-raised-grey-hover);
  --active: var(--background-raised-grey-active);
  filter: drop-shadow(var(--raised-shadow));
}

.fr-tile--shadow.fr-tile--grey {
  background-color: var(--background-contrast-raised-grey);

  --idle: transparent;
  --hover: var(--background-contrast-raised-grey-hover);
  --active: var(--background-contrast-raised-grey-active);
}

.fr-tile--no-background {
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}

.fr-tile__title:disabled,
a.fr-tile__title:not([href]) {
  color: var(--text-disabled-grey);
  background-color: var(--background-disabled-grey);

  --idle: transparent;
  --hover: var(--background-disabled-grey-hover);
  --active: var(--background-disabled-grey-active);
}

.fr-tile__title a,
.fr-tile__title button {
  color: var(--text-action-high-blue-france);
}

.fr-tile__title a:not([href]),
.fr-tile__title button:disabled {
  color: var(--text-disabled-grey);
}

.fr-tile__title a:not([href])::before,
.fr-tile__title button:disabled::before {
  background-image: linear-gradient(0deg, var(--border-disabled-grey), var(--border-disabled-grey));
}

.fr-tile__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1.5rem;
  overflow: hidden;
  filter: brightness(var(--brightness));
}

.fr-tile__img > svg {
  width: 100%;
  height: 100%;
}

.fr-tile__body > .fr-tile__desc {
  padding-bottom: 2.5rem;
}

.fr-tile--horizontal .fr-tile__img {
  width: 3rem;
  height: 3rem;
  margin: 0 1.5rem 0 0;
}
@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
  .fr-tile__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .fr-tile--vertical\@md {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .fr-tile--vertical\@md .fr-tile__header {
    margin-bottom: 1rem;
    margin-right: 0 !important;
  }

  .fr-tile--vertical\@md .fr-tile__pictogram {
    width: 5rem;
    height: 5rem;
  }

  .fr-tile--vertical\@md .fr-tile__content {
    align-items: center;
  }

  .fr-tile--vertical\@md .fr-tile__detail {
    margin-top: 0.75rem;
  }

  .fr-tile--vertical\@md.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__content,
  .fr-tile--vertical\@md.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__content {
    padding-bottom: 2.5rem;
  }

  .fr-tile--vertical\@md.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__detail,
  .fr-tile--vertical\@md.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__detail {
    margin-bottom: 0;
    padding-right: 0;
  }

  .fr-tile--horizontal .fr-tile__img {
    width: 5rem;
    height: 5rem;
    margin: 0 2rem 0 0;
  }

  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
  .fr-tile--vertical\@lg {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .fr-tile--vertical\@lg .fr-tile__header {
    margin-bottom: 1rem;
    margin-right: 0 !important;
  }

  .fr-tile--vertical\@lg .fr-tile__pictogram {
    width: 5rem;
    height: 5rem;
  }

  .fr-tile--vertical\@lg .fr-tile__content {
    align-items: center;
  }

  .fr-tile--vertical\@lg .fr-tile__detail {
    margin-top: 0.75rem;
  }

  .fr-tile--vertical\@lg.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__content,
  .fr-tile--vertical\@lg.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__content {
    padding-bottom: 2.5rem;
  }

  .fr-tile--vertical\@lg.fr-enlarge-link:not(.fr-tile--no-icon) .fr-tile__detail,
  .fr-tile--vertical\@lg.fr-enlarge-button:not(.fr-tile--no-icon) .fr-tile__detail {
    margin-bottom: 0;
    padding-right: 0;
  }

  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}
@media (-ms-high-contrast: active), (forced-colors: active) {
  .fr-tile {
    outline: 1px solid;
  }

  .fr-tile.fr-enlarge-link .fr-tile__title a,
  .fr-tile.fr-enlarge-link .fr-tile__title button,
  .fr-tile.fr-enlarge-button .fr-tile__title a,
  .fr-tile.fr-enlarge-button .fr-tile__title button {
    text-decoration: none;
  }

  .fr-tile__title a,
  .fr-tile__title button {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .fr-tile__title a::after,
  .fr-tile__title button::after {
    forced-color-adjust: none;
    background-color: linktext;
  }

  .fr-tile__title a:disabled::after,
  .fr-tile__title a:not([href])::after,
  .fr-tile__title button:disabled::after {
    background-color: graytext;
  }

  .fr-tile__title [target=_blank]::after {
    background-color: linktext;
  }

  .fr-tile.fr-tile--download .fr-tile__title a::after,
  .fr-tile.fr-tile--download .fr-tile__title button::after {
    background-color: linktext;
  }

  .fr-tile.fr-tile--download .fr-tile__title a:disabled::after,
  .fr-tile.fr-tile--download .fr-tile__title a:not([href])::after,
  .fr-tile.fr-tile--download .fr-tile__title button:disabled::after {
    background-color: graytext;
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  /**
  * Correctif de la largeur du texte dans la tuile
  */
  .fr-tile--download .fr-tile__body,
  .fr-tile--horizontal .fr-tile__body {
    flex-basis: 100%;
  }

  .fr-tile__body,
  .fr-tile__body > * {
    max-width: 100%;
  }

  .fr-tile__title {
    margin: 0 0 0.5rem;
    max-width: 100%;
    color: #161616;
  }

  .fr-tile__title a::after,
  .fr-tile__title button::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/arrow-right-line.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-tile__title [target=_blank]::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/external-link-line.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-tile__desc {
    margin: 0;
    max-width: 100%;
  }

  .fr-tile__start,
  .fr-tile__detail {
    max-width: 100%;
  }

  .fr-tile--download .fr-tile__title a::after,
  .fr-tile--download .fr-tile__title button::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/download-line.svg");
  }

  .fr-tile.fr-enlarge-link .fr-tile__title a {
    text-decoration: none;
  }

  .fr-tile.fr-enlarge-link .fr-tile__title a::after {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
  }

  .fr-tile.fr-enlarge-button .fr-tile__title button::after {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
  }

  .fr-tile--sm .fr-tile__title a::after,
  .fr-tile--sm .fr-tile__title button::after {
    width: 1rem;
    height: 1rem;
  }

  .fr-tile {
    background-color: #fff;
  }

  .fr-tile:not(.fr-tile--no-border):not(.fr-tile--shadow) {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-tile--grey {
    background-color: #eee;
  }

  .fr-tile--shadow {
    z-index: 500;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 18, 0.16);
  }

  .fr-tile--shadow.fr-tile--grey {
    background-color: #eee;
  }

  .fr-tile--no-background {
    background-color: transparent;
  }

  .fr-tile--no-background:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-tile--no-background:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-tile__title:disabled,
  a.fr-tile__title:not([href]) {
    color: #929292;
    background-color: #e5e5e5;
  }

  .fr-tile__title::before {
    background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a);
  }

  .fr-tile__title a,
  .fr-tile__title button {
    color: #000091;
  }

  .fr-tile__title a::before,
  .fr-tile__title button::before {
    background-image: linear-gradient(0deg, #000091, #000091);
  }

  .fr-tile__title a:not([href]),
  .fr-tile__title button:disabled {
    color: #929292;
  }

  .fr-tile__title a:not([href])::before,
  .fr-tile__title button:disabled::before {
    background-image: linear-gradient(0deg, #e5e5e5, #e5e5e5);
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) and (min-width: 48em) {
  .fr-tile--download.fr-tile--vertical\@md .fr-tile__body,
  .fr-tile--horizontal.fr-tile--vertical\@md .fr-tile__body {
    flex-basis: auto;
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) and (min-width: 62em) {
  .fr-tile--download.fr-tile--vertical\@lg .fr-tile__body,
  .fr-tile--horizontal.fr-tile--vertical\@lg .fr-tile__body {
    flex-basis: auto;
  }
}
@media print {
  .fr-tile {
    background-color: #fff;
  }

  .fr-tile:not(.fr-tile--no-border):not(.fr-tile--shadow) {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-tile--grey {
    background-color: #eee;
  }

  .fr-tile--shadow {
    background-color: #fff;
  }

  .fr-tile--shadow.fr-tile--grey {
    background-color: #eee;
  }

  .fr-tile__title {
    color: #161616;
  }

  .fr-tile__title:disabled,
  a.fr-tile__title:not([href]) {
    color: #929292;
    background-color: #e5e5e5;
  }

  .fr-tile__title::before {
    background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a);
  }

  .fr-tile__title a,
  .fr-tile__title button {
    color: #000091;
  }

  .fr-tile__title a::before,
  .fr-tile__title button::before {
    background-image: linear-gradient(0deg, #000091, #000091);
  }

  .fr-tile__title a:not([href]),
  .fr-tile__title button:disabled {
    color: #929292;
  }

  .fr-tile__title a:not([href])::before,
  .fr-tile__title button:disabled::before {
    background-image: linear-gradient(0deg, #e5e5e5, #e5e5e5);
  }

  .fr-tile .fr-tile__desc,
  .fr-tile .fr-tile__detail,
  .fr-tile__desc,
  .fr-tile__detail,
  .fr-tile--sm .fr-tile__desc,
  .fr-tile--sm .fr-tile__detail,
  .fr-tile--sm__desc,
  .fr-tile--sm__detail {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
