/*!
 * DSFR v1.9.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * Correctif de la largeur du texte dans la tuile
  */
  .fr-tile__body,
  .fr-tile__body > * {
    max-width: 100%;
  }

  .fr-tile__title {
    margin: 0 0 0.5rem;
  }

  .fr-tile__desc {
    margin: 0;
  }

  .fr-tile {
    box-shadow: inset 0 0 0 1px #ddd, inset 0 -0.25rem 0 0 #000091;
    background-color: #fff;
  }

  .fr-tile--grey {
    background-color: #eee;
  }
}
