/*!
 * DSFR v1.14.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-tile .fr-tile__desc,
  .fr-tile .fr-tile__detail,
  .fr-tile__desc,
  .fr-tile__detail,
  .fr-tile--sm .fr-tile__desc,
  .fr-tile--sm .fr-tile__detail,
  .fr-tile--sm__desc,
  .fr-tile--sm__detail {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-tile {
    page-break-inside: avoid;
    border: 1px solid var(--border-default-grey);
  }

  .fr-tile:not(.fr-tile--horizontal):not(.fr-tile--download) .fr-tile__content {
    padding-bottom: 0 !important;
  }

  .fr-tile__title::before {
    background-image: none !important;
  }

  .fr-tile__title a::before,
  .fr-tile__title button::before {
    background-image: none !important;
  }

  .fr-tile__title a::after,
  .fr-tile__title button::after {
    display: none;
  }
}
