/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-fieldset__legend {
    max-width: 100%;
    color: #161616;
  }

  .fr-message--error::before,
  .fr-message--error::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/fr--error-fill.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-message--valid::before,
  .fr-message--valid::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/fr--success-fill.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-message--info::before,
  .fr-message--info::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/fr--info-fill.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-message--warning::before,
  .fr-message--warning::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/fr--warning-fill.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-select-group--valid label,
  .fr-input-group--valid label,
  .fr-range-group--valid label,
  .fr-upload-group--valid label {
    color: #18753c;
  }

  .fr-select-group--error label,
  .fr-input-group--error label,
  .fr-range-group--error label,
  .fr-upload-group--error label {
    color: #ce0500;
  }

  .fr-select-group--info label,
  .fr-input-group--info label,
  .fr-range-group--info label,
  .fr-upload-group--info label {
    color: #0063cb;
  }

  .fr-select-group--disabled label,
  .fr-select-group--disabled .fr-hint-text,
  .fr-input-group--disabled label,
  .fr-input-group--disabled .fr-hint-text,
  .fr-range-group--disabled label,
  .fr-range-group--disabled .fr-hint-text,
  .fr-upload-group--disabled label,
  .fr-upload-group--disabled .fr-hint-text {
    color: #929292;
  }

  .fr-label {
    color: #161616;
  }

  .fr-label--error {
    color: #ce0500;
  }

  .fr-label--success {
    color: #18753c;
  }

  .fr-label--info {
    color: #0063cb;
  }

  .fr-label--disabled,
  .fr-label--disabled .fr-hint-text {
    color: #929292;
  }

  .fr-hint-text,
  .fr-message {
    color: #666;
  }

  .fr-message--error {
    color: #ce0500;
  }

  .fr-message--valid {
    color: #18753c;
  }

  .fr-message--info {
    color: #0063cb;
  }

  .fr-message--warning {
    color: #b34000;
  }

  .fr-fieldset:disabled .fr-label,
  .fr-fieldset:disabled .fr-hint-text,
  .fr-fieldset:disabled .fr-fieldset__legend {
    color: #929292;
  }

  .fr-fieldset input:disabled + label,
  .fr-fieldset input:disabled + label .fr-hint-text,
  .fr-fieldset input:disabled + label + .fr-hint-text {
    color: #929292;
  }

  .fr-fieldset--error,
  .fr-fieldset--error .fr-fieldset__legend {
    background-image: linear-gradient(0deg, #ce0500, #ce0500);
  }

  .fr-fieldset--error .fr-fieldset__legend,
  .fr-fieldset--error .fr-label {
    color: #ce0500;
  }

  .fr-fieldset--valid,
  .fr-fieldset--valid .fr-fieldset__legend {
    background-image: linear-gradient(0deg, #18753c, #18753c);
  }

  .fr-fieldset--valid .fr-fieldset__legend,
  .fr-fieldset--valid .fr-label {
    color: #18753c;
  }

  .fr-fieldset--info,
  .fr-fieldset--info .fr-fieldset__legend {
    background-image: linear-gradient(0deg, #0063cb, #0063cb);
  }

  .fr-fieldset--info .fr-fieldset__legend,
  .fr-fieldset--info .fr-label {
    color: #0063cb;
  }

  .fr-error-text::before,
  .fr-error-text::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/fr--error-fill.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-valid-text::before,
  .fr-valid-text::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/fr--success-fill.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-error-text {
    color: #ce0500;
  }

  .fr-valid-text {
    color: #18753c;
  }

  .fr-info-text {
    color: #0063cb;
  }

  .fr-fieldset--valid .fr-fieldset__content::before {
    box-shadow: inset 2px 0 0 0 #18753c;
  }

  .fr-fieldset--error .fr-fieldset__content::before {
    box-shadow: inset 2px 0 0 0 #ce0500;
  }

  .fr-fieldset--info .fr-fieldset__content::before {
    box-shadow: inset 2px 0 0 0 #0063cb;
  }
}
