/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";
@media print {
  /**
  * Mixin d'ajout des icones des réseaux sociaux
  **/

  /**
  * Mixin d'ajout des icones des réseaux sociaux
  **/
  .fr-follow {
    background-color: #f5f5fe;
  }

  .fr-follow .fr-input {
    background-color: #fff;
  }

  .fr-follow__title {
    color: #161616;
  }

  .fr-follow__newsletter-legal {
    color: #666;
  }

  .fr-follow__social .fr-btn {
    color: #000091;
  }

  .fr-follow__social .fr-btn:disabled,
  .fr-follow__social a.fr-btn:not([href]) {
    color: #929292;
  }

  .fr-follow .fr-grid-row > *:not(:first-child) {
    box-shadow: 0 -1px 0 0 #6a6af4;
  }
}
@media print and (min-width: 48em) {
  .fr-follow .fr-grid-row > *:not(:first-child) {
    box-shadow: -1px 0 0 0 #6a6af4;
  }
}
