/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/**
* Mixin d'ajout des icones des réseaux sociaux
**/

/**
* Mixin d'ajout des icones des réseaux sociaux
**/
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  /**
  * Correctif de la largeur max des textes
  */
  .fr-follow__newsletter > * {
    max-width: 100%;
  }

  .fr-follow .fr-btn--dailymotion::before {
    background-image: url("../../icons/logo/fr--dailymotion-fill.svg");
  }

  .fr-follow .fr-btn--facebook::before {
    background-image: url("../../icons/logo/facebook-circle-fill.svg");
  }

  .fr-follow .fr-btn--github::before {
    background-image: url("../../icons/logo/github-fill.svg");
  }

  .fr-follow .fr-btn--instagram::before {
    background-image: url("../../icons/logo/instagram-fill.svg");
  }

  .fr-follow .fr-btn--linkedin::before {
    background-image: url("../../icons/logo/linkedin-box-fill.svg");
  }

  .fr-follow .fr-btn--mastodon::before {
    background-image: url("../../icons/logo/mastodon-fill.svg");
  }

  .fr-follow .fr-btn--snapchat::before {
    background-image: url("../../icons/logo/snapchat-fill.svg");
  }

  .fr-follow .fr-btn--telegram::before {
    background-image: url("../../icons/logo/telegram-fill.svg");
  }

  .fr-follow .fr-btn--threads::before {
    background-image: url("../../icons/logo/threads-fill.svg");
  }

  .fr-follow .fr-btn--tiktok::before {
    background-image: url("../../icons/logo/fr--tiktok-fill.svg");
  }

  .fr-follow .fr-btn--twitch::before {
    background-image: url("../../icons/logo/twitch-fill.svg");
  }

  .fr-follow .fr-btn--twitter::before {
    background-image: url("../../icons/logo/twitter-fill.svg");
  }

  .fr-follow .fr-btn--twitter-x::before {
    background-image: url("../../icons/logo/twitter-x-fill.svg");
  }

  .fr-follow .fr-btn--vimeo::before {
    background-image: url("../../icons/logo/vimeo-fill.svg");
  }

  .fr-follow .fr-btn--youtube::before {
    background-image: url("../../icons/logo/youtube-fill.svg");
  }

  .fr-follow .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before,
  .fr-follow .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-btns-group--lg .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before,
  .fr-follow .fr-btns-group--lg .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
  }

  .fr-follow .fr-link--facebook::before,
  .fr-follow .fr-link--facebook::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/logo/facebook-circle-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-link--twitter::before,
  .fr-follow .fr-link--twitter::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/logo/twitter-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-link--twitter-x::before,
  .fr-follow .fr-link--twitter-x::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/logo/twitter-x-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-link--instagram::before,
  .fr-follow .fr-link--instagram::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/logo/instagram-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-link--linkedin::before,
  .fr-follow .fr-link--linkedin::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/logo/linkedin-box-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-link--youtube::before,
  .fr-follow .fr-link--youtube::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/logo/youtube-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-links-group:not(.fr-links-group--sm):not(.fr-links-group--lg) .fr-link:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before,
  .fr-follow .fr-links-group:not(.fr-links-group--sm):not(.fr-links-group--lg) .fr-link:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-follow .fr-links-group--lg .fr-link:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::before,
  .fr-follow .fr-links-group--lg .fr-link:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"])::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
  }

  .fr-follow {
    background-color: #f5f5fe;
  }

  .fr-follow .fr-input {
    background-color: #fff;
  }

  .fr-follow__title {
    color: #161616;
  }

  .fr-follow__newsletter-legal {
    color: #666;
  }

  .fr-follow__social .fr-btn {
    background-color: transparent;
    color: #000091;
  }

  .fr-follow__social .fr-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-follow__social .fr-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-follow__social .fr-btn:disabled,
  .fr-follow__social a.fr-btn:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-follow__social .fr-btn:disabled:hover,
  .fr-follow__social a.fr-btn:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-follow__social .fr-btn:disabled:active,
  .fr-follow__social a.fr-btn:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-follow .fr-grid-row > *:not(:first-child) {
    box-shadow: 0 -1px 0 0 #6a6af4;
  }

  .fr-follow__social .fr-link {
    background-color: transparent;
    color: #000091;
  }

  .fr-follow__social .fr-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-follow__social .fr-link:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-follow__social .fr-link:disabled,
  .fr-follow__social a.fr-link:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-follow__social .fr-link:disabled:hover,
  .fr-follow__social a.fr-link:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-follow__social .fr-link:disabled:active,
  .fr-follow__social a.fr-link:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 48em) and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-follow .fr-grid-row > *:not(:first-child) {
    box-shadow: -1px 0 0 0 #6a6af4;
  }
}
