/*!
 * DSFR v1.11.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-card {
    background-color: #fff;
  }

  .fr-card:not(.fr-card--no-border):not(.fr-card--shadow) {
    background-image: linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd), linear-gradient(0deg, #ddd, #ddd);
  }

  .fr-card--grey {
    background-color: #eee;
  }

  .fr-card--shadow {
    background-color: #fff;
  }

  .fr-card--shadow.fr-card--grey {
    background-color: #eee;
  }

  .fr-card--download:not(.fr-card--no-background) .fr-card__header {
    background-color: #f6f6f6;
  }

  .fr-card__detail {
    color: #666;
    line-height: 1rem !important;
  }

  .fr-card__title {
    color: #161616;
  }

  .fr-card__title a[href] {
    color: #000091;
  }

  .fr-card__title:disabled,
  a.fr-card__title:not([href]) {
    color: #929292;
    background-color: #e5e5e5;
  }

  .fr-card__detail,
  .fr-card__desc {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media print and (-ms-high-contrast: none), print and (-ms-high-contrast: active) {
  .fr-card--shadow {
    z-index: 500;
  }

  .fr-card--no-background {
    background-color: transparent;
  }

  .fr-card--no-background:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-card--no-background:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
