/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

.fr-sidemenu {
  /*
  @include elevation.elevate(raised, (legacy:$legacy));
  @include respond-from(md) {
    @include elevation.drop((legacy:$legacy));
  }
   */
}
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  /**
  * Correctif de la hauteur de la navigation latérale
  */
  .fr-sidemenu {
    height: auto;
    box-shadow: inset 0 -1px 0 0 #ddd, inset 0 1px 0 0 #ddd;
  }

  .fr-sidemenu ul {
    list-style-type: none;
  }

  .fr-sidemenu ol {
    list-style-type: none;
  }

  .fr-sidemenu ul,
  .fr-sidemenu ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fr-sidemenu [href] {
    text-decoration: none;
  }

  .fr-sidemenu__btn[aria-expanded]::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/arrow-down-s-line.svg");
    width: 1rem;
    height: 1rem;
  }

  .fr-sidemenu__title {
    color: #161616;
    box-shadow: inset 0 -1px 0 0 #ddd;
  }

  .fr-sidemenu__item .fr-sidemenu__link,
  .fr-sidemenu__item .fr-sidemenu__btn {
    color: #161616;
  }

  .fr-sidemenu__item::before {
    box-shadow: 0 -1px 0 0 #ddd, inset 0 -1px 0 0 #ddd;
  }

  .fr-sidemenu__item:first-child::before {
    box-shadow: inset 0 -1px 0 0 #ddd;
  }

  .fr-sidemenu__item:last-child::before {
    box-shadow: 0 -1px 0 0 #ddd;
  }

  .fr-sidemenu__link,
  .fr-sidemenu__btn {
    color: #000091;
  }

  .fr-sidemenu__link[aria-current]:not([aria-current=false]),
  .fr-sidemenu__btn[aria-current]:not([aria-current=false]) {
    color: #000091;
  }

  .fr-sidemenu__link[aria-current]:not([aria-current=false])::before,
  .fr-sidemenu__btn[aria-current]:not([aria-current=false])::before {
    background-color: #000091;
  }

  .fr-sidemenu__btn[aria-expanded=true] {
    background-color: #e3e3fd;
  }
}
@media screen and (min-width: 48em) and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-sidemenu {
    box-shadow: none;
  }

  .fr-sidemenu__title {
    box-shadow: none;
  }

  .fr-sidemenu__inner {
    box-shadow: inset -1px 0 0 0 #ddd;
  }

  .fr-sidemenu--right .fr-sidemenu__inner {
    box-shadow: inset 1px 0 0 0 #ddd;
  }
}
