/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-card::before {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/arrow-right-line.svg");
    width: 1.5rem;
    height: 1.5rem;
    color: #000091;
  }

  .fr-card--no-icon::before {
    content: none;
  }

  .fr-card__title,
  .fr-card__desc {
    flex: 1 0 auto;
  }

  .fr-card__title [target=_blank]::after {
    width: 2rem;
    height: 2rem;
  }

  .fr-card__detail::before {
    width: 1rem;
    height: 1rem;
  }

  .fr-card--horizontal .fr-card__body {
    flex-basis: 100%;
  }

  .fr-card > .fr-card__img {
    flex-shrink: 0;
  }

  .fr-card {
    background-color: #fff;
  }

  .fr-card:not(.fr-card--no-border):not(.fr-card--shadow) {
    box-shadow: 0 0 0 1px #ddd;
  }

  .fr-card--grey {
    background-color: #eee;
  }

  .fr-card--shadow {
    z-index: 500;
    background-color: #fff;
  }

  .fr-card--shadow.fr-card--grey {
    background-color: #eee;
  }

  .fr-card--no-background {
    background-color: transparent;
  }

  .fr-card--no-background:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-card--no-background:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-card__detail {
    color: #666;
  }

  .fr-card__title {
    color: #161616;
  }
}
