/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  CONTENT
\* ˍˍˍˍˍˍˍˍˍ */
.fr-content-media {
  width: 100%;
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  --text-spacing: 0;
  --title-spacing: 0;
}

.fr-content-media__img {
  width: 100%;
}

.fr-content-media [class^=fr-responsive-img],
.fr-content-media [class*=" fr-responsive-img"],
.fr-content-media [class^=fr-responsive-vid],
.fr-content-media [class*=" fr-responsive-vid"] {
  aspect-ratio: 1.7777777778;
}

.fr-content-media__caption {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.fr-content-media__caption .fr-link {
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding: 0 0;
  margin-right: auto;
}

.fr-content-media__caption .fr-link::before,
.fr-content-media__caption .fr-link::after {
  --icon-size: 0.75rem;
}

.fr-content-media .fr-transcription {
  margin-top: 1.5rem;
}

.fr-content-media + .fr-transcription {
  margin-top: -1rem;
  margin-bottom: 2.5rem;
}

.fr-content-media--sm .fr-content-media__img,
.fr-content-media--sm .fr-responsive-vid {
  width: 83.3333333333%;
}

.fr-content-media--lg .fr-content-media__img,
.fr-content-media--lg .fr-responsive-vid {
  width: 116.6666666667%;
  max-width: 100vw;
}

.fr-content-media__transcription .fr-link {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;

  --underline-img: none;
  --hover-tint: var(--hover);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
}

.fr-content-media__transcription .fr-link::after {

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/system/menu-2-fill.svg");
  mask-image: url("../../icons/system/menu-2-fill.svg");
  content: "";
}

.fr-content-media__transcription .fr-link::before {
  content: none;
}

.fr-content-media__caption,
.fr-content-media .fr-link {
  color: var(--text-mention-grey);
}

.fr-content-media__transcription .fr-link:disabled,
.fr-content-media__transcription a.fr-link:not([href]) {
  color: var(--text-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}
@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
  .fr-content-media--sm .fr-content-media__img,
  .fr-content-media--sm .fr-responsive-vid {
    width: 75%;
  }

  .fr-content-media--lg .fr-content-media__img,
  .fr-content-media--lg .fr-responsive-vid {
    width: 125%;
  }

  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */

  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}
@media (-ms-high-contrast: active), (forced-colors: active) {
  .fr-content-media__transcription .fr-link::after {
    forced-color-adjust: none;
    background-color: buttontext;
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-content-media__caption,
  .fr-content-media .fr-link {
    color: #666;
  }

  .fr-content-media__transcription .fr-link {
    background-color: transparent;
    color: #000091;
  }

  .fr-content-media__transcription .fr-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-link:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-content-media__transcription .fr-link:disabled,
  .fr-content-media__transcription a.fr-link:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-content-media__transcription .fr-link:disabled:hover,
  .fr-content-media__transcription a.fr-link:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-link:disabled:active,
  .fr-content-media__transcription a.fr-link:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media print {
  .fr-content-media__caption,
  .fr-content-media .fr-link {
    color: #666;
  }

  .fr-content-media__caption {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fr-content-media__caption .fr-link {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0;
  }

  .fr-content-media__caption .fr-link::before,
  .fr-content-media__caption .fr-link::after {
    --icon-size: 1rem;
  }
}
