/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-content-media__caption,
  .fr-content-media .fr-link {
    color: #666;
  }

  .fr-content-media__transcription .fr-link {
    background-color: transparent;
    color: #000091;
  }

  .fr-content-media__transcription .fr-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-link:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-content-media__transcription .fr-link:disabled,
  .fr-content-media__transcription a.fr-link:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-content-media__transcription .fr-link:disabled:hover,
  .fr-content-media__transcription a.fr-link:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-content-media__transcription .fr-link:disabled:active,
  .fr-content-media__transcription a.fr-link:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
