/*!
 * DSFR v1.14.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-chat-2-fill::before,
.fr-icon-chat-2-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-2-fill.svg");
  mask-image: url("../../../icons/communication/chat-2-fill.svg");
}

.fr-icon-chat-2-line::before,
.fr-icon-chat-2-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-2-line.svg");
  mask-image: url("../../../icons/communication/chat-2-line.svg");
}

.fr-icon-chat-3-fill::before,
.fr-icon-chat-3-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-3-fill.svg");
  mask-image: url("../../../icons/communication/chat-3-fill.svg");
}

.fr-icon-chat-3-line::before,
.fr-icon-chat-3-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-3-line.svg");
  mask-image: url("../../../icons/communication/chat-3-line.svg");
}

.fr-icon-chat-check-fill::before,
.fr-icon-chat-check-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-check-fill.svg");
  mask-image: url("../../../icons/communication/chat-check-fill.svg");
}

.fr-icon-chat-check-line::before,
.fr-icon-chat-check-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-check-line.svg");
  mask-image: url("../../../icons/communication/chat-check-line.svg");
}

.fr-icon-chat-delete-fill::before,
.fr-icon-chat-delete-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-delete-fill.svg");
  mask-image: url("../../../icons/communication/chat-delete-fill.svg");
}

.fr-icon-chat-delete-line::before,
.fr-icon-chat-delete-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-delete-line.svg");
  mask-image: url("../../../icons/communication/chat-delete-line.svg");
}

.fr-icon-chat-download-fill::before,
.fr-icon-chat-download-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-download-fill.svg");
  mask-image: url("../../../icons/communication/chat-download-fill.svg");
}

.fr-icon-chat-download-line::before,
.fr-icon-chat-download-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-download-line.svg");
  mask-image: url("../../../icons/communication/chat-download-line.svg");
}

.fr-icon-chat-follow-up-fill::before,
.fr-icon-chat-follow-up-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-follow-up-fill.svg");
  mask-image: url("../../../icons/communication/chat-follow-up-fill.svg");
}

.fr-icon-chat-follow-up-line::before,
.fr-icon-chat-follow-up-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-follow-up-line.svg");
  mask-image: url("../../../icons/communication/chat-follow-up-line.svg");
}

.fr-icon-chat-forward-fill::before,
.fr-icon-chat-forward-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-forward-fill.svg");
  mask-image: url("../../../icons/communication/chat-forward-fill.svg");
}

.fr-icon-chat-forward-line::before,
.fr-icon-chat-forward-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-forward-line.svg");
  mask-image: url("../../../icons/communication/chat-forward-line.svg");
}

.fr-icon-chat-history-fill::before,
.fr-icon-chat-history-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-history-fill.svg");
  mask-image: url("../../../icons/communication/chat-history-fill.svg");
}

.fr-icon-chat-history-line::before,
.fr-icon-chat-history-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-history-line.svg");
  mask-image: url("../../../icons/communication/chat-history-line.svg");
}

.fr-icon-chat-new-fill::before,
.fr-icon-chat-new-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-new-fill.svg");
  mask-image: url("../../../icons/communication/chat-new-fill.svg");
}

.fr-icon-chat-new-line::before,
.fr-icon-chat-new-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-new-line.svg");
  mask-image: url("../../../icons/communication/chat-new-line.svg");
}

.fr-icon-chat-off-fill::before,
.fr-icon-chat-off-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-off-fill.svg");
  mask-image: url("../../../icons/communication/chat-off-fill.svg");
}

.fr-icon-chat-off-line::before,
.fr-icon-chat-off-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-off-line.svg");
  mask-image: url("../../../icons/communication/chat-off-line.svg");
}

.fr-icon-chat-poll-fill::before,
.fr-icon-chat-poll-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-poll-fill.svg");
  mask-image: url("../../../icons/communication/chat-poll-fill.svg");
}

.fr-icon-chat-poll-line::before,
.fr-icon-chat-poll-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-poll-line.svg");
  mask-image: url("../../../icons/communication/chat-poll-line.svg");
}

.fr-icon-chat-private-fill::before,
.fr-icon-chat-private-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-private-fill.svg");
  mask-image: url("../../../icons/communication/chat-private-fill.svg");
}

.fr-icon-chat-private-line::before,
.fr-icon-chat-private-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-private-line.svg");
  mask-image: url("../../../icons/communication/chat-private-line.svg");
}

.fr-icon-chat-quote-fill::before,
.fr-icon-chat-quote-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-quote-fill.svg");
  mask-image: url("../../../icons/communication/chat-quote-fill.svg");
}

.fr-icon-chat-quote-line::before,
.fr-icon-chat-quote-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-quote-line.svg");
  mask-image: url("../../../icons/communication/chat-quote-line.svg");
}

.fr-icon-chat-settings-fill::before,
.fr-icon-chat-settings-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-settings-fill.svg");
  mask-image: url("../../../icons/communication/chat-settings-fill.svg");
}

.fr-icon-chat-settings-line::before,
.fr-icon-chat-settings-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-settings-line.svg");
  mask-image: url("../../../icons/communication/chat-settings-line.svg");
}

.fr-icon-chat-upload-fill::before,
.fr-icon-chat-upload-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-upload-fill.svg");
  mask-image: url("../../../icons/communication/chat-upload-fill.svg");
}

.fr-icon-chat-upload-line::before,
.fr-icon-chat-upload-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-upload-line.svg");
  mask-image: url("../../../icons/communication/chat-upload-line.svg");
}

.fr-icon-chat-voice-fill::before,
.fr-icon-chat-voice-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-voice-fill.svg");
  mask-image: url("../../../icons/communication/chat-voice-fill.svg");
}

.fr-icon-chat-voice-line::before,
.fr-icon-chat-voice-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-voice-line.svg");
  mask-image: url("../../../icons/communication/chat-voice-line.svg");
}

.fr-icon-discuss-fill::before,
.fr-icon-discuss-fill::after {
  -webkit-mask-image: url("../../../icons/communication/discuss-fill.svg");
  mask-image: url("../../../icons/communication/discuss-fill.svg");
}

.fr-icon-discuss-line::before,
.fr-icon-discuss-line::after {
  -webkit-mask-image: url("../../../icons/communication/discuss-line.svg");
  mask-image: url("../../../icons/communication/discuss-line.svg");
}

.fr-icon-emoji-sticker-fill::before,
.fr-icon-emoji-sticker-fill::after {
  -webkit-mask-image: url("../../../icons/communication/emoji-sticker-fill.svg");
  mask-image: url("../../../icons/communication/emoji-sticker-fill.svg");
}

.fr-icon-emoji-sticker-line::before,
.fr-icon-emoji-sticker-line::after {
  -webkit-mask-image: url("../../../icons/communication/emoji-sticker-line.svg");
  mask-image: url("../../../icons/communication/emoji-sticker-line.svg");
}

.fr-icon-feedback-fill::before,
.fr-icon-feedback-fill::after {
  -webkit-mask-image: url("../../../icons/communication/feedback-fill.svg");
  mask-image: url("../../../icons/communication/feedback-fill.svg");
}

.fr-icon-feedback-line::before,
.fr-icon-feedback-line::after {
  -webkit-mask-image: url("../../../icons/communication/feedback-line.svg");
  mask-image: url("../../../icons/communication/feedback-line.svg");
}

.fr-icon-message-2-fill::before,
.fr-icon-message-2-fill::after {
  -webkit-mask-image: url("../../../icons/communication/message-2-fill.svg");
  mask-image: url("../../../icons/communication/message-2-fill.svg");
}

.fr-icon-message-2-line::before,
.fr-icon-message-2-line::after {
  -webkit-mask-image: url("../../../icons/communication/message-2-line.svg");
  mask-image: url("../../../icons/communication/message-2-line.svg");
}

.fr-icon-message-3-fill::before,
.fr-icon-message-3-fill::after {
  -webkit-mask-image: url("../../../icons/communication/message-3-fill.svg");
  mask-image: url("../../../icons/communication/message-3-fill.svg");
}

.fr-icon-message-3-line::before,
.fr-icon-message-3-line::after {
  -webkit-mask-image: url("../../../icons/communication/message-3-line.svg");
  mask-image: url("../../../icons/communication/message-3-line.svg");
}

.fr-icon-question-answer-fill::before,
.fr-icon-question-answer-fill::after {
  -webkit-mask-image: url("../../../icons/communication/question-answer-fill.svg");
  mask-image: url("../../../icons/communication/question-answer-fill.svg");
}

.fr-icon-question-answer-line::before,
.fr-icon-question-answer-line::after {
  -webkit-mask-image: url("../../../icons/communication/question-answer-line.svg");
  mask-image: url("../../../icons/communication/question-answer-line.svg");
}

.fr-icon-questionnaire-fill::before,
.fr-icon-questionnaire-fill::after {
  -webkit-mask-image: url("../../../icons/communication/questionnaire-fill.svg");
  mask-image: url("../../../icons/communication/questionnaire-fill.svg");
}

.fr-icon-questionnaire-line::before,
.fr-icon-questionnaire-line::after {
  -webkit-mask-image: url("../../../icons/communication/questionnaire-line.svg");
  mask-image: url("../../../icons/communication/questionnaire-line.svg");
}

.fr-icon-speak-fill::before,
.fr-icon-speak-fill::after {
  -webkit-mask-image: url("../../../icons/communication/speak-fill.svg");
  mask-image: url("../../../icons/communication/speak-fill.svg");
}

.fr-icon-speak-line::before,
.fr-icon-speak-line::after {
  -webkit-mask-image: url("../../../icons/communication/speak-line.svg");
  mask-image: url("../../../icons/communication/speak-line.svg");
}

.fr-icon-video-chat-fill::before,
.fr-icon-video-chat-fill::after {
  -webkit-mask-image: url("../../../icons/communication/video-chat-fill.svg");
  mask-image: url("../../../icons/communication/video-chat-fill.svg");
}

.fr-icon-video-chat-line::before,
.fr-icon-video-chat-line::after {
  -webkit-mask-image: url("../../../icons/communication/video-chat-line.svg");
  mask-image: url("../../../icons/communication/video-chat-line.svg");
}

.fr-fi-chat-quote-fill::before,
.fr-fi-chat-quote-fill::after {
  -webkit-mask-image: url("../../../icons/communication/chat-quote-fill.svg");
  mask-image: url("../../../icons/communication/chat-quote-fill.svg");
}

.fr-fi-chat-quote-line::before,
.fr-fi-chat-quote-line::after {
  -webkit-mask-image: url("../../../icons/communication/chat-quote-line.svg");
  mask-image: url("../../../icons/communication/chat-quote-line.svg");
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
