/*!
 * DSFR v1.14.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-checkbox-group input[type=checkbox] + .fr-label::before {
    border: 1px solid var(--border-default-grey);
    border-radius: 4px;
    background-image: none;
  }

  .fr-checkbox-group input[type=checkbox]:checked + .fr-label::before {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
