/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-tooltip {
    color: #3a3a3a;
    display: none;
  }

  .fr-tooltip.fr-placement {
    background-image: linear-gradient(90deg, #fff, #fff);
  }
}
