/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-tooltip {
    position: relative;
    margin-top: 0.5rem;
    color: #3a3a3a;
  }

  .fr-tooltip.fr-placement {
    z-index: 1000;
    box-shadow: 0 0 0 1px rgba(0, 0, 18, 0.16);
    background-image: linear-gradient(90deg, #fff, #fff);
  }
}
