/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-header ul {
    list-style-type: none;
  }

  .fr-header ol {
    list-style-type: none;
  }

  .fr-header ul,
  .fr-header ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fr-header [href] {
    text-decoration: none;
  }

  .fr-header .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn:not([class^=fr-icon-]):not([class*=" fr-icon-"]):not([class^=fr-fi-]):not([class*=" fr-fi-"]):not(.fr-btn--display)::before {
    width: 1rem;
    height: 1rem;
  }

  .fr-header .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class^=fr-icon-]::before,
  .fr-header .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class*=" fr-icon-"]::before,
  .fr-header .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class^=fr-fi-]::before,
  .fr-header .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class*=" fr-fi-"]::before {
    width: 1rem;
    height: 1rem;
  }

  .fr-header .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn.fr-btn--display::before {
    width: 1rem;
    height: 1rem;
  }

  .fr-header__tools-links .fr-link {
    overflow: visible;
    background-color: transparent;
    color: #000091;
  }

  .fr-header__service-title,
  .fr-header__service-tagline {
    margin: 0;
  }

  .fr-header__operator img {
    height: auto !important;
  }

  .fr-header__navbar .fr-btn--menu::before {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/menu-fill.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-header__navbar .fr-btn--search::before {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../icons/system/search-line.svg");
    width: 1.5rem;
    height: 1.5rem;
  }

  .fr-header__brand {
    z-index: 750;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 18, 0.16);
  }

  .fr-header__service {
    color: #161616;
  }

  .fr-header__service::before {
    background-color: #ddd;
  }

  .fr-header__menu-links::after {
    box-shadow: inset 0 1px 0 0 #ddd;
  }

  .fr-header__menu-links .fr-btn {
    background-color: transparent;
    color: #000091;
    box-shadow: none;
  }

  .fr-header__menu-links .fr-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__menu-links .fr-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__menu-links .fr-btn:disabled,
  .fr-header__menu-links a.fr-btn:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-header__menu-links .fr-btn:disabled:hover,
  .fr-header__menu-links a.fr-btn:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__menu-links .fr-btn:disabled:active,
  .fr-header__menu-links a.fr-btn:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__tools-links .fr-btn {
    background-color: transparent;
    color: #000091;
  }

  .fr-header__tools-links .fr-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__tools-links .fr-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__tools-links .fr-btn:disabled,
  .fr-header__tools-links a.fr-btn:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-header__tools-links .fr-btn:disabled:hover,
  .fr-header__tools-links a.fr-btn:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__tools-links .fr-btn:disabled:active,
  .fr-header__tools-links a.fr-btn:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__tools-links > .fr-translate:first-child:last-child .fr-btn {
    background-color: transparent;
    color: #000091;
    box-shadow: inset 0 0 0 1px #ddd;
  }

  .fr-header__tools-links > .fr-translate:first-child:last-child .fr-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__tools-links > .fr-translate:first-child:last-child .fr-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__tools-links > .fr-translate:first-child:last-child .fr-btn:disabled,
  .fr-header__tools-links > .fr-translate:first-child:last-child a.fr-btn:not([href]) {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    background-color: transparent;
  }

  .fr-header__tools-links > .fr-translate:first-child:last-child .fr-btn:disabled:hover,
  .fr-header__tools-links > .fr-translate:first-child:last-child a.fr-btn:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__tools-links > .fr-translate:first-child:last-child .fr-btn:disabled:active,
  .fr-header__tools-links > .fr-translate:first-child:last-child a.fr-btn:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__navbar .fr-service__title {
    color: #161616;
  }

  .fr-header__navbar .fr-btn {
    background-color: transparent;
    color: #000091;
  }

  .fr-header__navbar .fr-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__navbar .fr-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__navbar .fr-btn:disabled,
  .fr-header__navbar a.fr-btn:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-header__navbar .fr-btn:disabled:hover,
  .fr-header__navbar a.fr-btn:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__navbar .fr-btn:disabled:active,
  .fr-header__navbar a.fr-btn:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__navbar .fr-btn--menu {
    background-color: transparent;
    color: #000091;
    box-shadow: inset 0 0 0 1px #ddd;
  }

  .fr-header__navbar .fr-btn--menu:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__navbar .fr-btn--menu:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__navbar .fr-btn--menu:disabled,
  .fr-header__navbar a.fr-btn--menu:not([href]) {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    background-color: transparent;
  }

  .fr-header__navbar .fr-btn--menu:disabled:hover,
  .fr-header__navbar a.fr-btn--menu:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__navbar .fr-btn--menu:disabled:active,
  .fr-header__navbar a.fr-btn--menu:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header .fr-modal {
    background-color: #fff;
  }

  .fr-header__menu-links .fr-link {
    background-color: transparent;
    color: #000091;
    box-shadow: inset 0 -1px 0 0 #ddd;
  }

  .fr-header__menu-links .fr-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__menu-links .fr-link:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__menu-links .fr-link:disabled,
  .fr-header__menu-links a.fr-link:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-header__menu-links .fr-link:disabled:hover,
  .fr-header__menu-links a.fr-link:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__menu-links .fr-link:disabled:active,
  .fr-header__menu-links a.fr-link:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__tools-links .fr-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__tools-links .fr-link:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fr-header__tools-links .fr-link:disabled,
  .fr-header__tools-links a.fr-link:not([href]) {
    color: #929292;
    background-color: transparent;
  }

  .fr-header__tools-links .fr-link:disabled:hover,
  .fr-header__tools-links a.fr-link:not([href]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .fr-header__tools-links .fr-link:disabled:active,
  .fr-header__tools-links a.fr-link:not([href]):active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) and (min-width: 62em) {
  .fr-header .fr-modal {
    position: static;
    overflow: visible;
  }
}
@media screen and (min-width: 62em) and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-header {
    z-index: 750;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 18, 0.16);
  }

  .fr-header__brand {
    z-index: auto;
    background: transparent;
    box-shadow: none;
  }

  .fr-header__service {
    box-shadow: none;
  }

  .fr-header .fr-header__menu {
    box-shadow: inset 0 1px 0 0 #ddd;
  }
}
