/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

.fr-select {
  /**
  * Modificateur pour gérer l'état d'erreur
  */

  /**
  * Modificateur pour gérer l'état de validation
  */

  /**
  * Mixin pour gérer l'état disabled
  */

  /**
  * On applique un style lorsque la valeur est automatiquement remplie par le navigateur
  * sur les navigateurs webkit.
  */
}
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * Cache l'icone native du select sur IE
  */
  .fr-select::-ms-expand {
    display: none;
  }

  .fr-select {
    color: #161616;
    background-color: #eee;
    box-shadow: inset 0 -2px 0 0 #3a3a3a;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' %3E%3Cpath fill='%23161616' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/%3E%3C/svg%3E");
  }

  .fr-select--error {
    box-shadow: inset 0 -2px 0 0 #ce0500;
  }

  .fr-select--valid {
    box-shadow: inset 0 -2px 0 0 #18753c;
  }

  .fr-select:disabled {
    color: #929292;
    box-shadow: inset 0 -2px 0 0 #e5e5e5;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' %3E%3Cpath fill='%23929292' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/%3E%3C/svg%3E");
  }

  .fr-select:-webkit-autofill,
  .fr-select:-webkit-autofill:hover,
  .fr-select:-webkit-autofill:focus {
    box-shadow: inset 0 -2px 0 0 #3a3a3a, inset 0 0 0 1000px #ececfe;
    -webkit-text-fill-color: #161616;
  }
}
