/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  HIGHLIGHT
\* ˍˍˍˍˍˍˍˍˍ */
.fr-highlight {
  padding-left: 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-size: 0.25rem 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--border-default-blue-france), var(--border-default-blue-france));
}

.fr-highlight--green-tilleul-verveine {
  background-image: linear-gradient(0deg, var(--border-default-green-tilleul-verveine), var(--border-default-green-tilleul-verveine));
}

.fr-highlight--green-bourgeon {
  background-image: linear-gradient(0deg, var(--border-default-green-bourgeon), var(--border-default-green-bourgeon));
}

.fr-highlight--green-emeraude {
  background-image: linear-gradient(0deg, var(--border-default-green-emeraude), var(--border-default-green-emeraude));
}

.fr-highlight--green-menthe {
  background-image: linear-gradient(0deg, var(--border-default-green-menthe), var(--border-default-green-menthe));
}

.fr-highlight--green-archipel {
  background-image: linear-gradient(0deg, var(--border-default-green-archipel), var(--border-default-green-archipel));
}

.fr-highlight--blue-ecume {
  background-image: linear-gradient(0deg, var(--border-default-blue-ecume), var(--border-default-blue-ecume));
}

.fr-highlight--blue-cumulus {
  background-image: linear-gradient(0deg, var(--border-default-blue-cumulus), var(--border-default-blue-cumulus));
}

.fr-highlight--purple-glycine {
  background-image: linear-gradient(0deg, var(--border-default-purple-glycine), var(--border-default-purple-glycine));
}

.fr-highlight--pink-macaron {
  background-image: linear-gradient(0deg, var(--border-default-pink-macaron), var(--border-default-pink-macaron));
}

.fr-highlight--pink-tuile {
  background-image: linear-gradient(0deg, var(--border-default-pink-tuile), var(--border-default-pink-tuile));
}

.fr-highlight--yellow-tournesol {
  background-image: linear-gradient(0deg, var(--border-default-yellow-tournesol), var(--border-default-yellow-tournesol));
}

.fr-highlight--yellow-moutarde {
  background-image: linear-gradient(0deg, var(--border-default-yellow-moutarde), var(--border-default-yellow-moutarde));
}

.fr-highlight--orange-terre-battue {
  background-image: linear-gradient(0deg, var(--border-default-orange-terre-battue), var(--border-default-orange-terre-battue));
}

.fr-highlight--brown-cafe-creme {
  background-image: linear-gradient(0deg, var(--border-default-brown-cafe-creme), var(--border-default-brown-cafe-creme));
}

.fr-highlight--brown-caramel {
  background-image: linear-gradient(0deg, var(--border-default-brown-caramel), var(--border-default-brown-caramel));
}

.fr-highlight--brown-opera {
  background-image: linear-gradient(0deg, var(--border-default-brown-opera), var(--border-default-brown-opera));
}

.fr-highlight--beige-gris-galet {
  background-image: linear-gradient(0deg, var(--border-default-beige-gris-galet), var(--border-default-beige-gris-galet));
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
  .fr-highlight {
    padding-left: 2.25rem;
    margin-left: 2rem;
  }
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}

@media (-ms-high-contrast: active), (forced-colors: active) {
  .fr-highlight {
    border-left: 4px solid;
    padding-left: 1rem;
  }
}

@media (-ms-high-contrast: active) and (min-width: 48em), (forced-colors: active) and (min-width: 48em) {
  .fr-highlight {
    padding-left: 2rem;
  }
}
