/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-badge {
    color: #3a3a3a;
    background-color: #eee;
  }

  .fr-badge--info {
    color: #0063cb;
    background-color: #e8edff;
  }

  .fr-badge--error {
    color: #ce0500;
    background-color: #ffe9e9;
  }

  .fr-badge--success {
    color: #18753c;
    background-color: #b8fec9;
  }

  .fr-badge--warning {
    color: #b34000;
    background-color: #ffe9e6;
  }

  .fr-badge--new {
    color: #695240;
    background-color: #feebd0;
  }

  .fr-badge--green-tilleul-verveine {
    color: #66673d;
    background-color: #fceeac;
  }

  .fr-badge--green-bourgeon {
    color: #447049;
    background-color: #c9fcac;
  }

  .fr-badge--green-emeraude {
    color: #297254;
    background-color: #c3fad5;
  }

  .fr-badge--green-menthe {
    color: #37635f;
    background-color: #bafaee;
  }

  .fr-badge--green-archipel {
    color: #006a6f;
    background-color: #c7f6fc;
  }

  .fr-badge--blue-ecume {
    color: #2f4077;
    background-color: #e9edfe;
  }

  .fr-badge--blue-cumulus {
    color: #3558a2;
    background-color: #e6eefe;
  }

  .fr-badge--purple-glycine {
    color: #6e445a;
    background-color: #fee7fc;
  }

  .fr-badge--pink-macaron {
    color: #8d533e;
    background-color: #fee9e6;
  }

  .fr-badge--pink-tuile {
    color: #a94645;
    background-color: #fee9e7;
  }

  .fr-badge--yellow-tournesol {
    color: #716043;
    background-color: #feecc2;
  }

  .fr-badge--yellow-moutarde {
    color: #695240;
    background-color: #feebd0;
  }

  .fr-badge--orange-terre-battue {
    color: #755348;
    background-color: #fee9e5;
  }

  .fr-badge--brown-cafe-creme {
    color: #685c48;
    background-color: #f7ecdb;
  }

  .fr-badge--brown-caramel {
    color: #845d48;
    background-color: #f7ebe5;
  }

  .fr-badge--brown-opera {
    color: #745b47;
    background-color: #f7ece4;
  }

  .fr-badge--beige-gris-galet {
    color: #6a6156;
    background-color: #f3ede5;
  }
}
