/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  .fr-badge::before,
  .fr-badge::after {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
  }

  .fr-badge--sm::before {
    width: 0.75rem;
    height: 0.75rem;
  }

  .fr-badge.fr-badge--info::before,
  .fr-badge.fr-badge--info::after,
  .fr-badge--sm.fr-badge--info::before,
  .fr-badge--sm.fr-badge--info::after {
    background-image: url("../../icons/system/fr--info-fill.svg");
  }

  .fr-badge.fr-badge--success::before,
  .fr-badge.fr-badge--success::after,
  .fr-badge--sm.fr-badge--success::before,
  .fr-badge--sm.fr-badge--success::after {
    background-image: url("../../icons/system/fr--success-fill.svg");
  }

  .fr-badge.fr-badge--error::before,
  .fr-badge.fr-badge--error::after,
  .fr-badge--sm.fr-badge--error::before,
  .fr-badge--sm.fr-badge--error::after {
    background-image: url("../../icons/system/fr--error-fill.svg");
  }

  .fr-badge.fr-badge--warning::before,
  .fr-badge.fr-badge--warning::after,
  .fr-badge--sm.fr-badge--warning::before,
  .fr-badge--sm.fr-badge--warning::after {
    background-image: url("../../icons/system/fr--warning-fill.svg");
  }

  .fr-badge.fr-badge--new::before,
  .fr-badge.fr-badge--new::after,
  .fr-badge--sm.fr-badge--new::before,
  .fr-badge--sm.fr-badge--new::after {
    background-image: url("../../icons/weather/flashlight-fill.svg");
  }

  ul.fr-badges-group {
    list-style-type: none;
  }

  ol.fr-badges-group {
    list-style-type: none;
  }

  ul.fr-badges-group,
  ol.fr-badges-group {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fr-badge {
    color: #3a3a3a;
    background-color: #eee;
  }

  .fr-badge--info {
    color: #0063cb;
    background-color: #e8edff;
  }

  .fr-badge--error {
    color: #ce0500;
    background-color: #ffe9e9;
  }

  .fr-badge--success {
    color: #18753c;
    background-color: #b8fec9;
  }

  .fr-badge--warning {
    color: #b34000;
    background-color: #ffe9e6;
  }

  .fr-badge--new {
    color: #695240;
    background-color: #feebd0;
  }

  .fr-badge--green-tilleul-verveine {
    color: #66673d;
    background-color: #fceeac;
  }

  .fr-badge--green-bourgeon {
    color: #447049;
    background-color: #c9fcac;
  }

  .fr-badge--green-emeraude {
    color: #297254;
    background-color: #c3fad5;
  }

  .fr-badge--green-menthe {
    color: #37635f;
    background-color: #bafaee;
  }

  .fr-badge--green-archipel {
    color: #006a6f;
    background-color: #c7f6fc;
  }

  .fr-badge--blue-ecume {
    color: #2f4077;
    background-color: #e9edfe;
  }

  .fr-badge--blue-cumulus {
    color: #3558a2;
    background-color: #e6eefe;
  }

  .fr-badge--purple-glycine {
    color: #6e445a;
    background-color: #fee7fc;
  }

  .fr-badge--pink-macaron {
    color: #8d533e;
    background-color: #fee9e6;
  }

  .fr-badge--pink-tuile {
    color: #a94645;
    background-color: #fee9e7;
  }

  .fr-badge--yellow-tournesol {
    color: #716043;
    background-color: #feecc2;
  }

  .fr-badge--yellow-moutarde {
    color: #695240;
    background-color: #feebd0;
  }

  .fr-badge--orange-terre-battue {
    color: #755348;
    background-color: #fee9e5;
  }

  .fr-badge--brown-cafe-creme {
    color: #685c48;
    background-color: #f7ecdb;
  }

  .fr-badge--brown-caramel {
    color: #845d48;
    background-color: #f7ebe5;
  }

  .fr-badge--brown-opera {
    color: #745b47;
    background-color: #f7ece4;
  }

  .fr-badge--beige-gris-galet {
    color: #6a6156;
    background-color: #f3ede5;
  }
}
