/*!
 * DSFR v1.13.0 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-btn {
    background-color: #000091;
    color: #f5f5fe;
  }

  .fr-btn:hover {
    background-color: #1212ff;
  }

  .fr-btn:active {
    background-color: #2323ff;
  }

  .fr-btn:disabled,
  a.fr-btn:not([href]) {
    color: #929292;
    background-color: #e5e5e5;
  }

  .fr-btn--secondary {
    color: #000091;
    box-shadow: inset 0 0 0 1px #000091;
  }

  .fr-btn--secondary:disabled,
  a.fr-btn--secondary:not([href]) {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-btn--tertiary,
  .fr-btn--sort,
  .fr-btn--account {
    color: #000091;
    box-shadow: inset 0 0 0 1px #ddd;
  }

  .fr-btn--tertiary:disabled,
  a.fr-btn--tertiary:not([href]),
  a.fr-btn--sort:not([href]),
  a.fr-btn--account:not([href]),
  .fr-btn--sort:disabled,
  .fr-btn--account:disabled {
    color: #929292;
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  .fr-btn--tertiary-no-outline,
  .fr-btn--close,
  .fr-btn--display,
  .fr-btn--fullscreen,
  .fr-btn--tooltip,
  .fr-btn--briefcase,
  .fr-btn--team {
    color: #000091;
  }

  .fr-btn--tertiary-no-outline:disabled,
  a.fr-btn--tertiary-no-outline:not([href]),
  a.fr-btn--close:not([href]),
  a.fr-btn--display:not([href]),
  a.fr-btn--fullscreen:not([href]),
  a.fr-btn--tooltip:not([href]),
  a.fr-btn--briefcase:not([href]),
  a.fr-btn--team:not([href]),
  .fr-btn--close:disabled,
  .fr-btn--display:disabled,
  .fr-btn--fullscreen:disabled,
  .fr-btn--tooltip:disabled,
  .fr-btn--briefcase:disabled,
  .fr-btn--team:disabled {
    color: #929292;
  }

  .fr-btn--secondary,
  .fr-btn--tertiary,
  .fr-btn--tertiary-no-outline,
  .fr-btn--close,
  .fr-btn--display,
  .fr-btn--fullscreen,
  .fr-btn--tooltip {
    background-color: transparent;
  }
}
