/*!
 * DSFR v1.11.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media print {
  .fr-upload {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
